<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <script src="https://cdn.tiny.cloud/1/d34njokcv44llbkidi9xzg4nygezokgli9hsheb7tk7zkqxk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <div th:replace="~{wiki/editPostHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">
            <form id="postEditForm" style="height: 100%" th:object="${wikiPost}" method="post">
                <div class="row">
                    <div class="col pb-1">
                        <input type="text" class="form-control-sm flex-grow" style="width: 50%" th:id="postTitle" th:value="*{title}"
                               placeholder="Article Title" />
                        <span> Summary </span>
                        <i id="summaryIconRight" class="bi bi-caret-right h5 color-wiki" onclick="toggleSummary()"></i>
                        <i id="summaryIconDown" class="bi bi-caret-down h5 color-wiki" style="display: none" onclick="toggleSummary()"></i>
                        <i id="savingIcon" class="bi bi-file-earmark-arrow-up h5" style="color: green; display: none; float: right"></i>
                        <input type="hidden" id="authorId" th:value="*{author.id}" />
                        <input type="hidden" id="postId" th:value="*{id}" />
                        <input type="hidden" id="folder" th:value="*{folder}" />
                    </div>
                </div>
                <div id="summaryRow" class="row" style="display: none">
                    <div class="col pb-1">
                        <input type="text" class="form-control-sm flex-grow" style="width: 100%" th:id="postSummary"
                               placeholder="Article Summary"  th:value="*{summary}"/>
                    </div>
                </div>
                <dvi class="row">
                    <div class="col">
                        <textarea id="postBody" th:text="*{body}" style="width:100%; height: calc(100vh - 200px)"></textarea>
                        <script>
                            tinymce.init({
                                selector: '#postBody',
                                plugins: 'link lists image media code',
                                toolbar: 'alignleft aligncenter alignright alignjustify | formatselect | bullist numlist | outdent indent | link code',
                                toolbar_mode: 'floating',
                                tinycomments_author: 'Post Author'
                            });
                        </script>
                    </div>
                </dvi>
            </form>

        </div>

    </div>

    <dialog id="uploadDialog" class="upload-modal">
        <script>
            function doUploadImage() {
                // disable buttons and show progress
                document.getElementById('uploadProgress').style.display='block';
                document.getElementById('btnUploadSubmit').setAttribute("disabled", "disabled");
                document.getElementById('btnUploadCancel').setAttribute("disabled", "disabled");
                postImageFile();
            }

            async function postImageFile() {
                let formData = new FormData();
                formData.set("fileName", document.getElementById('fileName').value)
                formData.set("fileDescription", document.getElementById('fileDescription').value)
                formData.set("imageFile", document.getElementById('imageFile').files[0])

                const response = await fetch('/api/v1/contentmanager/wiki/uploadimage', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    navigator.clipboard.writeText(data.fileLocation);
                    completeImageUpload();
                });
            }

            function completeImageUpload() {
                // enable buttons and hide progress
                document.getElementById('uploadProgress').style.display='none';
                document.getElementById('btnUploadSubmit').removeAttribute("disabled");
                document.getElementById('btnUploadCancel').removeAttribute("disabled");
                // close dialog
                document.getElementById("uploadDialog").close();
            }
        </script>
        <h2>Upload Image</h2>
        <div class="flex-column">
            <form id="formUploadImage" method="dialog">
                <div class="row p-2">
                    <div class="col">
                        <label for="fileName" class="form-label">Name:</label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="fileName">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <label for="fileDescription" class="form-label">Description:</label>
                    </div>
                    <div class="col">
                        <input class="form-control" id="fileDescription">
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col">
                        <input class="form-control" id="imageFile" type="file">
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col">
                        <progress id="uploadProgress" style="display: none" />
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col">
                        <button id="btnUploadSubmit" type="button" class="btn btn-sm btn-wiki" onclick="doUploadImage()">Submit & Copy</button>
                        <button id="btnUploadCancel" formmethod="dialog" type="submit" class="btn btn-sm btn-outline-wiki">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </dialog>
    <dialog id="chooseDialog" class="upload-modal">
        <template id="tmpImage">
            <div class="grid_image_div m-1">
                <img src="" alt="" class="grid_image_element">
                <p></p>
            </div>
        </template>
        <script>
            async function loadImages() {
                const chooser = document.getElementById("pictureChooser");
                while (chooser.firstChild) {
                    chooser.removeChild(chooser.lastChild);
                }
                const template = document.getElementById("tmpImage");
                let searchTerm = document.getElementById("imgSearch").value;
                let apiURL = '/api/v1/contentmanager/wiki/images';
                if (searchTerm !== "") {
                    apiURL = apiURL + "/" + searchTerm;
                }

                const response = await fetch(apiURL
                ).then(response => {
                    return response.json();
                }).then(data => {
                    console.log(data);
                    for (let key in data) {
                        let obj = data[key];
                        let divID = "id-" + obj.id;

                        let clone = template.content.cloneNode(true);
                        let imgDiv = clone.querySelector("img");
                        imgDiv.src = obj.fileLocation;
                        imgDiv.alt = obj.name;
                        imgDiv.setAttribute("id", divID);
                        imgDiv.addEventListener("click", function (event) {
                            selectImage(event.target, 1);
                        });
                        imgDiv.addEventListener("dblclick", function (event) {
                            selectImage(event.target, 2);
                        });
                        let hdrDiv = clone.querySelector("p");
                        hdrDiv.innerText = obj.name;
                        chooser.appendChild(clone);
                    }
                });
            }

            function selectImage(element, type) {
                const chooser = document.getElementById("pictureChooser");
                let imgArray = chooser.querySelectorAll("img");

                for(let key in imgArray) {
                    let imgNode = imgArray[key];
                    try {imgNode.classList.remove("grid_image_selected_primary")}
                    catch (error) {console.log("not an image")}
                }
                element.classList.add("grid_image_selected_primary");
                let imageFullURL = element.src;
                let imageURL = imageFullURL.substring(websiteDomain.length, imageFullURL.length);
                navigator.clipboard.writeText(imageURL);
                if (type > 1) { dialogOK(); }
            }

            function dialogOK() {
                document.getElementById("chooseDialog").close();
            }
            function imageChooserKeyUp(event) {
                if (event.key == "Enter") { dialogOK() }
            }

        </script>
        <form method="dialog">
            <div class="d-flex">
                <label for="imgSearch" class="form-control-label h4 w-50" style="float: left">Choose Image</label>
                <input id="imgSearch" class="form-control pr-2 w-50" type="text" onkeyup="loadImages()"
                       placeholder="Search" aria-label="Search" style="float:right;">
            </div>

            <div id="pictureChooser" class="border border-1 rounded" onkeyup="imageChooserKeyUp()"
                 style="width: 410px; height: 410px; overflow-x: hidden; overflow-y: scroll"></div>
            <div class="d-flex">
                <button type="button" class="btn btn-sm btn-wiki m-2 w-25"
                        onclick="dialogOK()">Copy URL</button>
                <button type="button" class="btn btn-sm btn-outline-p m-2 w-25"
                        onclick="dialogOK()">Cancel</button>
            </div>
        </form>
    </dialog>
    <dialog id="chooseTag" class="tag-dialog">
        <template id="tmpTag">
            <span class="m-1 tag_primary" style="cursor: pointer"></span>
        </template>
        <script>
            async function loadTags() {
                let tagChooser = document.getElementById("tagChooser");
                while (tagChooser.firstChild) {
                    tagChooser.removeChild(tagChooser.lastChild);
                }
                const template = document.getElementById("tmpTag");
                let apiURL = '/api/v1/wiki/tags';

                const responseTag = await fetch(apiURL
                ).then(response => {
                    return response.json();
                }).then(data => {
                    for (let key in data) {
                        let obj = data[key];

                        let clone = template.content.cloneNode(true);
                        let tagSpan = clone.querySelector("span");
                            tagSpan.innerText = obj.name;

                        tagSpan.addEventListener("click", function (event) {
                            selectTag(event.target);
                        });

                        for (let tag of postTags) {
                            if (tag.name === obj.name) {
                                tagSpan.classList.add("tag_selected_primary");
                            }
                        }

                        tagChooser.appendChild(clone);
                    }
                });
            }

            async function newTag() {
                const template = document.getElementById("tmpTag");

                let apiURL = '/api/v1/wiki/newtag';
                let formData = new FormData();
                    formData.set("tagName", document.getElementById('newTagName').value)
                    formData.set("postId", document.getElementById('postId').value)

                const responseNewTag = await fetch(apiURL, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                    document.getElementById('newTagName').value = "";
                }).then(data => {
                    debugger
                    let tagChooser = document.getElementById("tagChooser");
                    let tagArray = tagChooser.querySelectorAll("span");
                    let missingTag = "";
                    postTags = data;
                    for (let span of tagArray) {
                        span.classList.remove("tag_selected_primary");
                        for (let t of postTags) {
                            missingTag = t.name;
                            if (t.name === span.innerText) {
                                span.classList.add("tag_selected_primary");
                                missingTag = "";
                            }
                        }
                    }
                    //add missing tags
                    if (missingTag !== "") {
                        let clone = template.content.cloneNode(true);
                        let tagSpan = clone.querySelector("span");
                        tagSpan.innerText = missingTag;
                        tagSpan.classList.add("tag_selected_primary");

                        tagSpan.addEventListener("click", function (event) {
                            selectTag(event.target);
                        });

                        tagChooser.appendChild(clone);
                        missingTag = "";
                    }
                });
            }

            async function updateTags(tag, target) {
                let apiURL = '/api/v1/wiki/'+target;
                let formData = new FormData();
                    formData.set("tagName", tag)
                    formData.set("postId", document.getElementById('postId').value)

                const responseNewTag = await fetch(apiURL, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    let tagChooser = document.getElementById("tagChooser");
                    let tagArray = tagChooser.querySelectorAll("span");
                    postTags = data;
                    for (let span of tagArray) {
                        span.classList.remove("tag_selected_primary");
                        for (let t of postTags) {
                            if (t.name === span.innerText) {
                                span.classList.add("tag_selected_primary");
                            }
                        }
                    }
                });
            }

            function selectTag(element) {
                let present = element.classList.contains("tag_selected_primary");
                if (present) {
                    updateTags(element.innerText, 'removetag');
                } else {
                    updateTags(element.innerText, 'addtag');
                }
            }

            function tagDialogOK() {
                document.getElementById("chooseTag").close();
            }

            function newTagInput(event) {
                event.preventDefault()
                if (event.key == "Enter") { newTag() }
            }

        </script>
        <form onsubmit="newTagInput(event)" method="dialog">
            <div class="d-flex">
                <label class="form-control-label h4 w-50" style="float: left">Tags</label>
            </div>

            <div id="tagChooser" class="border border-1 rounded"
                 style="width: 410px; height: 410px;"></div>
            <div class="d-flex">
                <input id="newTagName" class="form-control pr-2 w-50" type="text"
                       placeholder="New Tag" style="float: left;" onkeyup="newTagInput(event)">
                <button type="button" class="btn btn-sm btn-wiki m-2 w-25" style="float: right"
                        onclick="newTag()">New</button>
                <button type="button" class="btn btn-sm btn-wiki m-2 w-25" style="float: right"
                        onclick="tagDialogOK()">OK</button>
            </div>
        </form>
    </dialog>
    <dialog id="chooseFolder" class="tag-dialog">
        <template id="tmpFolder">
            <div class="m-0 p-0" style="cursor: pointer"></div>
        </template>
        <script>
            async function loadFolders() {
                const nchooser = document.getElementById("folderChooser");
                while (nchooser.firstChild) {
                    nchooser.removeChild(nchooser.lastChild);
                }
                const template = document.getElementById("tmpFolder");
                let apiURL = '/api/v1/wiki/folders';

                const response = await fetch(apiURL
                ).then(response => {
                    return response.json();
                }).then(data => {
                    console.log(data);
                    for (let key in data) {
                        let obj = data[key];

                        let clone = template.content.cloneNode(true);
                        let folderDiv = clone.querySelector("div");
                            folderDiv.innerText = obj.folder;

                        folderDiv.addEventListener("click", function (event) {
                            selectFolder(event.target, 1);
                        });
                        folderDiv.addEventListener("dblclick", function (event) {
                            selectFolder(event.target, 2);
                        });

                        nchooser.appendChild(clone);
                    }
                });
            }

            async function newFolder() {
                const fChooser = document.getElementById("folderChooser");
                const template = document.getElementById("tmpFolder");
                let folderArray = fChooser.querySelectorAll("div");

                for(let key in folderArray) {
                    let folderNode = folderArray[key];
                    try {folderNode.classList.remove("grid_image_selected_primary")}
                    catch (error) {console.log("not an folder")}
                }

                let apiURL = '/api/v1/wiki/folder';
                let formData = new FormData();
                    formData.set("name", document.getElementById('folderPath').value)

                const responseNewFolder = await fetch(apiURL, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    if (data.folder !== "") {
                        let clone = template.content.cloneNode(true);
                        let folderDiv = clone.querySelector("div");
                            folderDiv.innerText = data.folder;

                        folderDiv.addEventListener("click", function (event) {
                            selectFolder(event.target, 1);
                        });
                        folderDiv.addEventListener("dblclick", function (event) {
                            selectFolder(event.target, 2);
                        });
                        folderDiv.classList.add("grid_image_selected_primary");

                        document.getElementById('wikiPath').value = data.folder;
                        fChooser.appendChild(clone);
                        document.getElementById('folderPath').value = "";
                    }
                });
            }

            function selectFolder(element, type) {
                const divChooser = document.getElementById("folderChooser");
                let folderArray = divChooser.querySelectorAll("div");

                for(let key in folderArray) {
                    let folderNode = folderArray[key];
                    try {folderNode.classList.remove("grid_image_selected_primary")}
                    catch (error) {console.log("not an folder")}
                }
                element.classList.add("grid_image_selected_primary");
                document.getElementById("wikiPath").value = element.innerText;
                if (type > 1) { dialogOK(); }
            }

            function folderDialogOK() {
                document.getElementById('folder').value = document.getElementById("wikiPath").value;
                document.getElementById("chooseFolder").close();
            }

            function folderNewPath(event) {
                event.preventDefault();
                if (event.key == "Enter") { newFolder() }
            }

        </script>
        <form onsubmit="folderNewPath(event)" method="dialog">
            <div class="d-flex">
                <label for="wikiPath" class="form-control-label h4 w-50" style="float: left">Folder Path</label>
                <input id="wikiPath" class="form-control pr-2 w-50" type="text" th:value="${wikiPost.folder}"
                       placeholder="New Folder" style="float: left;" onkeyup="folderNewPath()" disabled>
            </div>

            <div id="folderChooser" class="border border-1 rounded"
                 style="width: 410px; height: 410px;"></div>
            <div class="d-flex">
                <input id="folderPath" class="form-control pr-2 w-50" type="text"
                       placeholder="New Folder" style="float: left;" onkeyup="folderNewPath(event)">
                <button type="button" class="btn btn-sm btn-wiki m-2 w-25" style="float: right"
                        onclick="newFolder()">New</button>
                <button type="button" class="btn btn-sm btn-wiki m-2 w-25" style="float: right"
                        onclick="folderDialogOK()">OK</button>
            </div>
        </form>
    </dialog>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const websiteDomain = /*[[${baseURL}]]*/ " ";
        let postTags = /*[[${wikiPost.tagList}]]*/ " ";
        let postContent = /*[[${wikiPost.body}]]*/ " ";
        /*]]>*/

        //tinyMCE.activeEditor.setContent(postContent);

        let closeOnSave = false;
        const iconSaving = document.getElementById('savingIcon');
        const iconSummaryRight = document.getElementById("summaryIconRight");
        const iconSummaryDown = document.getElementById("summaryIconDown");
        const rowSummary = document.getElementById("summaryRow");
        const inputSummary = document.getElementById("postSummary");

        function toggleSummary() {
            debugger
            if (iconSummaryRight.style.display === "none") {
                iconSummaryRight.style.display = "inline-block";
                iconSummaryDown.style.display = "none";
                rowSummary.style.display = "none";
            } else {
                iconSummaryRight.style.display = "none";
                iconSummaryDown.style.display = "inline-block";
                rowSummary.style.display = "block";
            }
        }

        async function processPost() {
            iconSaving.style.display = 'block';
            let myContent = tinyMCE.activeEditor.getContent();
            let myTextContent = tinyMCE.activeEditor.getContent({ format: "text" });
            let mySummary = inputSummary.value;
            if (inputSummary.value === "") {
                mySummary = myTextContent.substring(0,255);
            }

            let formData = new FormData();
                formData.set("id", document.getElementById('postId').value);
                formData.set("title", document.getElementById('postTitle').value);
                formData.set("body", myContent);
                formData.set("folder", document.getElementById('folder').value);
                formData.set("summary", mySummary);
                formData.set("authorId", document.getElementById('authorId').value);

            let newFolder = document.getElementById('folder').value;
            console.log(newFolder);

            const savePost = await fetch('/api/v1/wiki/save', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                document.getElementById('postId').value = data;
                iconSaving.style.display = 'none';
                document.getElementById("headerTag").classList.remove("disabled");
                document.getElementById("headerFolder").classList.remove("disabled");
                if (closeOnSave) {
                    window.location.href="/resource/article/"+data;
                }
            });
        }
        function closeEditor() {
            closeOnSave = true;
            processPost();
        }
        function manageTags() {
            if ( document.getElementById('postId').value > 0 ) {
                document.getElementById("chooseTag").showModal();
                loadTags();
            } else {
                alert("Please save you new article before adding tags.");
            }
        }
        function manageFolder() {
            if ( document.getElementById('postId').value > 0 ) {
                document.getElementById("chooseFolder").showModal();
                loadFolders();
            } else {
                alert("Please save you new article before adding it to a folder.");
            }
        }
        function uploadImageClick() {
            document.getElementById("uploadDialog").showModal();
        }

        function chooseImageClick() {
            document.getElementById("chooseDialog").showModal();
            loadImages();
        }
    </script>
  </div>

</html>