<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <script>
        let divCount = 0;
        let folderDivId = "folder-" + divCount;
    </script>

    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">

            <div class="h3 color-wiki" style="display: inline-block">
                <span class="h3 color-wiki">Resource Folder Manager </span>
                &nbsp;&nbsp;
                <i class="bi bi-plus-square h4 color-wiki" onclick="newFolder()"></i>
            </div>

            <div>
                Please make folder names URL safe.
            </div>

            <div id="folderListDisplay" th:each="item : ${folderList}">
                <script>
                    divCount++;
                    folderDivId = "folder-" + divCount;
                </script>
                <div th:replace="~{components/cardWikiFolderLine :: cardFragment(${item})}">List</div>
            </div>

        </div>

    </div>

    <dialog id="newFolder" class="tag-dialog">
        <script>
            function loadFolder() {
                document.getElementById('newTagName').value = "/";
                document.getElementById('newTagName').focus();
            }
            async function addNewFolder(tag, target) {
                let apiURL = '/api/v1/wiki/foldermanager/new';
                let formData = new FormData();
                    formData.set("id", "0")
                    formData.set("name", document.getElementById('newTagName').value)
                    formData.set("referencedFolder", "0")

                const responseEditTag = await fetch(apiURL, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    window.location.reload();
                });
            }

            function newFolderInput(event) {
                event.preventDefault()
                if (event.key == "Enter") { addNewFolder() }
            }

            function escFolderInput() {
                document.getElementById("newFolder").close();
            }

        </script>
        <form onsubmit="newFolderInput(event)" method="dialog">
            <div class="d-flex">
                <label class="form-control-label h4 pr-2 w-75" style="float: left">New Tag</label>
                <button class="btn btn-sm btn-outline-primary m-2 w-25" onclick="escFolderInput()">Close</button>
            </div>
            <div class="d-flex">
                <input id="newTagName" class="form-control pr-2 w-75" type="text"
                       placeholder="New Tag" style="float: left;" onkeyup="newTagInput(event)">
                <button type="button" class="btn btn-sm btn-wiki m-2 w-25" style="float: right"
                        onclick="addNewFolder()">Add</button>
            </div>
        </form>
    </dialog>

    <dialog id="updateFolder" class="tag-dialog">
        <script>
            async function updateFolder(name) {
                let apiURL = '/api/v1/wiki/foldermanager/update';
                let formData = new FormData();
                    formData.set("nameSource", document.getElementById('oldFolderName').value)
                    formData.set("nameDestination", document.getElementById('editFolderName').value)

                const responseEditFolder = await fetch(apiURL, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    if (data.nameSource !== data.nameDestination) {
                        alert("Folder already exists!")
                    }
                    window.location.reload();
                });
            }

            function editFolderDialogOK() {
                document.getElementById("updateFolder").close();
            }

            function editFolderInput(event) {
                event.preventDefault()
                if (event.key == "Enter") { newTag() }
            }

        </script>
        <form onsubmit="editFolderInput(event)" method="dialog">
            <div class="d-flex">
                <label class="form-control-label h4 w-50" style="float: left">Edit Folder Path</label>
            </div>
            <div class="d-flex">
                <input id="oldFolderName" type="hidden">
                <input id="editFolderName" class="form-control pr-2 w-50" type="text"
                       style="float: left;" onkeyup="editFolderInput(event)">
                <button type="button" class="btn btn-sm btn-wiki m-2 w-25" style="float: right"
                        onclick="updateFolder()">Update</button>
                <button type="button" class="btn btn-sm btn-wiki m-2 w-25" style="float: right"
                        onclick="editFolderDialogOK()">Cancel</button>
            </div>
        </form>
    </dialog>

    <script>
        async function deleteFolder(name) {
            debugger

            let apiURL = '/api/v1/wiki/foldermanager/delete';
            let formData = new FormData();
                formData.set("name", name)

            const responseDeleteTag = await fetch(apiURL, {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                if (data !== null ) {
                    window.location.reload();
                }
            });
        }

        function editFolder(name) {
            document.getElementById('oldFolderName').value = name;
            document.getElementById('editFolderName').value = name;
            document.getElementById('updateFolder').showModal();
        }

        async function newFolder() {
            document.getElementById('newFolder').showModal();
            loadFolder();
        }

    </script>

  </div>

</html>