<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">

            <h1 class="color-wiki">Welcome to Destiny Resources</h1>
            <p th:if="${#lists.isEmpty(wikiPostList)}">If it's on the Internet, it must be true.</p>

            <div class="row">

                <div class="col-12 col-lg-9">

                    <h5 onclick="toggleFolders()">Find Articles by Folders
                        <i id="cartFolderNavDown" class="bi bi-caret-down-fill" style="display: none"></i>
                        <i id="cartFolderNavRight" class="bi bi-caret-right-fill"></i>
                    </h5>
                    <div id="divFolderNav" class="folder-nav folder-nav-collapse">
                        <div th:each="folder : ${folderList}" style="display: inline-block">
                            <div class="tag_primary m-1" style="display: inline-block; cursor: pointer;"
                                 th:onclick="navToFolder([[*{folder.folder}]])" th:text="${folder.folder}">List</div>
                        </div>
                    </div>

                    <h5 class="mt-3">Recent Articles</h5>
                    <div th:each="post : ${wikiPostList}">
                        <div th:replace="~{components/cardPostLine :: cardFragment(${post})}">List</div>
                    </div>

        <!--            <div th:each="folder : ${wikiPostList}">-->
        <!--                <h5 th:text="${folder.folder}"></h5>-->
        <!--                <div th:each="post : ${folder.WikiPost}">-->
        <!--                    <div th:replace="~{components/cardPostLine :: cardFragment(${post})}">List</div>-->
        <!--                </div>-->
        <!--            </div>-->

                </div>

                <div class="col-12 col-lg-3">
                    <div class="card m-1">
                        <div class="card-title h6">Tags</div>
                        <div class="card-section">
                            <div class="tag_primary m-1" style="display: inline-block; cursor: pointer;" th:onclick="navToTag([[*{tag.id}]])"
                                 th:each="tag : *{tagList}" th:text="${tag.name + '(' + tag.references + ')'}"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let searchTerm = /*[[${searchTerm}]]*/ " ";
        /*]]>*/
        document.getElementById("searchInput").value = searchTerm;

        function navToTag(id) {
            window.location.href="/resource/tag/"+id;
        }
        function navToFolder(name) {
            window.location.href="/resource/articles"+name;
        }

        let folders = document.getElementById("divFolderNav");
        let caretDown = document.getElementById("cartFolderNavDown");
        let caretRight = document.getElementById("cartFolderNavRight");

        folders.classList.remove("folder-nav-collapse");
        caretDown.style.display = "none";
        caretRight.style.display = "inline-block";

        function toggleFolders() {
            if (folders.classList.contains("folder-nav-collapse")){
                folders.classList.remove("folder-nav-collapse");
                caretDown.style.display = "none";
                caretRight.style.display = "inline-block";
            } else {
                folders.classList.add("folder-nav-collapse");
                caretDown.style.display = "inline-block";
                caretRight.style.display = "none";
            }
        }
    </script>

  </div>

</html>