<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="title-header">
            <div id="resourcePageTitle" class="h3 title-header-left" style="flex-grow: 1" th:text="${pageTitle}">Topics</div>
            <div class="h4 text-link title-header-right" th:onclick="navToRecent()">Recent Articles</div>

        </div>

        <div class="wiki-article">

            <div class="wiki-body col-12 col-md-9">
                <div th:each="topic : ${wikiPostList}">
                    <div class="mt-5 h5">
                        <span class="text-link" th:text="${#strings.capitalize(topic.folder)}" th:onclick="navToFolderTopic([[${topic.folder}]])"></span>
                    </div>
                    <div class="article-topic-list">
                        <div th:each="post, pStat : ${topic.wikiPost}" th:object="${post}">
                            <div class="article-topic-entry selectableItem m-2" th:onclick="navToPost([[${post.id}]])">
                                <div class="article-topic-details">
                                    <div class="article-topic-title"><span th:text="${post.title}"></span></div>
                                    <div class="article-topic-summary"><span th:text="${post.summary}"></span></div>
                                    <div class="article-topic-info-subheading d-block d-md-none">
                                        Author: <span th:text="*{author.fullName}"></span>&nbsp;&nbsp;&nbsp;
                                        Updated: <span th:text="*{#temporals.format(lastUpdated, 'MMM-dd-yyyy HH:mm')}"></span>
                                    </div>
                                </div>
                                <div class="article-topic-info d-none d-md-block">
                                    <div class="article-topic-author">Author: <span th:text="*{author.fullName}"></span></div>
                                    <div class="article-topic-date">Updated: <span th:text="*{#temporals.format(lastUpdated, 'MMM-dd-yyyy HH:mm')}"></span></div>
                                </div>
                            </div>
                            <hr th:if="${pStat.count eq topic.pinnedPosts}">
                        </div>

                        <th:block th:if="${not #lists.isEmpty(topic.subFolders)}">
                            <div class="px-3 pt-2 h6">Folders</div>
                            <div th:each="folder : ${topic.subFolders}" th:object="${folder}">
                                <div class="px-3 article-topic-entry" th:onclick="navToFolder([[${folder.folder}]])">
                                    <span class="text-link" th:text="${folder.folder}"></span>
                                </div>
                            </div>
                        </th:block>

                    </div>
                </div>
            </div>

            <div class="wiki-info col-12 col-md-3">
                <div class="wiki-info-headroom d-sm-none d-md-block"></div>

                <div class="card m-1">
                    <div class="card-title h6 selectableItem p-2" onclick="toggleResourceInfo()">Navigation</div>

                    <div id="navItemList"></div>

                </div>

                <div class="card m-1">
                    <div class="card-title h6 selectableItem p-2" onclick="toggleResourceInfo()">Tags</div>
                    <hr>
                    <div>
                        <div class="tag_primary m-1 selectableItem" style="display: inline-block;" th:onclick="navToTag([[*{tag.id}]])"
                             th:each="tag : *{tagList}" th:text="${tag.name + '(' + tag.referencedTag + ')'}"></div>
                    </div>
                </div>

                <div class="card m-1">
                    <div class="card-title h6 selectableItem p-2" onclick="toggleResourceInfo()">Articles</div>
                    <div class="card-title h6 selectableItem px-2" onclick="navUserArticles()">View All Articles</div>
                    <hr>
                    <div class="card-title h6 px-2" onclick="navUserArticles()">Unpublished</div>
                    <div class="selectableItem p-1" th:onclick="navToPost([[*{unpublished.id}]])"
                         th:each="unpublished : *{unpublishedList}" th:text="${unpublished.title}"></div>
                </div>
            </div>


            <div class="wiki-info-tab-home hide">
                <div class="wiki-info-tab-title selectableItem" onclick="toggleResourceInfo()">
                    Articles
                </div>
                <div class="wiki-info-tab-title selectableItem" onclick="toggleResourceInfo()">
                    Tags
                </div>
                <div class="wiki-info-tab-title selectableItem" onclick="toggleResourceInfo()">
                    Navigation
                </div>
            </div>

            <div class="wiki-info-tab-home hide">
                <div class="wiki-info-tab-title selectableItem" onclick="toggleResourceInfo()">
                    Articles
                </div>
                <div class="wiki-info-tab-title selectableItem" onclick="toggleResourceInfo()">
                    Tags
                </div>
                <div class="wiki-info-tab-title selectableItem" onclick="toggleResourceInfo()">
                    Navigation
                </div>
            </div>

        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let searchTerm = /*[[${searchTerm}]]*/ " ";
        let hideInfo = /*[[${hideInfo}]]*/ " ";
        let jsPageTitle = /*[[${pageTitle}]]*/ " ";
        /*]]>*/
        document.getElementById("searchInput").value = searchTerm;

        function navToTag(id) {
            window.location.href="/resource/tag/"+id;
        }
        function navToFolderTopic(name) {
            window.location.href="/resource/articles/"+name;
        }
        function navToFolder(name) {
            window.location.href="/resource/articles"+name;
        }
        function navToPost(id) {
            window.location.href="/resource/article/"+id;
        }
        function navToNavLink(str) {
            console.log(str);
            debugger
            window.location.href=str;
        }
        function navToRecent() {
            window.location.href="/resource/recent";
        }

        function navUserArticles() {
            window.location.href="/resource/user";
        }

        function toggleResourceInfo() {
            let tab = document.querySelector(".wiki-info-tab-home");
            let info = document.querySelectorAll(".wiki-info");
            let wikiBody = document.querySelector(".wiki-body");
            if (tab.classList.contains("hide")) {
                tab.classList.remove("hide");
                for (let key in info) {
                    try {
                        info[key].classList.add("hide");
                    } catch (e) {
                        console.log(info[key])
                    }
                }
                wikiBody.classList.add("wiki-body-padding");
                tab.scrollIntoView();
            } else {
                tab.classList.add("hide");
                for (let key in info) {
                    try {
                        info[key].classList.remove("hide");
                    } catch (e) {
                        console.log(info[key])
                    }
                }
                wikiBody.classList.remove("wiki-body-padding");
                info[0].scrollIntoView();
            }
        }

        function setInfoShow() {
            if (window.innerWidth < 768) {
                toggleResourceInfo();
            }
        }

        function setPageTitleLinks() {
            console.log(jsPageTitle);
            let titleArray = jsPageTitle.split("/");
            let titleEl = document.getElementById("resourcePageTitle");

            // set vars for loop
            titleEl.innerHTML = "";
            let crumb = "/resource/articles"

            if (titleArray.length <= 1) {
                titleEl.innerHTML += titleArray[0];
            } else {
                // first link is resource home
                titleEl.innerHTML += `\/&nbsp;<a href="/resource">resources</a>&nbsp;`;
                // build breadcrumb
                for (let a = 1; a < titleArray.length; a++) {
                    if (a < titleArray.length-1) {
                        if (titleArray[a] !== "") {
                            crumb += "/" + titleArray[a];
                            titleEl.innerHTML += `\/&nbsp;<a href="` + crumb + `">` + titleArray[a] + `</a>&nbsp;`;
                        }
                    } else {
                        titleEl.innerHTML += "/ "+titleArray[a];
                    }
                }

            }
        }

        async function listNavItems() {
            const response = await fetch('/api/v1/wiki/navigator/list', {
                method: 'GET'
            }).then(response => {
                return response.json();
            }).then(data => {
                // remove currently displayed nav items
                let navList = document.getElementById("navItemList");
                while (navList.firstChild) {
                    navList.removeChild(navList.firstChild);
                }
debugger
                // create the list
                let theList = document.createElement("ul");
                let ulLevel = null;
                let indent = 0;

                // loop over return and create list
                for (let i in data) {
                    //loop each nav item and create dvi to show
                    let item = data[i];
                    // check if indenting
                    if (item.indentationItem) {
                        if (indent < 1) {
                            ulLevel = document.createElement("ul");
                            indent = 1;
                        }
                        // add list item indented ul
                        let itemLI = document.createElement("li");
                            itemLI.classList.add("selectableItem");
                            itemLI.addEventListener("click", function(event) {
                                navToNavLink(item.linkLocation);
                            });
                            itemLI.innerText = item.name;
                        ulLevel.appendChild(itemLI);
                    } else {
                        if (indent > 0) {
                            theList.appendChild(ulLevel);
                            ulLevel = null;
                            indent = 0;
                        }
                        // add list item
                        let itemLI = document.createElement("li");
                            itemLI.classList.add("selectableItem");
                            itemLI.addEventListener("click", function (event) {
                                navToNavLink(item.linkLocation);
                            });
                            itemLI.innerText = item.name;
                        theList.appendChild(itemLI);
                    }
                }
                if (indent > 0) {
                    theList.appendChild(ulLevel);
                    ulLevel = null;
                    indent = 0;
                }
                navList.appendChild(theList);
            });
        }

        listNavItems();
        setInfoShow();
        setPageTitleLinks();

    </script>

</div>

</html>