<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">

            <h1 style="color: royalblue">Welcome to the Destiny Wiki</h1>
            <p>If it's on the Internet, it must be true.</p>

            <ul th:each="wikiPost : ${wikiPostList}">
                <li>
                    <a th:href="@{'/wiki/post/'}+${wikiPost.id}" th:text="${wikiPost.title}"></a>
                </li>
            </ul>

        </div>

    </div>
  </div>

</html>