<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">

            <h1 style="color: royalblue">Welcome to the Destiny Wiki</h1>
            <p>If it's on the Internet, it must be true.</p>

            <div class="row">

                <div class="col-12 col-lg-9">

                    <h5 class="mt-3" onclick="toggleFolders()">Articles Found <small>more options
                        <i id="cartFolderNavDown" class="bi bi-caret-down-fill" style="display: none"></i>
                        <i id="cartFolderNavRight" class="bi bi-caret-right-fill"></i>
                    </small></h5>

                    <div id="divOptionsNav" class="folder-nav folder-nav-collapse">
                        <div style="display: inline-block">
                            <label>Search With Articles </label> <input id="chkArticles" type="checkbox" onchange="searchAll()">
                        </div>
                    </div>

                    <div th:each="post : ${wikiPostList}">
                        <div th:replace="~{components/cardPostLine :: cardFragment(${post})}">List</div>
                    </div>

                </div>

                <div class="col-12 col-lg-3">
                    <div class="card m-1">
                        <div class="card-title h6">Tags</div>
                        <div class="card-section">
                            <div class="tag_primary m-1" style="display: inline-block; cursor: pointer;" th:onclick="navToTag([[*{tag.id}]])"
                                 th:each="tag : *{tagList}" th:text="${tag.name + '(' + tag.count + ')'}"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let searchTerm = /*[[${searchTerm}]]*/ " ";
        /*]]>*/

        function navToTag(id) {
            window.location.href="/wiki/tag/"+id;
        }
        function navToFolder(name) {
            window.location.href="/wiki/articles"+name;
        }

        let options = document.getElementById("divOptionsNav");
        let caretDown = document.getElementById("cartFolderNavDown");
        let caretRight = document.getElementById("cartFolderNavRight");
        let articleSelect = document.getElementById("chkArticles");
        let newSearch = document.getElementById("searchInput");

        newSearch.value = searchTerm;

        options.classList.remove("folder-nav-collapse");
        caretDown.style.display = "none";
        caretRight.style.display = "inline-block";

        function toggleFolders() {
            if (options.classList.contains("folder-nav-collapse")){
                options.classList.remove("folder-nav-collapse");
                caretDown.style.display = "none";
                caretRight.style.display = "inline-block";
            } else {
                options.classList.add("folder-nav-collapse");
                caretDown.style.display = "inline-block";
                caretRight.style.display = "none";
            }
        }

        function searchAll() {
            if (articleSelect.checked) {
                window.location.href = "/wiki/search/article/" + searchTerm;

            } else {
                window.location.href = "/wiki/search/title/" + searchTerm;
            }
        }

    </script>

  </div>

</html>