<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2" th:object="${wikiPost}">

            <h2 style="color: royalblue; float: left">
                <span th:text="*{title}">Wiki Title</span>
                <a th:href="@{'/wiki/post/edit/'}+*{id}" th:if="*{author.id} == ${userId}"> <i class="bi bi-pencil-square h6"></i></a>
            </h2>

            <div>
                <div style="float: left">
                    By: <span th:text="*{author.firstName + ' ' + author.lastName}"></span>
                </div>
                <div style="float: right">
                    updated on: <span th:text="*{#temporals.format(lastUpdated, 'dd-MMM-yyyy HH:mm')}"></span>
                </div>
            </div>

            <hr />

            <div th:utext="*{body}"></div>

        </div>

    </div>
  </div>

</html>