<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <th:block th:if="${#lists.contains(userRoles,'ADMIN_WRITE')
                or #lists.contains(userRoles,'RESOURCE_SUPERVISOR')
                or #lists.contains(userRoles,'RESOURCE_READ')
                or #lists.contains(userRoles,'RESOURCE_WRITE')}">
    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>
    </th:block>


    <div class="mx-2" th:object="${wikiPost}">

        <div class="row mt-2">

            <h2 class="color-wiki" style="float: left">
                <span th:text="*{title}">Article Title</span>
                <a th:href="@{'/resource/edit/'}+*{id}" th:if="${wikiPostEditor}"> <i class="bi bi-pencil-square h6"></i></a>
            </h2>

            <hr />

        </div>

        <div class="wiki-article">

            <div class="wiki-body col-12 col-md-9">
                <div th:utext="*{body}"></div>
            </div>

            <div class="wiki-info col-12 col-md-3"
                 th:if="${#lists.contains(userRoles,'ADMIN_WRITE')
                or #lists.contains(userRoles,'RESOURCE_SUPERVISOR')
                or #lists.contains(userRoles,'RESOURCE_READ')
                or #lists.contains(userRoles,'RESOURCE_WRITE')}">
                <div class="card m-1">
                    <div class="card-title h6 selectableItem m-2" onclick="toggleResourceInfo()">Article Info</div>
                    <hr class="pt-0">
                    <span><u>Article Location:</u><a id="articleLink" href="#"><i class="bi bi-box-arrow-up-right"></i></a></span>
                        <div class="p-2" id="articleLinkText"></div>
                    <u>Author:</u>
                        <div class="m-2" id="articleAuthor" th:text="*{author.firstName + ' ' + author.lastName}"></div>
                    <u>Updated:</u>
                        <div class="m-2" id="articleDate" th:text="*{#temporals.format(lastUpdated, 'MMM-dd-yyyy HH:mm')}"></div>
                </div>

                <div class="card m-1">
                    <div class="card-title h6 selectableItem m-2" onclick="toggleResourceInfo()">Tags</div>
                    <hr>
                    <div class="tag_primary m-1" style="display: inline-block; cursor: pointer;" th:onclick="navToTag([[*{id}]])"
                         th:each="tag : *{tagList}" th:text="${tag.name}"></div>
                </div>
            </div>

            <div class="wiki-info-tab hide"
                 th:if="${#lists.contains(userRoles,'ADMIN_WRITE')
                or #lists.contains(userRoles,'RESOURCE_SUPERVISOR')
                or #lists.contains(userRoles,'RESOURCE_READ')
                or #lists.contains(userRoles,'RESOURCE_WRITE')}">
                <div class="wiki-info-tab-title selectableItem" onclick="toggleResourceInfo()">
                    Tags
                </div>
                <div class="wiki-info-tab-title selectableItem" onclick="toggleResourceInfo()">
                    Article Info
                </div>
            </div>

        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let postFolder = /*[[${wikiPost.folder}]]*/ " ";
        let postTitle = /*[[${wikiPost.title}]]*/ " ";
        let hideInfo = /*[[${wikiPost.hideInfo}]]*/ " ";
        const websiteDomain = /*[[${baseURL}]]*/ " ";
        /*]]>*/

        let safeTitle = postTitle.replaceAll(" ","_");
        let postLinkText = "/resource/articles"+postFolder+"/"+safeTitle.toLowerCase();
        let postLink = websiteDomain+postLinkText;
        document.getElementById("articleLinkText").innerText = postLinkText;
        document.getElementById("articleLink").href = postLink;

        function navToTag(id) {
            window.location.href="/resource/tag/"+id;
        }

        function toggleResourceInfo() {
            let tab = document.querySelector(".wiki-info-tab");
            let info = document.querySelectorAll(".wiki-info");
            if (tab.classList.contains("hide")) {
                tab.classList.remove("hide");
                for (let key in info) {
                    try {
                        info[key].classList.add("hide");
                    } catch (e) {
                        console.log(info[key])
                    }
                }
            } else {
                tab.classList.add("hide");
                for (let key in info) {
                    try {
                        info[key].classList.remove("hide");
                    } catch (e) {
                        console.log(info[key])
                    }
                }
            }
        }

        if (hideInfo) {
            toggleResourceInfo();
        }
    </script>

</div>

</html>