<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>

    <div class="mx-2" th:object="${wikiPost}">

        <div class="row mt-2">

            <h2 style="color: royalblue; float: left">
                <span th:text="*{title}">Article Title</span>
                <a th:href="@{'/resource/article/edit/'}+*{id}" th:if="*{author.id} == ${userId}"> <i class="bi bi-pencil-square h6"></i></a>
            </h2>

            <hr />

        </div>
        <div class="row">
            <div class="col-12 col-lg-9">
                <div th:utext="*{body}"></div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card m-1">
                    <div class="card-title h6">Article Info</div>
                    <div class="card-section">
                        Article Location: <a id="articleLink" href="#"><i class="bi bi-box-arrow-up-right"></i></a><br>
                            <span id="articleLinkText"></span><br>
                        Author:<br>
                            <span id="articleAuthor" th:text="*{author.firstName + ' ' + author.lastName}"></span><br>
                        Updated:<br>
                            <span id="articleDate" th:text="*{#temporals.format(lastUpdated, 'dd-MMM-yyyy HH:mm')}"></span><br>
                    </div>
                </div>

                <div class="card m-1">
                    <div class="card-title h6">Tags</div>
                    <div class="card-section">
                        <div class="tag_primary m-1" style="display: inline-block; cursor: pointer;" th:onclick="navToTag([[*{id}]])"
                             th:each="tag : *{tagList}" th:text="${tag.name}"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let postFolder = /*[[${wikiPost.folder}]]*/ " ";
        let postTitle = /*[[${wikiPost.title}]]*/ " ";
        const websiteDomain = /*[[${baseURL}]]*/ " ";
        /*]]>*/

        let safeTitle = postTitle.replace(" ","-");
        let postLinkText = postFolder+"/"+safeTitle.toLowerCase();
        let postLink = websiteDomain+"/resource/articles"+postLinkText;
        document.getElementById("articleLinkText").innerText = postLinkText;
        document.getElementById("articleLink").href = postLink;

        function navToTag(id) {
            window.location.href="/resource/tag/"+id;
        }
    </script>

  </div>

</html>