<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">

            <div class="h3" style="color: #0d6efd; display: inline-block">
                <span class="h3" style="color: #0d6efd;">Resource Tag Manager </span>
                &nbsp;&nbsp;
                <i class="bi bi-plus-square h4" style="color: #0d6efd;" onclick="newTag()"></i>
            </div>

            <div id="tagListDisplay" th:each="item : ${tagList}">
                <div th:replace="~{components/cardWikiTagLine :: cardFragment(${item})}">List</div>
            </div>

        </div>

    </div>

    <dialog id="newTag" class="tag-dialog">
        <script>
            async function addNewTag(tag, target) {
                let apiURL = '/api/v1/wiki/tagmanager/new';
                let formData = new FormData();
                    formData.set("id", "0")
                    formData.set("name", document.getElementById('newTagName').value)
                    formData.set("references", "0")

                const responseEditTag = await fetch(apiURL, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    window.location.reload();
                });;
            }

            function newTagDialogOK() {
                document.getElementById("chooseTag").close();
            }

            function newTagInput(event) {
                event.preventDefault()
                if (event.key == "Enter") { newTag() }
            }

        </script>
        <form onsubmit="newTagInput(event)" method="dialog">
            <div class="d-flex">
                <label class="form-control-label h4 w-50" style="float: left">New Tag</label>
            </div>
            <div class="d-flex">
                <input id="newTagName" class="form-control pr-2 w-50" type="text"
                       placeholder="New Tag" style="float: left;" onkeyup="newTagInput(event)">
                <button type="button" class="btn btn-sm btn-primary m-2 w-25" style="float: right"
                        onclick="addNewTag()">Add</button>
                <button type="button" class="btn btn-sm btn-primary m-2 w-25" style="float: right"
                        onclick="newTagDialogOK()">OK</button>
            </div>
        </form>
    </dialog>

    <dialog id="updateTag" class="tag-dialog">
        <script>
            async function updateTag(tag, target) {
                let apiURL = '/api/v1/wiki/tagmanager/update';
                let formData = new FormData();
                    formData.set("id", document.getElementById('editTagId').value)
                    formData.set("name", document.getElementById('editTagName').value)
                    formData.set("references", "0")

                const responseEditTag = await fetch(apiURL, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    window.location.reload();
                });
            }

            function editTagDialogOK() {
                document.getElementById("chooseTag").close();
            }

            function editTagInput(event) {
                event.preventDefault()
                if (event.key == "Enter") { newTag() }
            }

        </script>
        <form onsubmit="editTagInput(event)" method="dialog">
            <div class="d-flex">
                <label class="form-control-label h4 w-50" style="float: left">Edit Tag</label>
            </div>
            <div class="d-flex">
                <input id="editTagId" type="hidden">
                <input id="editTagName" class="form-control pr-2 w-50" type="text"
                       style="float: left;" onkeyup="editTagInput(event)">
                <button type="button" class="btn btn-sm btn-primary m-2 w-25" style="float: right"
                        onclick="updateTag()">Update</button>
                <button type="button" class="btn btn-sm btn-primary m-2 w-25" style="float: right"
                        onclick="editTagDialogOK()">OK</button>
            </div>
        </form>
    </dialog>

    <script>
        async function deleteTag(el, id) {
            debugger
            let element = document.getElementById(el);
            let tagSpanQry = element.querySelectorAll("span");

            let apiURL = '/api/v1/wiki/tagmanager/delete';
            let formData = new FormData();
            formData.set("id", id)
            formData.set("name", tagSpanQry[0].innerText)
            formData.set("references", tagSpanQry[1].innerText)

            const responseDeleteTag = await fetch(apiURL, {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                if (data !== null ) {
                    window.location.reload();
                }
            });
        }

        function editTag(id, name) {
            document.getElementById('editTagId').value = id;
            document.getElementById('editTagName').value = name;
            document.getElementById('updateTag').showModal();
        }

        async function newTag() {
            document.getElementById('newTag').showModal();
        }

    </script>

  </div>

</html>