<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">

            <h1 style="color: royalblue">Welcome to Destiny Resources</h1>

            <div class="row">

                <div class="col-12 col-lg-9">

                    <div th:utext="${wikiPost.body}"></div>

                </div>

                <div class="col-12 col-lg-3">
                    <div class="card m-1">
                        <div class="card-title h6">Tags</div>
                        <div class="card-section">
                            <div class="tag_primary m-1" style="display: inline-block; cursor: pointer;" th:onclick="navToTag([[*{tag.id}]])"
                                 th:each="tag : *{tagList}" th:text="${tag.name + '(' + tag.references + ')'}"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let searchTerm = /*[[${searchTerm}]]*/ " ";
        /*]]>*/
        document.getElementById("searchInput").value = searchTerm;

        function navToTag(id) {
            window.location.href="/resource/tag/"+id;
        }
        function navToFolder(name) {
            window.location.href="/resource/articles"+name;
        }

        let folders = document.getElementById("divFolderNav");
        let caretDown = document.getElementById("cartFolderNavDown");
        let caretRight = document.getElementById("cartFolderNavRight");

        folders.classList.remove("folder-nav-collapse");
        caretDown.style.display = "none";
        caretRight.style.display = "inline-block";

        function toggleFolders() {
            if (folders.classList.contains("folder-nav-collapse")){
                folders.classList.remove("folder-nav-collapse");
                caretDown.style.display = "none";
                caretRight.style.display = "inline-block";
            } else {
                folders.classList.add("folder-nav-collapse");
                caretDown.style.display = "inline-block";
                caretRight.style.display = "none";
            }
        }
    </script>

  </div>

</html>