<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{wiki/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">

            <div class="wiki-article">
                <div class="wiki-body">
                    <div th:utext="${wikiPost.body}"></div>
                </div>

                <div class="wiki-info-tab hide">
                    <div class="wiki-info-tab-title selectableItem" onclick="toggleResourceInfo()">
                        Unpublished
                    </div>
                    <div class="wiki-info-tab-title selectableItem" onclick="toggleResourceInfo()">
                        Tags
                    </div>
                </div>

                <div class="wiki-info">
                    <div class="card m-1 gradient-right">
                        <div class="card-title h6 selectableItem" onclick="toggleResourceInfo()">Tags</div>
                        <hr>
                        <div>
                        <div class="tag_primary m-1 selectableItem" style="display: inline-block;" th:onclick="navToTag([[*{tag.id}]])"
                             th:each="tag : *{tagList}" th:text="${tag.name + '(' + tag.references + ')'}"></div>
                        </div>
                    </div>

                    <div class="card m-1 gradient-right">
                        <div class="card-title h6 selectableItem" onclick="toggleResourceInfo()">Unpublished Articles</div>
                        <hr>
                        <div class="selectableItem p-1" th:onclick="navToPost([[*{unpublished.id}]])"
                             th:each="unpublished : *{unpublishedList}" th:text="${unpublished.title}"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let searchTerm = /*[[${searchTerm}]]*/ " ";
        let hideInfo = /*[[${wikiPost.hideInfo}]]*/ " ";
        /*]]>*/
        document.getElementById("searchInput").value = searchTerm;

        function navToTag(id) {
            window.location.href="/resource/tag/"+id;
        }
        function navToPost(id) {
            window.location.href="/resource/article/"+id;
        }

        function toggleResourceInfo() {
            debugger
            let tab = document.querySelector(".wiki-info-tab");
            let info = document.querySelectorAll(".wiki-info");
            if (tab.classList.contains("hide")) {
                tab.classList.remove("hide");
                for (let key in info) {
                    try {
                        info[key].classList.add("hide");
                    } catch (e) {
                        console.log(info[key])
                    }
                }
            } else {
                tab.classList.add("hide");
                for (let key in info) {
                    try {
                        info[key].classList.remove("hide");
                    } catch (e) {
                        console.log(info[key])
                    }
                }
            }
        }

        if (hideInfo) {
            toggleResourceInfo();
        }
    </script>

  </div>

</html>