<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid" layout:fragment="content">

  <div th:replace="~{admin/moduleHeader :: header}">Header</div>

  <div class="container my-3" th:object="${user}">

    <div class="row">

      <div class="column col-lg-4">

        <div class="card">
          <div class="card-title alert alert-primary">
            <div style="float: right">
              <button class="btn btn-sm btn-info small"
                      th:onclick="window.location.href='/user/[[${user.id}]]/changepassword';">Password</button>
              <button class="btn btn-sm btn-success small"
                      th:onclick="window.location.href='/user/[[${user.id}]]/edit';">Edit</button>
            </div>
            <h5>
              <span th:text="*{firstName}"/> <span th:text="*{lastName}"/>
            </h5>
          </div>

          <div class="card-body">

            <p>Username: <span class="card-text" th:text="*{username}"/></p>
            <p>E-mail: <span class="card-text" th:text="*{contactEmail}"/></p>
            <p>Campus: <span class="card-text" th:text="*{campus.name}"/></p>
            <p>Department: <span class="card-text" th:text="*{department.name}"/></p>
            <p>Position: <span class="card-text" th:text="*{position.name}"/></p>
            <p>Supervisor: <span class="card-text" th:text="*{director.firstName + ' ' + director.lastName}"/></p>
          </div>
        </div>
      </div>

      <div class="column col-lg-4">
        <div class="card">
          <div class="card-title alert alert-primary bg-faded">
            <button class="btn btn-sm btn-success small" style="float: right"
                    th:onclick="window.location.href='/user/[[${user.id}]]/addpermission'">Add</button>
            <h5>Site Authorizations</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush" th:each="role : *{UserRoles}">
              <li class="list-group-item">
                <button class="btn btn-sm btn-danger small" style="float: right"
                        th:onclick="window.location.href='/user/[[${user.id}]]/removerole/[[${role.name}]]'">Remove</button>
                <span th:text="${role.name}"/>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="column col-lg-4">
          <p>&nbsp;</p>
      </div>

    </div>

  </div>
</div>

</html>