<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container" layout:fragment="content">

  <div th:replace="~{admin/moduleHeader :: header}">Header</div>

  <div class="container my-3">

    <div style="float: right">
      <button class="btn btn-sm btn-success"
              th:onclick="window.location.href='/user/new';">Add</button>
    </div>

    <h1 th:text="${title}"></h1>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Location</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}" class="selectableItem" style="cursor: pointer"
          th:onclick="window.location.href='/user/[[${user.id}]]';">
        <td th:text="${user.username}"></td>
        <td><span th:text="${user.firstName}"/> <span th:text="${user.lastName}"/></td>
        <td><span th:text="${user.position.name}"/></td>
        <td><span th:text="${user.location.name}"/></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</html>