<div th:fragment="header">

    <nav class="navbar navbar-expand navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBreadcrumb" aria-controls="navbarBreadcrumb" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" id="navbarBreadcrumb">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="/admin">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/location">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/position">Positions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/roles">User Roles</a>
          </li>

        </ul>
      </div>
    </nav>

</div>