<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://thymeleaf.org"
     xmlns="http://www.w3.org/1999/html">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top justify-content-start">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img th:src="@{/img/favicon.png}" alt="Exchange Logo" width="32" />
      </a>

      <div class="navbar-nav mr-auto d-block d-sm-none">
        <a id="commonHeaderTitle" class="nav-link h3" style="cursor: pointer" rhef="/">DWC</a>
      </div>

      <div class="navbar-nav d-block d-sm-none mr-2 pull-right" sec:authorize="isAuthenticated()">
        <a href="/cart" style="text-decoration: none">
          <i class="bi bi-cart cart-icon"></i>
          <span id="cartItemCountCollapsed" class="cart-item-count" th:text="${session.cartItemCount}"></span>
        </a>
      </div>
      <div class="navbar-nav d-block d-sm-none mr-2 pull-right orderRequest-last" sec:authorize="isAnonymous()">
        <li class="nav-item">
          <a class="btn btn-sm btn-info mx-4 pl-2 pr-5" href="#" onclick="showLogin()">Login</a>
        </li>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" sec:authorize="isAuthenticated()"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-grow-1" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0 ml-2" sec:authorize="isAuthenticated()">
          <li class="nav-item d-sm-none">
            <a class="nav-link" style="color: #eeeeee !important;" href="/">Home</a>
          </li>
          <li class="nav-item d-sm-none">
            <a class="nav-link" style="color: #eeeeee !important;" th:if="${#lists.contains(userRoles,'ADMIN_WRITE')
                  or #lists.contains(userRoles,'STORE_SUPERVISOR') or #lists.contains(userRoles,'STORE_READ')
                  or #lists.contains(userRoles,'STORE_WRITE')}"  href="/store">Store</a>
          </li>
          <li class="nav-item d-sm-none">
            <a class="nav-link" style="color: #eeeeee !important;"th:if="${#lists.contains(userRoles,'ADMIN_WRITE')
                  or #lists.contains(userRoles,'RESOURCE_SUPERVISOR') or #lists.contains(userRoles,'RESOURCE_READ')
                  or #lists.contains(userRoles,'RESOURCE_WRITE')}" href="/resource">Resource</a>
          </li>
          <li class="nav-item d-sm-none">
            <a class="nav-link" style="color: #eeeeee !important;" th:if="${#lists.contains(userRoles,'ADMIN_WRITE')
                  or #lists.contains(userRoles,'SUPPORT_READ') or #lists.contains(userRoles,'SUPPORT_WRITE')
                  or #lists.contains(userRoles,'SUPPORT_AGENT') or #lists.contains(userRoles,'SUPPORT_SUPERVISOR')}" href="/support">Support</a>
          </li>
          <li class="nav-item d-block d-sm-none" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'REQUEST_SUPERVISOR')
                                                or #lists.contains(userRoles,'REQUEST_WRITE')}">
            <a class="nav-link" style="color: #eeeeee !important;" href="/request">Requests</a>
          </li>
          <li class="nav-item d-block d-sm-none" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_SUPERVISOR')
                                                or #lists.contains(userRoles,'DIRECTOR_READ') or #lists.contains(userRoles,'DIRECTOR_WRITE')
                                                or #lists.contains(userRoles,'CAMPUS_READ') or #lists.contains(userRoles,'CAMPUS_WRITE')}">
            <a class="nav-link" style="color: #eeeeee !important;" href="/admin">Settings</a>
          </li>
          <li class="nav-item d-block d-sm-none">
            <div class="dropdown-divider" style="color: #9d9d9d !important;"></div>
          </li>
          <li class="nav-item d-block d-sm-none">
            <a class="nav-link" style="color: #eeeeee !important;" href="/profile">Profile</a>
          </li>
          <li class="nav-item d-block d-sm-none">
            <a class="nav-link" style="color: #eeeeee !important;" href="#" onclick="toggleTheme()" th:if="${session.theme} eq 'dark'">Light Theme</a>
            <a class="nav-link" style="color: #eeeeee !important;" href="#" onclick="toggleTheme()" th:unless="${session.theme} eq 'dark'">Dark Theme</a>
          </li>
          <li class="nav-item d-block d-sm-none">
            <a class="nav-link" style="color: #eeeeee !important;" href="/documentation">Help</a>
          </li>
          <li class="nav-item d-block d-sm-none">
            <a class="nav-link" style="color: #eeeeee !important;" href="/releasenotes">Release Notes</a>
          </li>
          <li class="nav-item d-block d-sm-none">
            <a class="nav-link" style="color: #eeeeee !important;" href="/logout">Logout</a>
          </li>
        </ul>
      </div>

        <ul class="navbar-nav ml-2 pb-2 orderRequest-0 d-none d-sm-block" style="line-height: 23px;" sec:authorize="isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link mx-2" href="/cart" title="Cart">
              <i class="bi bi-cart cart-icon"></i>
              <span id="cartItemCount" class="cart-item-count" th:text="${session.cartItemCount}"></span>
            </a>
          </li>
        </ul>

        <div class="collapse navbar-collapse flex-grow-0 pl-2 pr-5">
          <ul class="navbar-nav me-auto orderRequest-last" sec:authorize="isAuthenticated()">
            <th:block th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_SUPERVISOR')
                          or #lists.contains(userRoles,'DIRECTOR_READ') or #lists.contains(userRoles,'DIRECTOR_WRITE')
                          or #lists.contains(userRoles,'CAMPUS_READ') or #lists.contains(userRoles,'CAMPUS_WRITE')}">
              <li class="nav-item">
                <a class="nav-link mx-2" href="/admin" title="Settings">
                  <h4 style="color: lightskyblue;">
                    <i class="bi bi-gear"></i>
                  </h4>
                </a>
              </li>
            </th:block>
            <li class="nav-item dropdown">
              <a class="nav-link btn btn-sm btn-outline-info dropdown-toggle ml-2 mr-4 pl-2 pr-5" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span th:if="${session.containsKey('userDisplayName')}" th:text="${session.userDisplayName}" style="color: white;">User</span><span th:unless="${session.containsKey('userDisplayName')}" style="color: white";>User</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end dwc-dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item dwc-dropdown-item" href="/profile">Profile</a></li>
                <li><a class="dropdown-item dwc-dropdown-item" href="#" onclick="toggleTheme()">
                  <span th:if="${session.theme} eq 'dark'">Light Theme</span>
                  <span th:unless="${session.theme} eq 'dark'">Dark Theme</span>
                </a></li>
                <li><a class="dropdown-item dwc-dropdown-item" href="/documentation">Help</a></li>
                <li><a class="dropdown-item dwc-dropdown-item" href="/releasenotes">Release Notes</a></li>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item dwc-dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>

          <ul class="navbar-nav me-auto orderRequest-last" sec:authorize="isAnonymous()">
            <li class="nav-item nav-login">
              <a class="btn btn-sm btn-info mx-4 pl-2 pr-5" href="#" onclick="showLogin()">Login</a>
            </li>
          </ul>
        </div>

    </div>
  </nav>

</div>