<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <script th:inline="javascript">
    function navbarClickEvents(event, element) {
      event.stopPropagation();
      if(element.id == 'btnNew') {
        window.location.href='/calendar/new';
      }
    }
  </script>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top justify-content-start">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <img th:src="@{/img/favicon.png}" width="32" />
      </a>

      <div class="navbar-nav mr-auto d-block d-sm-none">
        <h3 style="color: lightblue">DWeXchange</h3>
      </div>
      <div class="navbar-nav d-block d-sm-none mr-2" sec:authorize="isAuthenticated()">
        <h4 style="color: lightskyblue;">
          <i class="bi bi-cart"></i>
        </h4>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-grow-1" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0 ml-2" sec:authorize="isAuthenticated()">
          <li class="nav-item d-sm-none">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item d-sm-none">
            <a class="nav-link" href="/store">Store</a>
          </li>
          <li class="nav-item d-sm-none">
            <a class="nav-link" href="/wiki">Wiki</a>
          </li>
          <li class="nav-item d-sm-none">
            <a class="nav-link" href="/support">Support</a>
          </li>
          <li class="nav-item d-block d-sm-none" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'ADMIN_READ')
                                                or #lists.contains(userRoles,'DIRECTOR_READ') or #lists.contains(userRoles,'DIRECTOR_WRITE')
                                                or #lists.contains(userRoles,'MANAGER_READ') or #lists.contains(userRoles,'MANAGER_WRITE')}">
            <a class="nav-link" href="/admin">Settings</a>
          </li>
          <li class="nav-item d-block d-sm-none">
            <div class="dropdown-divider"></div>
          </li>
          <li class="nav-item d-block d-sm-none">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item d-block d-sm-none">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
        <ul sec:authorize="isAnonymous()">
          <li class="nav-item d-block d-sm-none">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>

        <ul class="navbar-nav ml-2 order-0 d-none d-sm-block" sec:authorize="isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link mx-2" href="#" title="Cart">
              <h4 style="color: lightskyblue;">
                <i class="bi bi-cart"></i>
              </h4>
            </a>
          </li>
        </ul>

        <div class="collapse navbar-collapse flex-grow-0">
          <ul class="navbar-nav me-auto order-last" sec:authorize="isAuthenticated()">
            <th:block th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'ADMIN_READ')
                      or #lists.contains(userRoles,'DIRECTOR_READ') or #lists.contains(userRoles,'DIRECTOR_WRITE')
                      or #lists.contains(userRoles,'MANAGER_READ') or #lists.contains(userRoles,'MANAGER_WRITE')}">
              <li class="nav-item">
                <a class="nav-link mx-2" href="/admin" title="Settings">
                  <h4 style="color: lightskyblue;">
                    <i class="bi bi-gear"></i>
                  </h4>
                </a>
              </li>
            </th:block>
            <li class="nav-item dropdown">
              <a class="nav-link btn btn-sm btn-outline-info dropdown-toggle ml-2 mr-4 px-2" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span th:if="${session.containsKey('userDisplayName')}" th:text="${session.userDisplayName}" style="color: white;">User</span><span th:unless="${session.containsKey('userDisplayName')}" style="color: white";>User</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>

          <ul class="navbar-nav me-auto order-last" sec:authorize="isAnonymous()">
            <li class="nav-item">
              <a class="btn btn-sm btn-info mx-4 px-2" href="/login">Login</a>
            </li>
          </ul>
        </div>

    </div>
  </nav>

</div>