<div th:fragment="sidebar" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="flex-fill d-none d-sm-block px-2"
         style="background-color: #eeeeee; height: 100%; min-width: 150px;
         position: absolute; top: 0; padding-top: 0.5rem;
         overflow-x: hidden; overflow-y: auto;">
        <div class="sidebar-header">
            <h4>Contents<button class="btn btn-sm">&gt;</button></h4>
        </div>
        <div class="list-group">
            <a class="list-group-item" href="/desktopDocs/home">Home</a>
            <a class="list-group-item list-group-subitem" href="/desktopDocs/backups">Users</a>
            <a class="list-group-item" href="/desktopDocs/metrics">Store</a>
            <a class="list-group-item" href="/desktopDocs/employees">Articles</a>
        </div>
    </div>


<!--    <nav class="navbar navbar-light d-block d-sm-none bg-light sticky-top">-->
<!--        <ul class="nav">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Home</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Store</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Articles</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->

</div>

<!--
 sec:authorize="isAuthenticated()"
-->