<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Destiny Worship Exchange</title>

        <meta name="description" content="Dahlia Solutions, LLC">
        <meta name="author" content="Dahlia Solutions, LLC">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <script>
            let displaySideNav = false;
            let forceHideSideNave = false;
        </script>
        <th:block th:if="${session.showSideNav}">
            <script>
                displaySideNav = true;
            </script>
        </th:block>
        <script sec:authorize="isAnonymous()">
            forceHideSideNave = true;
        </script>

    </head>

    <body class="container-fluid d-flex flex-column px-0 mb-0">

        <!--- Header --->
        <div th:replace="~{layouts/commonHeader :: header}">Header</div>

        <!--- message from server--->
        <th:block th:if="${session.msgSuccess}">
            <div id="messageSuccessDiv" class="alert-fixed" th:onclick="'javascript:clearSuccess()'">
                <div class="alert-success alert-fixed-success align-content-center">
                    <p style="text-align: center" th:text="${session.msgSuccess}"/>
                    <script  th:inline="javascript">
                        fetch("/api/v1/app/removesuccessmsg");
                        setTimeout(() => {
                            clearSuccess();
                        }, 3000);
                        function clearSuccess() {
                            const box = document.getElementById('messageSuccessDiv');
                            box.style.display = 'none';
                        }
                    </script>
                </div>
            </div>
        </th:block>
        <th:block th:if="${session.msgError}">
            <div id="messageErrorDiv" class="alert-fixed" th:onclick="'javascript:clearError()'">
                <div class="alert-danger align-content-center alert-fixed-danger">
                    <span th:text="${session.msgError}"/>
                    <script  th:inline="javascript">
                        fetch("/api/v1/app/removeerrormsg");
                        setTimeout(() => {
                            clearError();
                        }, 3000);
                        function clearError() {
                            const box = document.getElementById('messageErrorDiv');
                            box.style.display = 'none';
                        }
                    </script>
                </div>
            </div>
        </th:block>

        <div class="wrapper flex-grow-1">
            <div id="mainContent" class="wrapper d-flex">

                <!-- Side Navigation -->
                <div id="sideNavExpanded" class="flex-fill px-2 pt-1 d-none d-sm-block"
                     style="background-color: #eeeeee; min-width: 170px;
                     max-width: 170px; width: 170px; min-height: calc(100vh - 65px);">
                    <div class="sidebar-header" onclick="toggleSideNav(false)" style="cursor: pointer">
                        <h4>Navigation <i class="bi bi-arrow-bar-left h6"></i></h4>
                    </div>
                    <div class="list-group" sec:authorize="isAuthenticated()">
                        <a class="list-group-item" href="/">Home</a>
                        <a class="list-group-item" href="/store">Store</a>
                        <a class="list-group-item" href="/wiki">Wiki</a>
                        <a class="list-group-item" href="/support">Support</a>
                    </div>
                </div>
                <div id="sideNavCollapsed" class="flex-fill px-2 pt-1 d-none d-sm-block"
                     style="background-color: #eeeeee; min-width: 45px;
                     max-width: 45px; width: 45px;min-height: calc(100vh - 65px);">
                    <div class="sidebar-header text-center" onclick="toggleSideNav(true)" style="cursor: pointer">
                        <h3><i class="bi bi-compass"></i></h3>
                    </div>
                    <div class="list-group" sec:authorize="isAuthenticated()">
                        <a class="list-group-item p-1" href="/">
                            <i class="bi bi-house"></i>
                        </a>
                        <a class="list-group-item p-1" href="/store">
                            <i class="bi bi-shop-window"></i>
                        </a>
                        <a class="list-group-item p-1" href="/wiki">
                            <i class="bi bi-wikipedia"></i>
                        </a>
                        <a class="list-group-item p-1" href="/support">
                            <i class="bi bi-life-preserver"></i>
                        </a>
                    </div>
                </div>

                <!-- Content -->
                <div class="flex-fill p-1 pb-4 w-100">
                    <section layout:fragment="content">
                        <p>Replace with layout:fragment="content"</p>
                    </section>
                </div>
            </div>
        </div>

        <i id="scrollToTopBtn" class="bi bi-arrow-up-circle-fill to-top-arrow h3"></i>

    <!-- fix bottom margin on mobile
    <div class="px-2 mb-0 small d-block d-sm-none" style="height: 27px; position: fixed; bottom: 0; width: 100%"></div>
    -->
    <!--- Footer
    <div class="px-2 mb-0 small d-none d-sm-block"
         style="background-color: lightblue; height: 32px; position: fixed; bottom: 0; width: 100%">
        <div style="float: right;"><small>Dahlia Solutions, LLC</small></div>
        <div>Destiny Worship</div>
    </div>
    --->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script  th:inline="javascript">
        /*<![CDATA[*/
        moduleHeaderTitle = /*[[${moduleTitle}]]*/ " ";
        moduleHeaderLink = /*[[${moduleLink}]]*/ "/";
        /*]]>*/
        let thisPageTitle = document.getElementById("commonHeaderTitle");
        thisPageTitle.textContent = moduleHeaderTitle;
        thisPageTitle.setAttribute("href", moduleHeaderLink);

        let cartCountExpanded = document.getElementById("cartItemCount");
        let cartCountCollapsed = document.getElementById("cartItemCountCollapsed");

        if (cartCountExpanded != null) {
            if (cartCountExpanded.innerText === Number(cartCountExpanded.innerText)) {
                cartCountExpanded.innerText = "";
            }
            if (cartCountCollapsed.innerText === Number(cartCountCollapsed.innerText)) {
                cartCountCollapsed.innerText = "";
            }
        }

        function toggleSideNav(show) {
            if (forceHideSideNave) {
                document.getElementById('sideNavCollapsed').classList.add("d-sm-block");
                document.getElementById('sideNavExpanded').classList.remove("d-sm-block");
            } else {
                if (show) {
                    document.getElementById('sideNavExpanded').classList.add("d-sm-block");
                    document.getElementById('sideNavCollapsed').classList.remove("d-sm-block");
                } else {
                    document.getElementById('sideNavCollapsed').classList.add("d-sm-block");
                    document.getElementById('sideNavExpanded').classList.remove("d-sm-block");
                }
                fetch("/api/v1/app/toggleSideNav/"+show);
            }
        }

        window.addEventListener("load",function() {
            setTimeout(function(){
                // This hides the address bar:
                window.scrollTo(0, 1);
            }, 0);
        });

        let scrollToTopBtn = document.getElementById("scrollToTopBtn")
        function scrollToTop() {
            // Scroll to top logic
            document.documentElement.scrollTo({
                top: 0,
                behavior: "smooth"
            })
        }
        function handleScroll() {
            let scrollTotal = document.documentElement.scrollHeight - document.documentElement.clientHeight
            if (document.documentElement.scrollTop > 50 ) {
                // Show button
                scrollToTopBtn.classList.add("to-top-show")
            } else {
                // Hide button
                scrollToTopBtn.classList.remove("to-top-show")
            }
        }
        scrollToTopBtn.addEventListener("click", scrollToTop)
        document.addEventListener("scroll", handleScroll)

        function updateCartCounter(count) {
            if (cartCountExpanded != null) {
                cartCountExpanded.innerText = count;
                cartCountCollapsed.innerText = count;
            }
        }

        toggleSideNav(displaySideNav);
    </script>

    </body>
</html>