<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Destiny Worship Exchange</title>

        <meta name="description" content="Dahlia Solutions, LLC">
        <meta name="author" content="Dahlia Solutions, LLC">
        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link th:href="@{/css/dark.css}" rel="stylesheet">

        <script>
            let forceHideSideNave = false;
        </script>
        <script sec:authorize="isAnonymous()">
            forceHideSideNave = true;
        </script>

    </head>

    <body class="container-fluid d-flex flex-column px-0 mb-0 dark">

        <!--- Header --->
        <div th:replace="~{layouts/commonHeader :: header}">Header</div>

        <!--- message from server--->
        <th:block th:if="${session.msgSuccess}">
            <div id="messageSuccessDiv" class="alert-fixed" th:onclick="'javascript:clearSuccess()'">
                <div class="alert-success alert-fixed-success align-content-center">
                    <p style="text-align: center" th:text="${session.msgSuccess}"></p>
                    <script  th:inline="javascript">
                        fetch("/api/v1/app/removesuccessmsg");
                        setTimeout(() => {
                            clearSuccess();
                        }, 3000);
                        function clearSuccess() {
                            const box = document.getElementById('messageSuccessDiv');
                            box.style.display = 'none';
                        }
                    </script>
                </div>
            </div>
        </th:block>
        <th:block th:if="${session.msgError}">
            <div id="messageErrorDiv" class="alert-fixed" th:onclick="'javascript:clearError()'">
                <div class="alert-danger align-content-center alert-fixed-danger">
                    <span th:text="${session.msgError}"></span>
                    <script  th:inline="javascript">
                        fetch("/api/v1/app/removeerrormsg");
                        setTimeout(() => {
                            clearError();
                        }, 3000);
                        function clearError() {
                            const box = document.getElementById('messageErrorDiv');
                            box.style.display = 'none';
                        }
                    </script>
                </div>
            </div>
        </th:block>

        <div class="wrapper flex-grow-1">
            <div id="mainContent" class="wrapper d-flex">

                <!-- Side Navigation -->
                <div id="sideNavExpanded" class="flex-fill px-2 pt-1 d-none d-sm-block side-nav-expanded">
                    <div class="sidebar-header" onclick="setSideNav('collapse')" style="cursor: pointer;">
                        <h4>Navigation <i class="bi bi-arrow-bar-left" style="float: right; font-size: 1.5rem"></i></h4>
                    </div>
                    <div class="list-group pb-3" sec:authorize="isAuthenticated()">
                        <a class="list-group-item" href="/">Home</a>
                        <a class="list-group-item" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'STORE_SUPERVISOR')
                            or #lists.contains(userRoles,'STORE_READ') or #lists.contains(userRoles,'STORE_WRITE')}" href="/store">Store</a>
                        <a class="list-group-item" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'RESOURCE_SUPERVISOR')
                            or #lists.contains(userRoles,'RESOURCE_READ') or #lists.contains(userRoles,'RESOURCE_WRITE')}" href="/resource">Resource</a>
                        <a class="list-group-item" th:if="${#lists.contains(userRoles,'ADMIN_WRITE')
                            or #lists.contains(userRoles,'SUPPORT_READ') or #lists.contains(userRoles,'SUPPORT_WRITE')
                            or #lists.contains(userRoles,'SUPPORT_AGENT') or #lists.contains(userRoles,'SUPPORT_SUPERVISOR')}" href="/support">Support</a>
                    </div>
                    <div class="list-group" sec:authorize="isAuthenticated()">
                        <a class="list-group-item" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'REQUEST_SUPERVISOR')
                                                    or #lists.contains(userRoles,'REQUEST_WRITE')}" href="/request">Requests</a>
                        <a class="list-group-item" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_SUPERVISOR')
                                                    or #lists.contains(userRoles,'USER_READ') or #lists.contains(userRoles,'USER_WRITE')}"
                           href="/user">Users</a>
                        <a class="list-group-item" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_SUPERVISOR')
                                                    or #lists.contains(userRoles,'CAMPUS_READ') or #lists.contains(userRoles,'CAMPUS_WRITE')}"
                           href="/campus">Campus</a>
                        <a class="list-group-item" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_SUPERVISOR')
                                                or #lists.contains(userRoles,'DIRECTOR_READ') or #lists.contains(userRoles,'DIRECTOR_WRITE')}"
                           href="/department">Departments</a>
                        <a class="list-group-item" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_SUPERVISOR')}"
                           href="/position">Positions</a>
                    </div>
                </div>
                <div id="sideNavCollapsed" class="flex-fill px-2 pt-1 d-none d-sm-block side-nav-collapsed">
                    <div class="sidebar-header text-center" onclick="setSideNav('expand')" style="cursor: pointer">
                        <h3><i class="bi bi-compass"></i></h3>
                    </div>
                    <div class="list-group pb-3" sec:authorize="isAuthenticated()">
                        <a class="list-group-item p-1" href="/">
                            <i class="bi bi-house"></i>
                        </a>
                        <a class="list-group-item p-1" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'STORE_SUPERVISOR')
                            or #lists.contains(userRoles,'STORE_READ') or #lists.contains(userRoles,'STORE_WRITE')}" href="/store">
                            <i class="bi bi-shop-window"></i>
                        </a>
                        <a class="list-group-item p-1" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'RESOURCE_SUPERVISOR')
                            or #lists.contains(userRoles,'RESOURCE_READ') or #lists.contains(userRoles,'RESOURCE_WRITE')}" href="/resource">
                            <i class="bi bi-file-text"></i>
                        </a>
                        <a class="list-group-item p-1" th:if="${#lists.contains(userRoles,'ADMIN_WRITE')
                            or #lists.contains(userRoles,'SUPPORT_READ') or #lists.contains(userRoles,'SUPPORT_WRITE')
                            or #lists.contains(userRoles,'SUPPORT_AGENT') or #lists.contains(userRoles,'SUPPORT_SUPERVISOR')}" href="/support">
                            <i class="bi bi-life-preserver"></i>
                        </a>
                    </div>
                    <div class="list-group pb-3" sec:authorize="isAuthenticated()">
                        <a class="list-group-item p-1" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'REQUEST_SUPERVISOR')
                                                    or #lists.contains(userRoles,'REQUEST_WRITE')}" href="/request">
                            <i class="bi bi-cart4"></i>
                        </a>
                        <a class="list-group-item p-1" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_SUPERVISOR')
                            or #lists.contains(userRoles,'USER_READ') or #lists.contains(userRoles,'USER_WRITE')}" href="/user">
                            <i class="bi bi-people"></i>
                        </a>
                        <a class="list-group-item p-1" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_SUPERVISOR')
                            or #lists.contains(userRoles,'CAMPUS_READ') or #lists.contains(userRoles,'CAMPUS_WRITE')}" href="/campus">
                            <i class="bi bi-houses"></i>
                        </a>
                        <a class="list-group-item p-1" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_SUPERVISOR')
                            or #lists.contains(userRoles,'DIRECTOR_READ') or #lists.contains(userRoles,'DIRECTOR_WRITE')}" href="/department">
                            <i class="bi bi-collection"></i>
                        </a>
                        <a class="list-group-item p-1" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_SUPERVISOR')}" href="/position">
                            <i class="bi bi-person-lines-fill"></i>
                        </a>
                    </div>
                </div>

                <!-- Content -->
                <div class="flex-fill p-1 pb-4 w-100">
                    <section layout:fragment="content">
                        <p>Replace with layout:fragment="content"</p>
                    </section>
                </div>
            </div>
        </div>

        <i id="scrollToTopBtn" class="bi bi-arrow-up-circle-fill to-top-arrow h2"></i>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script th:inline="javascript">
    /*<![CDATA[*/
    moduleHeaderTitle = /*[[${moduleTitle}]]*/ " ";
    moduleHeaderLink = /*[[${moduleLink}]]*/ "/";

    profileTheme = /*[[${session.theme}]]*/ "default";
    profileSideNavigation = /*[[${session.sideNavigation}]]*/ "expand";
    profileStoreLayout = /*[[${session.storeLayout}]]*/ "grid";

    dateStart = /*[[${startDate}]]*/ "";
    dateEnd = /*[[${endDate}]]*/ "";
    /*]]>*/

    let thisPageTitle = document.getElementById("commonHeaderTitle");
        thisPageTitle.textContent = moduleHeaderTitle;
        thisPageTitle.setAttribute("href", moduleHeaderLink);
    let thisModuleTitle = document.getElementById("moduleHeaderTitle");
    if (thisModuleTitle != null) {
        thisModuleTitle.textContent = moduleHeaderTitle;
        thisModuleTitle.setAttribute("href", moduleHeaderLink);
    }

    let cartCountExpanded = document.getElementById("cartItemCount");
    let cartCountCollapsed = document.getElementById("cartItemCountCollapsed");

    if (cartCountExpanded != null) {
        if (cartCountExpanded.innerText === Number(cartCountExpanded.innerText)) {
            cartCountExpanded.innerText = "";
        }
        if (cartCountCollapsed.innerText === Number(cartCountCollapsed.innerText)) {
            cartCountCollapsed.innerText = "";
        }
    }

    let pageTheme = profileTheme;
    let pageSideNavigation = profileSideNavigation;
    let pageStoreLayout = profileStoreLayout;

    function setSideNav(string) {
        pageSideNavigation = string;
        fetch("/api/v1/app/toggleSideNav/"+pageSideNavigation);
        updateSideNavDisplay();
    }

    function updateSideNavDisplay() {
        if (forceHideSideNave) {
            document.getElementById('sideNavCollapsed').classList.remove("d-sm-block");
            document.getElementById('sideNavExpanded').classList.remove("d-sm-block");
        } else {
            switch (pageSideNavigation) {
                case "collapse":
                    document.getElementById('sideNavCollapsed').classList.add("d-sm-block");
                    document.getElementById('sideNavExpanded').classList.remove("d-sm-block");
                    break;
                default:
                    document.getElementById('sideNavExpanded').classList.add("d-sm-block");
                    document.getElementById('sideNavCollapsed').classList.remove("d-sm-block");
            }
        }
    }
    function redrawStoreLayout(string) {
        pageStoreLayout = string;
        fetch('/api/v1/store/display/'+pageStoreLayout)
            .then(response => {
                window.location.href='/store';
            }
        );
    }

    window.addEventListener("load",function() {
        setTimeout(function(){
            // This hides the address bar:
            window.scrollTo(0, 1);
        }, 0);
    });

    let scrollToTopBtn = document.getElementById("scrollToTopBtn")
    function scrollToTop() {
        // Scroll to top logic
        document.documentElement.scrollTo({
            top: 0,
            behavior: "smooth"
        })
    }
    function handleScroll() {
        let scrollTotal = document.documentElement.scrollHeight - document.documentElement.clientHeight
        if (document.documentElement.scrollTop > 120 ) {
            // Show button
            scrollToTopBtn.classList.add("to-top-show")
        } else {
            // Hide button
            scrollToTopBtn.classList.remove("to-top-show")
        }
    }
    scrollToTopBtn.addEventListener("click", scrollToTop)
    document.addEventListener("scroll", handleScroll)

    function updateCartCounter(count) {
        if (cartCountExpanded != null) {
            cartCountExpanded.innerText = count;
            cartCountCollapsed.innerText = count;
        }
    }
    function setSiteTheme() {
        let pageBody = document.querySelector("body");
        let pageNaveExp = document.getElementById("sideNavCollapsed");
        let pageNaveCol = document.getElementById("sideNavExpanded");
        let modHeader = document.getElementById("moduleHeader");
        let storeCatHeader = document.getElementById("categoriesHeader");
        let storeCatNav = document.getElementById("storeCategoryNav");
        let tables = document.querySelectorAll("table");

        if (profileTheme === 'dark') {
            try {
                modHeader.classList.remove("bg-light");
                modHeader.classList.add("bg-dark");
                if (storeCatNav != null) {
                    storeCatNav.classList.remove("bg-light");
                    storeCatNav.classList.add("bg-dark");
                    storeCatHeader.classList.remove("bg-light");
                    storeCatHeader.classList.add("bg-dark");
                }
            } catch (e) {
                console.log("dark mode is not enabled")
            }
            pageBody.classList.add("dark");
            pageNaveExp.classList.add("dark");
            pageNaveCol.classList.add("dark");
            for (let t in tables) {
                let tNode = tables[t];
                try {
                    tNode.classList.add("table-dark");
                } catch (e) {
                    // no table
                }
            }
        } else {
            try {
                pageBody.classList.remove("dark");
                pageNaveExp.classList.remove("dark");
                pageNaveCol.classList.remove("dark")
                modHeader.classList.remove("bg-dark");
                modHeader.classList.add("bg-light");
                if (storeCatNav != null) {
                    storeCatNav.classList.remove("bg-dark");
                    storeCatNav.classList.add("bg-light");
                    storeCatHeader.classList.remove("bg-dark");
                    storeCatHeader.classList.add("bg-light");
                }
            } catch (e) {
                console.log("dark mode is not enabled")
            }
            for (let t in tables) {
                let tNode = tables[t];
                try {
                    tNode.classList.remove("table-dark");
                } catch (e) {
                    console.log("no tables found with dark mode")
                }
            }
        }
    }
    async function toggleTheme() {
        fetch('/api/v1/app/toggletheme')
        .then(response => {
                window.location.reload();
            }
        );
    }


    updateSideNavDisplay();
    setSiteTheme();

</script>

    </body>
</html>