<div th:fragment="header">

    <nav id="moduleHeader" class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">

            <div class="navbar-nav mt-2 mx-2">
                <a class="nav-link h3" href="/request">
                    <i class="bi bi-cart4 generic-icon"></i>
                </a>
            </div>
            <div class="navbar-nav mt-2 mx-2 flex-grow-1 d-block d-none d-sm-block text-center">
                <a id="moduleHeaderTitle" class="h3 moduleTitle" rhef="/">DWC</a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBreadcrumb" aria-controls="navbarBreadcrumb" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list nav-mod-header-link"></i>
            </button>

            <div class="collapse navbar-collapse flex-grow-1" id="navbarBreadcrumb">
                <ul class="navbar-nav mr-auto p-1">
                    <li class="nav-item">
                        <a class="nav-link" href="/request/department">Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/request/campus">Campus</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto d-none d-sm-block"></ul>
                <form autocomplete="off" method="post" th:action="@{/request/search}" class="d-flex me-auto mt-3 mt-sm-0 pl-5" style="height: 30px">
                    <div class="autocomplete" style="display: inline-block; height: 30px">
                        <input id="searchTerm" name="searchTerm" class="form-control" type="text" style="height: 30px" placeholder="Search">
                        <input id="searchId" name="searchId" type="hidden"><input id="searchType" name="searchType" type="hidden">
                    </div>
                    <button id="btnSearch" class="btn btn-sm btn-outline-wiki mx-1 px-1" type="submit">Search</button>
                </form>
            </div>

        </div>
    </nav>

    <script th:inline="javascript">

        function autocomplete(inp, arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            let currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", async function(e) {
                let a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);

                /* retreive search from server */
                let formData = new FormData();
                    formData.set("name", val)

                const response = await fetch('/api/v1/request/search', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    /* for each object in search return add to autocomplete */
                    for (let key in data) {
                        let obj = data[key];
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + obj.searchTerm.substring(0, val.length) + "</strong>";
                        b.innerHTML += obj.searchTerm.substring(val.length);
                        /*insert a input field that will hold the current item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + obj.searchTerm + "'>";
                        /*insert a input field that will hold the current item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + obj.searchId + "'>";
                        /*insert a input field that will hold the current  item's type:*/
                        b.innerHTML += "<input type='hidden' value='" + obj.searchType + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function(e) {
                            /*insert the value for the autocomplete form fields:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            document.getElementById("searchId").value = this.getElementsByTagName("input")[1].value;
                            document.getElementById("searchType").value = this.getElementsByTagName("input")[2].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                });
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode === 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode === 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode === 13 || e.keyCode ===9) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    } else {
                        currentFocus++;
                        if (x) x[currentFocus].click();
                    }
                    /* advance the focus */
                    document.getElementById("btnSearch").focus();
                } else if (e.keyCode === 9) {
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    } else {
                        currentFocus++;
                        if (x) x[currentFocus].click();
                    }
                } else if (e.keyCode === 27){
                    closeAllLists();
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt !== x[i] && elmnt !== inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        /*An array containing all the country names in the world:*/
        let activeUsers = ["Andrew Cripe", "Caleb Lawrence", "Aidan Vaughn"];
        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
        autocomplete(document.getElementById("searchTerm"), activeUsers);
    </script>
</div>