<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 py-0 px-0" layout:fragment="content">

    <div th:replace="~{order/moduleHeader :: header}">Header</div>

    <div class="row pt-5 py-2">
        <div class="col align-content-center">
            <h3><span th:text="${department.name}"></span> Department</h3>
        </div>
    </div>

    <div class="row pt-5 py-2">
        <div class="col">
            <h4>Items to Fulfill</h4>
        </div>
    </div>
    <div class="row pt-2 pb-5 py-2">
        <div class="col" th:if="${not #lists.isEmpty(openItemList)}" th:each="openItem : ${openItemList}">
            <div class="row">
                <div th:replace="~{components/cardOrderItemLineSummary :: cardFragment(${openItem})}">No Items</div>
            </div>
        </div>
    </div>


    <div class="row pt-5 py-2">
        <div class="col">
            <h4>Items Fulfilled</h4>
        </div>
    </div>
    <div class="row pt-2 pb-5 py-2">
        <div class="col" th:if="${not #lists.isEmpty(closedItemList)}" th:each="closedItem : ${closedItemList}">
            <div class="row">
                <div th:replace="~{components/cardOrderItemLineSummary :: cardFragment(${closedItem})}">No Items</div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        function navToRequest(id) {
            window.location.href="/request/order/"+id;
        }
    </script>

</div>


</html>