<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 px-2" layout:fragment="content" th:object="${orderRequest}">

    <div th:replace="~{order/moduleHeader :: header}">Header</div>

            <div class="row pt-4 py-2">
                <div class="col-8">
                    <h2>Request</h2>
                    <input type="hidden" id="orderId" th:value="*{id}">
                </div>
            </div>

            <div class="row pt-2 pb-4 py-2">
                <div class="col-12 col-md-6">
                    <h4>Request Id: <span th:text="*{id}"></span></h4>
                </div>
                <div class="col-12 col-md-6 text-right">
                    <button class="btn btn-sm btn-primary" th:onclick="dialogChangeStatus([[*{supervisor.id}]])">Status / Note</button>
                    <button id="btnIncludeSomeone" class="btn btn-sm btn-primary" th:onclick="dialogIncludePerson([[*{supervisor.id}]])">Include Someone</button>
                </div>

            </div>

    <div class="row py-2">
        <div class="col-12 col-lg-8 pb-4">

            <div class="card">
                <div class="row py-1">
                    <div class="col">
                        <h6>Requested By: <span th:text="*{user.firstName} + ' ' + *{user.lastName}"></span></h6>
                    </div>
                </div>

                <div class="row py-1">
                    <div class="col-6">
                        Date: <span th:text="*{#temporals.format(requestDate, 'MMM-dd-yyyy')}"></span>
                    </div>
                    <div class="col-6">
                        Status: <span th:text="*{orderStatus}"></span>
                        <input type="hidden" id="orderStatus" th:value="*{orderStatus}">
                    </div>
                </div>

                <div class="row py-1">
                    <div class="col-12">
                        Reason and Notes:
                        <strong><span th:text="*{requestNote}"></span></strong>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="col-6">
                        <button class="btn btn-sm btn-outline-secondary" onclick="toggleHistory()" style="max-width: 150px;">
                            History <i id="btnHistoryExpand" class="bi bi-arrows-expand" style="display: inline-block"></i><i id="btnHistoryCollapse" class="bi bi-arrows-collapse" style="display: none"></i>
                        </button>
                    </div>
                    <div class="col-6">
                        Total Items: <span th:text="*{itemCount}"></span>
                    </div>
                </div>
                <div id="divHistory" class="row orderHistory py-1 mx-1">
                    <div class="card p-2">
                        <div class="row">
                            <div class="col">
                                <strong>Date</strong>
                            </div>
                            <div class="col">
                                <strong>Status</strong>
                            </div>
                            <div class="col">
                                <strong>Note</strong>
                            </div>
                            <div class="col">
                                <strong>Entered By</strong>
                            </div>
                        </div>

                        <div class="card-section" th:each="note : ${noteList}">
                            <div class="row">
                                <div class="col">
                                    <span th:text="${#temporals.format(note.noteDate, 'MMM-dd-yyyy hh:mm')}"></span>
                                </div>
                                <div class="col">
                                    <span th:text="${note.orderStatus}"></span>
                                </div>
                                <div class="col">
                                    <span th:text="${note.orderNote}"></span>
                                </div>
                                <div class="col">
                                    <span th:text="${note.user.firstName}+' '+${note.user.lastName}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row py-2" th:each="item : *{requestItems}">
                    <div th:replace="~{components/cardOrderItemLine :: cardFragment(${item}, ${currentUserId})}">Request is Empty</div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="card p-2 gradient-right">
                <div class="card-title">
                    <h5>Request Assigned to:</h5>
                </div>
                <p class="p-2" th:text="*{supervisor.firstName}+' '+*{supervisor.lastName}"></p>

                <div class="card-title">
                    <h5>Included on Request</h5>
                </div>
                <div th:each="super : *{supervisorList}">
                    <p th:id="'super-'+${super.id}" class="p-2">
                        <span th:text="${super.firstName}+' '+${super.lastName}"></span>
                        <i class="bi bi-x" style="color: red; cursor: pointer" th:onclick="removeSuper([[${super.id}]])" th:if="${editable}"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <dialog id="includePersonDialog" class="upload-modal">
        <script>
            async function loadPeople() {
                let dispPersonSelect = document.getElementById('personSelect');
                debugger
                const response = await fetch('/api/v1/request/getsupervisors')
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        debugger
                        while (dispPersonSelect.firstChild) {
                            dispPersonSelect.removeChild(dispPersonSelect.lastChild);
                        }
                        for (let key in data) {
                            let obj = data[key];
                            let opt = document.createElement('option');
                                opt.value = obj.id;
                                opt.innerHTML = obj.firstName+' '+obj.lastName;

                            dispPersonSelect.appendChild(opt);
                        }
                    });
            }
            async function postInclude() {
                document.getElementById("btnIncludeSubmit").setAttribute("disabled", "disabled");
                let formData = new FormData();
                formData.set("requestId", document.getElementById('orderId').value);
                formData.set("userId", document.getElementById('personSelect').value);
                formData.set("primary", document.getElementById('personPrimary').checked);

                const response = await fetch('/api/v1/request/addsupervisor', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    window.location.reload();
                });
            }
            function keyIncludePerson(event) {
                event.preventDefault();
                if (event.key === "Enter" || event.keyCode === 13) {
                    postInclude();
                }
                if (event.key === "Escape") {
                    keyEscInclude();
                }
            }
            function keyEscInclude() {
                document.getElementById("btnIncludeSubmit").removeAttribute("disabled");
                document.getElementById("includePersonDialog").close();
            }
        </script>
        <h2>Include Someone on Request</h2>
        <form id="formIncludePerson" onsubmit="postInclude()" style="width: 300px; max-width: 450px">
            <label for="personSelect" class="form-label">Person</label>
            <select class="form-control" id="personSelect" onkeyup="keyIncludePerson(event)">
                <option></option>
            </select>
            <label for="personPrimary" class="form-label">Set As Primary</label>
            <input type="checkbox" id="personPrimary">
            <div class="pt-2">
                <button id="btnIncludeSubmit" type="button" class="btn btn-sm btn-primary" onclick="postInclude()">Add</button>
                <button id="btnIncludeCancel" type="button" class="btn btn-sm btn-outline-primary" onclick="keyEscInclude()">Cancel</button>
            </div>

        </form>
    </dialog>
    <dialog id="changeStatusDialog" class="upload-modal">
        <script>
            async function loadStatusOptions() {
                let dispStatusSelect = document.getElementById('statusSelect');
                let dispOrderStatus = document.getElementById('orderStatus');
                let dispStatusNote = document.getElementById('statusNote');
                    dispStatusNote.value = "";

                const response = await fetch('/api/v1/request/getstatusoptions')
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        while (dispStatusSelect.firstChild) {
                            dispStatusSelect.removeChild(dispStatusSelect.lastChild);
                        }
                        debugger
                        for (let key in data) {
                            let opt = document.createElement('option');
                            opt.value = data[key];
                            opt.innerHTML = data[key];
                            if (dispOrderStatus.value === data[key]) {
                                opt.selected = true;
                            }
                            dispStatusSelect.appendChild(opt);
                        }
                    });
            }
            async function postStatus() {
                document.getElementById("btnStatusSubmit").setAttribute("disabled", "disabled");
                let dispStatusSelect = document.getElementById('statusSelect');
                let dispStatusNote = document.getElementById('statusNote');
                document.getElementById("btnStatusSubmit").setAttribute("disabled", "disabled");
                debugger
                let formData = new FormData();
                    formData.set("requestId", document.getElementById('orderId').value);
                    formData.set("requestStatus", dispStatusSelect.value);
                    formData.set("requestNote", dispStatusNote.value);

                const response = await fetch('/api/v1/request/changestatus', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    window.location.reload();
                });
            }
            function keyStatus(event) {
                event.preventDefault();
                if (event.key === "Enter" || event.keyCode === 13) {
                    postStatus();
                }
                if (event.key === "Escape") {
                    keyEscStatus();
                }
            }
            function keyEscStatus() {
                document.getElementById("btnStatusSubmit").removeAttribute("disabled");
                document.getElementById("changeStatusDialog").close();
            }
        </script>
        <h2>Update Request Status</h2>
        <form id="formChangeStatus" onsubmit="postStatus()" style="width: 300px; max-width: 450px">
            <label for="statusSelect" class="form-control-label">Change Status</label>
            <select class="form-control py-1" id="statusSelect" onkeyup="keyStatus(event)">
                <option></option>
            </select>
            <label class="form-control-label">Note</label>
            <textarea id="statusNote" class="form-control w-100"></textarea>

            <div class="pt-2">
                <button id="btnStatusSubmit" type="button" class="btn btn-sm btn-primary" onclick="postStatus()">Update</button>
                <button id="btnStatusCancel" type="button" class="btn btn-sm btn-outline-primary" onclick="keyEscStatus()">Cancel</button>
            </div>

        </form>
    </dialog>
    <dialog id="assignPersonDialog" class="upload-modal">
        <script>
            async function loadSupers(superId) {
                let dispPersonSelect = document.getElementById('superSelect');

                const response = await fetch('/api/v1/request/getsupervisors')
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        while (dispPersonSelect.firstChild) {
                            dispPersonSelect.removeChild(dispPersonSelect.lastChild);
                        }
                        for (let key in data) {
                            let obj = data[key];
                            let opt = document.createElement('option');
                            opt.value = obj.id;
                            opt.innerHTML = obj.firstName+' '+obj.lastName;
                            if (obj.id === superId) {
                                opt.selected = true;
                            }
                            dispPersonSelect.appendChild(opt);
                        }
                    });
            }
            async function postSupers() {
                document.getElementById("btnSuperSubmit").setAttribute("disabled", "disabled");
                let formData = new FormData();
                    formData.set("requestId", document.getElementById('orderId').value);
                    formData.set("userId", document.getElementById('superSelect').value);
                    formData.set("primary", "false");

                const response = await fetch('/api/v1/request/changeitemsupervisor', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    window.location.reload();
                });
            }
            function keySuper(event) {
                event.preventDefault();
                if (event.key === "Enter" || event.keyCode === 13) {
                    postSupers();
                }
                if (event.key === "Escape") {
                    keyEscSuper();
                }
            }
            function keyEscSuper() {
                document.getElementById("btnSuperSubmit").removeAttribute("disabled");
                document.getElementById("assignPersonDialog").close();
            }
        </script>
        <h2>Include Someone on Request</h2>
        <form id="formIncludeSuper" onsubmit="postSupers()" style="width: 300px; max-width: 450px">
            <label for="superSelect" class="form-label">Assign</label>
            <select class="form-control" id="superSelect" onkeyup="keySuper(event)">
                <option></option>
            </select>
            <div class="pt-2">
                <button id="btnSuperSubmit" type="button" class="btn btn-sm btn-primary" onclick="postSupers()">Update</button>
                <button id="btnSuperCancel" type="button" class="btn btn-sm btn-outline-primary" onclick="keyEscSuper()">Cancel</button>
            </div>
        </form>
    </dialog>
    <dialog id="changeItemStatusDialog" class="upload-modal">
        <script>
            async function loadItemStatusOptions(itemId, currentStatus) {
                let dispStatusSelect = document.getElementById('statusItemSelect');
                document.getElementById("itemStatusId").value = itemId;

                const response = await fetch('/api/v1/request/getstatusoptions')
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        while (dispStatusSelect.firstChild) {
                            dispStatusSelect.removeChild(dispStatusSelect.lastChild);
                        }
                        debugger
                        for (let key in data) {
                            let opt = document.createElement('option');
                            opt.value = data[key];
                            opt.innerHTML = data[key];
                            if (currentStatus === data[key]) {
                                opt.selected = true;
                            }
                            dispStatusSelect.appendChild(opt);
                        }
                    });
            }
            async function postItemStatus() {
                document.getElementById("btnItemStatusSubmit").setAttribute("disabled", "disabled");
                let dispItemStatusSelect = document.getElementById('statusItemSelect');
                let dispStatusNote = document.getElementById('statusItemNote');

                let formData = new FormData();
                    formData.set("requestId", document.getElementById("itemStatusId").value);
                    formData.set("requestStatus", dispItemStatusSelect.value);
                    formData.set("requestNote", dispStatusNote.value);

                const response = await fetch('/api/v1/request/changeitemstatus', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    window.location.reload();
                });
            }
            function keyItemStatus(event) {
                event.preventDefault();
                if (event.key === "Enter" || event.keyCode === 13) {
                    postItemStatus();
                }
                if (event.key === "Escape") {
                    keyEscItemStatus();
                }
            }
            function keyEscItemStatus() {
                document.getElementById("btnSuperSubmit").removeAttribute("disabled");
                document.getElementById("changeItemStatusDialog").close();
            }
        </script>
        <h2>Item Status</h2>
        <form id="formChangeItemStatus" onsubmit="postItemStatus()" style="width: 300px; max-width: 450px">
            <label for="statusItemSelect" class="form-control-label">Change Status</label>
            <select class="form-control py-1" id="statusItemSelect" onkeyup="keyItemStatus(event)">
                <option></option>
            </select>
            <input type="hidden" id="itemStatusId">

            <label class="form-control-label">Note</label>
            <textarea id="statusItemNote" class="form-control w-100"></textarea>

            <div class="pt-2">
                <button id="btnItemStatusSubmit" type="button" class="btn btn-sm btn-primary" onclick="postItemStatus()">Update</button>
                <button id="btnItemStatusCancel" type="button" class="btn btn-sm btn-outline-primary" onclick="keyEscItemStatus()">Cancel</button>
            </div>

        </form>
    </dialog>

    <script th:inline="javascript">
        /*<![CDATA[*/
        userId = /*[[${currentUserId}]]*/ "0";
        superId = /*[[${currentSuperId}]]*/ "0";
        isEditable = /*[[${editable}]]*/ "0";
        /*]]>*/
        if (!isEditable) {
            if (userId !== superId) {
                document.getElementById("btnIncludeSomeone").style.display = "none";
                document.getElementById("statusSelect").disabled = true;
                try {
                    document.getElementById("btnItemSupervisorLG").style.display = "none";
                    document.getElementById("btnItemSupervisorSM").style.display = "none";
                } catch (e) {

                }
            }
        }


        const displayDivHistory = document.getElementById("divHistory");
        const displayBtnHistoryExpand = document.getElementById("btnHistoryExpand");
        const displayBtnHistoryCollapse = document.getElementById("btnHistoryCollapse");
        const displayIncludePersonDialog = document.getElementById("includePersonDialog");
        const displayChangeStatusDialog = document.getElementById("changeStatusDialog");
        const displayAssignPersonDialog = document.getElementById("assignPersonDialog");
        const displayItemStatusDialog = document.getElementById("changeItemStatusDialog");

        function navToItem(id) {
            window.location.href="/store/item/"+id;
        }

        function toggleHistory(){
            if (displayDivHistory.classList.contains("orderHistoryExpand")) {
                displayDivHistory.classList.remove("orderHistoryExpand");
                displayBtnHistoryExpand.style.display = "inline-block";
                displayBtnHistoryCollapse.style.display = "none";
            } else {
                displayDivHistory.classList.add("orderHistoryExpand");
                displayBtnHistoryExpand.style.display = "none";
                displayBtnHistoryCollapse.style.display = "inline-block";
            }
        }

        async function removeSuper(superId) {
            let formData = new FormData();
            formData.set("requestId", document.getElementById('orderId').value);
            formData.set("userId", superId);
            formData.set("primary", "false");

            const response = await fetch('/api/v1/request/removesupervisor', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                if (data.requestId === 0) {
                    window.location.reload();
                } else {
                    let elId = "super-" + superId;
                    document.getElementById(elId).remove();
                }
            });
        }

        function dialogIncludePerson() {
            displayIncludePersonDialog.showModal();
            loadPeople();
        }

        function dialogAssignPerson(superId) {
            displayAssignPersonDialog.showModal();
            loadSupers(superId);
        }

        function dialogChangeStatus(superId) {
            displayChangeStatusDialog.showModal();
            loadStatusOptions();
        }
        function dialogChangeItemStatus(itemId, currentStatus) {
            displayItemStatusDialog.showModal();
            loadItemStatusOptions(itemId, currentStatus)
        }
    </script>

</div>


</html>