<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 py-0 px-2" layout:fragment="content">

    <div th:replace="~{order/moduleHeader :: header}">Header</div>

    <div th:replace="~{order/moduleFilterDate :: filterDate}">Filter</div>

    <div class="row pt-5 py-2">
        <div class="col">
            <h4>Requests Placed by <span th:text="${searchedUser}"></span></h4>
        </div>
    </div>
    <div class="row pt-2 pb-5 py-2">
        <div class="col" th:if="${not #lists.isEmpty(orderList)}" th:each="order : ${orderList}">
            <div class="row">
                <div th:replace="~{components/cardOrderLine :: cardFragment(${order})}">No Requests to Display</div>
            </div>
        </div>
    </div>

    <div class="row pt-5 py-2">
        <div class="col">
            <h4>Items for <span th:text="${searchedUser}"></span> to Fulfill</h4>
        </div>
    </div>
    <div class="row pt-2 pb-5 py-2">
        <div class="col" th:if="${not #lists.isEmpty(itemList)}" th:each="orderItem : ${itemList}">
            <div class="row">
                <div th:replace="~{components/cardOrderItemLineSummary :: cardFragment(${orderItem})}">No Items</div>
            </div>
        </div>
    </div>

    <div class="row pt-5 py-2">
        <div class="col">
            <h4>Requests Sent to <span th:text="${searchedUser}"></span></h4>
        </div>
    </div>
    <div class="row pt-2 pb-5 py-2">
        <div class="col" th:if="${not #lists.isEmpty(supervisorOrderList)}" th:each="supervisorOrder : ${supervisorOrderList}">
          <div class="row">
            <div th:replace="~{components/cardOrderLine :: cardFragment(${supervisorOrder})}">No Requests to Display</div>
          </div>
        </div>
    </div>

    <div class="row pt-5 py-2">
        <div class="col">
            <h4>Requests <span th:text="${searchedUser}"></span> has been Included on</h4>
        </div>
    </div>
    <div class="row pt-5 pb-5 py-2">
        <div class="col" th:if="${not #lists.isEmpty(orderMentionList)}" th:each="orderMention : ${orderMentionList}">
            <div class="row">
                <div th:replace="~{components/cardOrderLine :: cardFragment(${orderMention})}">No Requests to Display</div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        function navToRequest(id) {
            window.location.href="/request/order/"+id;
        }
    </script>

</div>


</html>