<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 px2" layout:fragment="content">

  <script>
    const notificationModule = "Request";
  </script>

  <div th:replace="~{order/moduleHeader :: header}">Header</div>

  <div class="container my-3">

    <div class="col-xs-1 col-md-2">
      <h2>Settings</h2>
    </div>

    <div class="row">

      <div class="col-12 col-lg-6">

        <div th:replace="~{components/cardNotification :: cardFragment}">Notification</div>

      </div>
    </div>

  </div>
</div>

</html>