<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 px-0" layout:fragment="content">


  <div th:replace="~{order/moduleHeader :: header}">Header</div>

  <div class="container my-3">

    <div class="row">
      <div class="col-12 col-md-3">
        <h2>Settings</h2>
      </div>
      <div class="col-12 col-md-3">
        Open: <span th:text="${openRequests}"></span>
      </div>
      <div class="col-12 col-md-3">
        Completed: <span th:text="${completeRequests}"></span>
      </div>
      <div class="col-12 col-md-3">
        Total: <span th:text="${totalRequests}"></span>
      </div>
    </div>

    <div class="row">

      <div class="col-12 col-lg-6">

        <script>
          const notificationModule = "Request";
        </script>
        <div th:replace="~{components/cardNotification :: cardFragment}">Notification</div>

      </div>
    </div>

  </div>
</div>

</html>