<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid" layout:fragment="content">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <div class="container my-3" th:object="${user}">

    <div class="row">

      <div class="col-12 col-lg-6 pb-2">

        <div class="card" style="max-width: 500px;">
          <div class="card-title alert alert-primary">
            <div style="float: right">
              <button class="btn btn-sm btn-outline-primary"
                      th:onclick="window.location.href='/profile/edit';">Edit</button>
            </div>
            <h5>
              <span th:text="*{firstName}"/> <span th:text="*{lastName}"/>
            </h5>
          </div>

          <div class="card-body">

            <div class="row p-2">
              <div class="col-xs-12 col-sm-4">Username:</div>
              <div class="col-xs-12 col-sm-8">
                <button class="btn btn-sm btn-primary" style="float: right"
                        th:onclick="window.location.href='/profile/changeusername';">Change</button>
                <span class="card-text" th:text="*{username}"></span>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-xs-12 col-sm-4">Password:</div>
              <div class="col-xs-12 col-sm-8">
                <button class="btn btn-sm btn-primary" style="float: right"
                        th:onclick="window.location.href='/profile/changepassword';">Change</button>
                <span class="card-text">*****</span>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-xs-12 col-sm-4">E-mail:</div>
              <div class="col-xs-12 col-sm-8">
                <span class="card-text" th:text="*{contactEmail}"></span>
              </div>
            </div>
            <div class="row p-2">
              <div class="col-xs-12 col-sm-4">Position:</div>
              <div class="col-xs-12 col-sm-8">
                <span class="card-text" th:text="${userPosition}"></span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 pb-2">

        <div class="card" style="max-width: 500px;">
          <div class="card-title alert alert-primary">
            <div style="float: right">
              <button class="btn btn-sm btn-outline-primary"
                      th:onclick="window.location.href='/profile/requests';">All Orders</button>
            </div>
            <h5>
              Recent Requests
            </h5>
          </div>

          <div class="card-body">
            <ul class="list-group list-group-flush" th:each="order : ${orderList}">
              <li class="list-group-item selectableItem" style="cursor: pointer;"
                  th:text="${#temporals.format(order.requestDate, 'MMM-dd-yyyy')}+'  |  '+${order.orderStatus}"
                  th:onclick="window.location.href='/profile/request/[[${order.id}]]'"></li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 pb-2" th:if="${#lists.contains(userRoles,'ADMIN_WRITE')}">

        <div class="card" style="max-width: 500px;">
          <div class="card-title alert alert-primary">
            <div style="float: right">
              <button class="btn btn-sm btn-outline-primary"
                      onclick="sendPrivateMessage()">Send</button>
            </div>
            <h5>
              Push Notifications
            </h5>
          </div>

          <div class="card-body">
            <p id="countOfNotifications"></p>
            <p id="pushMessages"></p>
          </div>

          <script>
            let stompClient = null;
            let notificationCount = 0;
            connect();

            function connect() {
              let socket = new SockJS('/push-notification');
              stompClient = Stomp.over(socket);
              stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                updateNotificationDisplay();
                stompClient.subscribe('/topic/messages', function (message) {
                  showMessage(JSON.parse(message.body).topicContent);
                });
                stompClient.subscribe('/user/topic/private-messages', function (message) {
                  showMessage(JSON.parse(message.body).topicContent);
                });
              });
            }

            function showMessage(message) {
              document.getElementById("pushMessages").innerHTML += `<br>`+message;
            }

            function sendMessage() {
              let msg = {
                "topicModule": "request",
                "topicId": "1",
                "topicContent": "Request 1 updated"
              }
              console.log("sending message");
              stompClient.send("/ws/message", {}, JSON.stringify(msg));
            }

            function sendPrivateMessage() {
              let msg = {
                "topicModule": "request",
                "topicId": "1",
                "topicContent": "Request 1 updated"
              }
              console.log("sending private message");
              stompClient.send("/ws/private-message", {}, JSON.stringify(msg));
            }

            function updateNotificationDisplay() {
              let notifications = document.getElementById("countOfNotifications");
              if (notificationCount === 0) {
                notifications.style.display = "none";
              } else {
                notifications.style.display = "block";
                notifications.innerText = notificationCount;
              }
            }

            function resetNotificationCount() {
              notificationCount = 0;
              updateNotificationDisplay();
            }
          </script>

        </div>
      </div>

    </div>

  </div>
</div>

</html>