<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid" layout:fragment="content" th:object="${orderRequest}">

    <div class="row pt-4">
        <div class="col-8">
            <h2>Request</h2>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-danger" th:onclick="cancelOrder([[${orderRequest.id}]])" id="btnCancel"
                    th:if="${#strings.toString(orderRequest.orderStatus)} != 'Cancelled' AND ${#strings.toString(orderRequest.orderStatus)} != 'Complete'">Cancel Request</button>
            <progress id="prgCancel" style="width: 100%; display: none"></progress>
        </div>
    </div>

    <div class="row py-1">
        <h4>Request Id: <span th:text="*{id}"></span></h4>
    </div>
    <div class="row py-1">
        <div class="col-6">
            Date: <span th:text="*{#temporals.format(requestDate, 'MMM-dd-yyyy')}"></span>
        </div>
        <div class="col-6">
            Status: <span th:text="*{orderStatus}"></span>
        </div>
    </div>

    <div id="dpReasonTxt" class="row py-1">
        <span>
            Reason and Notes:
            <button id="btnEdit" class="btn btn-sm btn-primary"
                    th:if="${#strings.toString(orderRequest.orderStatus)} != 'Cancelled' AND ${#strings.toString(orderRequest.orderStatus)} != 'Complete'" onclick="navUpdateReason(this)">Change</button>
        </span>
        <br>
        <strong><span id="textReason" th:text="*{requestNote}"></span></strong>
    </div>
    <div id="dpReasonInput" style="display: none">
        <span>
            Reason and Notes:
            <button id="btnSave" class="btn btn-sm btn-primary" onclick="navUpdateReason(this)">Save</button>
        </span>
        <input id="requestId" type="hidden" th:value="*{id}">
        <input id="inputReason" style="width: 100%" type="text">
    </div>

    <div class="row p-2">
        <div class="col-6">
            <button class="btn btn-sm btn-outline-secondary" onclick="toggleHistory()" style="max-width: 150px;">
                History <i id="btnHistoryExpand" class="bi bi-arrows-expand" style="display: inline-block"></i><i id="btnHistoryCollapse" class="bi bi-arrows-collapse" style="display: none"></i>
            </button>
        </div>
        <div class="col-6">
            Totals Items: <span th:text="*{itemCount}"></span>
        </div>
    </div>
    <div id="divHistory" class="row orderHistory py-1 mx-1">
        <div class="card p-2">
            <div class="row">
                <div class="col">
                    <strong>Date</strong>
                </div>
                <div class="col">
                    <strong>Status</strong>
                </div>
                <div class="col">
                    <strong>Note</strong>
                </div>
                <div class="col">
                    <strong>Entered By</strong>
                </div>
            </div>

            <div class="card-section" th:each="note : ${noteList}">
                <div class="row">
                    <div class="col">
                        <span th:text="${#temporals.format(note.noteDate, 'MMM-dd-yyyy hh:mm')}"></span>
                    </div>
                    <div class="col">
                        <span th:text="${note.orderStatus}"></span>
                    </div>
                    <div class="col">
                        <span th:text="${note.orderNote}"></span>
                    </div>
                    <div class="col">
                        <span th:text="${note.user.firstName}+' '+${note.user.lastName}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2" th:each="item : *{requestItems}">
        <div th:replace="~{components/cardOrderItemLine :: cardFragment(${item}, ${orderRequest.user.id})}">Your Order is Empty</div>
    </div>


    <script th:inline="javascript">
        const displayDivHistory = document.getElementById("divHistory");
        const displayBtnHistoryExpand = document.getElementById("btnHistoryExpand");
        const displayBtnHistoryCollapse = document.getElementById("btnHistoryCollapse");
        const displayBtnCancel = document.getElementById("btnCancel");
        const displayPrgCancel = document.getElementById("prgCancel");

        const displayReasonTxt = document.getElementById("dpReasonTxt");
        const displayReasonInput = document.getElementById("dpReasonInput");
        const displayInputReason = document.getElementById("inputReason");
        const displayTextReason = document.getElementById("textReason");
        const inputId = document.getElementById("requestId");

        function navToItem(id) {
            window.location.href="/store/item/"+id;
        }
        function toggleHistory(){
            if (displayDivHistory.classList.contains("orderHistoryExpand")) {
                displayDivHistory.classList.remove("orderHistoryExpand");
                displayBtnHistoryExpand.style.display = "inline-block";
                displayBtnHistoryCollapse.style.display = "none";
            } else {
                displayDivHistory.classList.add("orderHistoryExpand");
                displayBtnHistoryExpand.style.display = "none";
                displayBtnHistoryCollapse.style.display = "inline-block";
            }
        }

        function navUpdateReason(element) {
            if(element.id == 'btnEdit') {
                displayReasonTxt.style.display = "none";
                displayReasonInput.style.display = "block";
                displayInputReason.value = displayTextReason.innerText;
            }
            if(element.id == 'btnSave') {
                displayReasonTxt.style.display = "block";
                displayReasonInput.style.display = "none";
                displayTextReason.innerText = displayInputReason.value;

                let formData = new FormData();
                    formData.set("id", inputId.value);
                    formData.set("name", displayInputReason.value);

                fetch("/api/v1/request/updateReason", {
                    method: "POST",
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    if (data.id === 0) {
                        window.location.reload()
                    }
                });
            }
        }

        async function cancelOrder(id) {
            displayBtnCancel.setAttribute("disabled", "disabled");
            displayPrgCancel.style.display = "block";

            let formData = new FormData();
                formData.set("id", id);

            const response = await fetch('/api/v1/request/cancel', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                console.log(data);
                debugger
                window.location.reload();
            });
        }
    </script>

</div>


</html>