<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:fragment="cardFragment(cEvent, showAcceptDecline, showDelete)">
  <div class="card" th:object="${cEvent}">

    <div class="card-title alert alert-primary selectableItem" style="cursor: pointer"
         th:onclick="'javascript:navEventCard(event, this, '+${cEvent.id}+')'" id="divTitle">

      <script th:inline="javascript">
        function navEventCard(event, element, eventId) {
          event.stopPropagation();

          let data = JSON.stringify({id: eventId, name: 'request'});
          const options = { headers: {"content-type": "application/json"} };

          if(element.id == 'btnEdit') {
            window.location.href='/calendar/'+eventId+'/edit';
          } else if(element.id == 'btnDelete'){
            data = JSON.stringify({id: eventId, name: 'delete'});
            axios.withCredentials = true;
            axios
                .post('/api/v1/calendarevent/delete', data, options)
                .then(response => { location.reload(); })
                .catch(error => console.error(error));
          } else if(element.id == 'btnAccept' || element.id == 'btnDecline') {
            if(element.id == 'btnAccept'){ data = JSON.stringify({id: eventId, name: 'accept'}); }
            if(element.id == 'btnDecline'){ data = JSON.stringify({id: eventId, name: 'decline'}); }
            axios.withCredentials = true;
            axios
              .post('/api/v1/calendarevent/verify', data, options)
              .then(response => { location.reload(); })
              .catch(error => console.error(error));
          } else {
            window.location.href='/calendar/'+eventId;
          }
        }
      </script>

      <div style="float: right">

        <th:block th:unless="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'VOLUNTEER_WRITE')}">
          <th:block th:if="${showAcceptDecline} AND !${cEvent.requested}">
            <th:block th:unless="${cEvent.accepted}">
              <button class="btn btn-sm btn-outline-success" id="btnAccept"
                      th:onclick="'javascript:navEventCard(event, this, '+${cEvent.id}+')'">Accept&nbsp;
              </button>
            </th:block>
            <th:block th:unless="${cEvent.declined} AND !${cEvent.requested}">
              <button class="btn btn-sm btn-outline-danger" id="btnDecline"
                      th:onclick="'javascript:navEventCard(event, this, '+${cEvent.id}+')'">Decline
              </button>
            </th:block>
          </th:block>
          <th:block th:if="${cEvent.requested} AND !${cEvent.declined} AND !${cEvent.accepted}">
            <button class="btn btn-sm btn-outline-warning" id="btnEdit"
                    th:onclick="'javascript:navEventCard(event, this, '+${cEvent.id}+')'">Edit
            </button>
          </th:block>
        </th:block>

        <th:block th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'VOLUNTEER_WRITE')}">
          <th:block th:if="${cEvent.requested}">
            <th:block th:unless="${cEvent.accepted}">
              <button class="btn btn-sm btn-outline-success" id="btnAccept"
                      th:onclick="'javascript:navEventCard(event, this, '+${cEvent.id}+')'">Accept&nbsp;
              </button>
            </th:block>
            <th:block th:unless="${cEvent.declined} AND !${cEvent.requested}">
              <button class="btn btn-sm btn-outline-danger" id="btnDecline"
                      th:onclick="'javascript:navEventCard(event, this, '+${cEvent.id}+')'">Decline
              </button>
            </th:block>
          </th:block>
          <th:block th:if="${showDelete}">
            <button class="btn btn-sm btn-outline-danger" id="btnDelete"
                    th:onclick="'javascript:navEventCard(event, this, '+${cEvent.id}+')'">Delete
            </button>
          </th:block>
          <th:block th:if="!${cEvent.requested}">
            <button class="btn btn-sm btn-outline-warning" id="btnEdit"
                  th:onclick="'javascript:navEventCard(event, this, '+${cEvent.id}+')'">Edit
            </button>
          </th:block>
        </th:block>
      </div>
      <h5>
        <th:block th:if="${cEvent.declined}">
            <span style="font-size: 1.25em; color: orangered;">
              <i class="bi bi-x-circle-fill"></i>
            </span>
        </th:block>
        <th:block th:if="${cEvent.accepted}">
            <span style="font-size: 1.25em; color: darkgreen;">
              <i class="bi bi-check-circle-fill"></i>
            </span>
        </th:block>
        <th:block th:if="!${cEvent.accepted} AND !${cEvent.declined} AND !${cEvent.requested}">
            <span style="font-size: 1.25em; color: orange;">
              <i class="bi bi-question-circle-fill"></i>
            </span>
        </th:block>
        <th:block th:if="${cEvent.requested} AND !${cEvent.declined} AND !${cEvent.accepted}">
            <span style="font-size: 1.25em; color: coral;">
              <i class="bi bi-person-fill-exclamation"></i>
            </span>
        </th:block>
        <span th:text="*{title}"/>
      </h5>
<!--      <span style="color: green;" th:if="${cEvent.accepted}">Accepted</span>-->
<!--      <span style="color: darkorange;" th:unless="${cEvent.accepted}">Not&nbsp;Accepted</span>-->
    </div>

    <div class="card-body">
      <div class="ml-4">
        <p th:text="${cEvent.description}"/>
      </div>
    </div>

  </div>
</div>

</html>