<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:fragment="cardFragment(storeItem)">
  <div class="card my-2 selectableCard" th:object="${storeItem}">

    <div class="card-body">

        <div class="row" th:onclick="navToItem([[*{id}]])">
            <div class="col">
                <h3 th:text="*{name}"></h3>
            </div>
        </div>
        <div class="row" th:onclick="navToItem([[*{id}]])">
            <div class="col">

                <th:block th:if="*{image}">
                    <img th:src="@{*{image.fileLocation}}" class="store_card_image">
                </th:block>

                <p th:text="*{description}" class="store_card_description"></p>
            </div>
        </div>

        <div class="card-section">
            <div class="row">
                <div class="col-12 my-2">
                    <div class="form-group" style="display: flex;" th:unless="*{#lists.isEmpty(itemOptions)}">
                        <label class="form-control-label">Option:&nbsp;&nbsp;</label>
                        <select th:id="*{id}+'-details'" class="form-control" >
                            <option th:each="opt : *{itemOptions}" th:value="${opt.name}" th:text="${opt.name}"></option>
                        </select>
                    </div>
                </div>

                <div class="col-12 my-2">
                    <div style="float: right">
                        <input th:id="*{id}+'-counter'" type="number" value="1" th:if="*{available}" style="width: 55px">
                        <input th:id="*{id}+'-counter'" type="number" value="1" th:unless="*{available}" disabled style="width: 55px">
                        <button type="button" class="btn btn-sm btn-outline-store" th:if="*{available}"
                                th:onclick="addToCart([[*{id}]], [[${userId}]])"><i class="bi bi-cart-plus"></i></button>
                        <button type="button" class="btn btn-sm btn-outline-store" th:unless="*{available}"
                                th:onclick="addToCart([[*{id}]], [[${userId}]])" disabled><i class="bi bi-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" th:onclick="navToItem([[*{id}]])">
                <div class="col-6">
                    Lead Time: <span th:text="*{leadTime}"></span> Days
                </div>
                <div class="col-6 text-right">
                    <div th:if="*{available}" style="float: right">
                        <span th:if="*{specialOrder}">Special Order Item</span>
                    </div>
                    <div th:unless="*{available}" style="float: right">
                        <span>Unavailable</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>

</html>