<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:fragment="cardFragment(storeItem)">
  <div class="card" th:object="${storeItem}">

    <div class="row mt-2" >
      <div class="col-6 col-md-4" style="vertical-align: center" th:onclick="navToItem([[*{id}]])">
        <th:block th:if="*{image}">
          <img th:src="@{*{image.fileLocation}}" class="store_line_image mr-2 align-content-center" style="float: left">
        </th:block>
        <h6 th:text="*{name}" class=" align-content-center"></h6>
      </div>

      <div class="col-6 col-md-8" style="overflow-x: clip" th:onclick="navToItem([[*{id}]])">
        <p th:text="*{description}" style="overflow: clip; max-height: 1.5em;"></p>
      </div>
    </div>
    <div class="row">

      <div class="row">
        <div class="col-6 mt-2">
          <div class="form-group" style="display: flex;" th:unless="*{#lists.isEmpty(itemOptions)}">
            <label class="form-control-label">Option:&nbsp;&nbsp;</label>
            <select th:id="*{id}+'-details'" class="form-control">
              <option th:each="opt : *{itemOptions}" th:value="${opt.name}" th:text="${opt.name}"></option>
            </select>
          </div>
        </div>

        <div class="d-none d-md-block col-3 mt-2">
          <div th:unless="*{specialOrder}">
            Lead Time: <span th:text="*{leadTime}"></span> Days
          </div>
          <div th:if="*{specialOrder}" style="float: right">
            Special Order Item
          </div>
        </div>

        <div class="col-6 col-md-3 mt-2">
          <div style="float: right">
            <input th:id="*{id}+'-counter'" type="number" value="1" style="width: 55px">
            <button type="button" class="btn btn-sm btn-outline-store"
                    th:onclick="addToCart([[*{id}]], [[${userId}]])"><i class="bi bi-cart-plus"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</html>