<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div class="card" style="max-width: 450px;" th:fragment="cardFragment">

    <template id="notificationTemplate">
        <div class="card-section my-2">
            <label class="form-control-label selectableItem w-100"></label>
            <div class="pl-2">
                <form>
                    <input name="id" type="hidden"/>

                    <label class="form-control-label" style="float: left">Notification Name:</label>
                    <input name="name" class="form-control"/>

                    <label class="form-control-label" style="float: left">Description:</label>
                    <input name="description" class="form-control"/>

                    <input type="hidden" name="module" class="form-control"/>

                    <label class="form-control-label" style="float: left">Type:</label>
                    <select class="form-control w-100" name="type">
                        <option th:each="t : ${typeList}" th:value="${t.name}" th:text="${t.name}"></option>
                    </select>

                    <label class="form-control-label" style="float: left">User</label>
                    <input type="hidden" name="users">
                    <select class="form-control-sm w-100" name="userMultiSelect" multiple>
                        <option th:each="u : ${notificationUsers}" th:value="${u.id}" th:text="${u.name}"></option>
                    </select>

                    <div>
                        <button type="button" class="btn btn-sm btn-generic">Update</button>
                        <button type="button" class="btn btn-sm btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </template>

    <div class="card-title m-4">
        <button class="btn btn-sm btn-generic" style="float: right;" onclick="notificationDialog()">Add</button>
        <h4>Notifications</h4>
    </div>
    <div id="notificationCards" class="card-body">
        <div th:each="notify : ${notificationList}">
            <div th:id="'ntf-'+${notify.id}" class="card-section my-2">
                <label th:text="${notify.id}+' - '+${notify.name}" class="form-control-label selectableItem w-100" th:onclick="toggleNotification([[${notify.id}]])"></label>
                <div class="pl-2 notification-edit" th:id="'cnt-'+${notify.id}" style="display: none;">
                    <form th:onsubmit="updateNotification([[${notify.id}]])">
                        <input name="id" type="hidden" th:value="${notify.id}"/>

                        <label class="form-control-label" style="float: left">Notification Name:</label>
                        <input name="name" class="form-control" th:value="${notify.name}"/>

                        <label class="form-control-label" style="float: left">Description:</label>
                        <input name="description" class="form-control" th:value="${notify.Description}"/>

                        <input type="hidden" name="module" class="form-control" th:value="${notify.module}"/>

                        <label class="form-control-label" style="float: left">Type:</label>
                        <select class="form-control w-100" name="type">
                            <option th:each="t : ${typeList}" th:value="${t.name}"
                                    th:selected="${t.name} == *{typeName}" th:text="${t.name}"></option>
                        </select>

                        <label class="form-control-label" style="float: left">User</label>
                        <input th:id="'users-'+${notify.id}" type="hidden" name="users">
                        <select th:id="'userList-'+${notify.id}" class="form-control-sm w-100" name="userMultiSelect" multiple th:onchange="onUserSelect([[${notify.id}]])">
                            <option th:each="u : ${notificationUsers}" th:value="${u.id}" th:text="${u.name}"></option>
                        </select>

                        <div>
                            <div style="display: inline-block; width: 50%;"></div>
                            <button type="button" class="btn btn-sm btn-generic" th:onclick="updateNotification([[${notify.id}]])">Update</button>
                            <button type="button" class="btn btn-sm btn-danger" th:onclick="deleteNotification([[${notify.id}]])">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <dialog id="newNotificationDialog" class="upload-modal">
        <script>
            async function postNewNotify() {
                let formData = new FormData();
                formData.set("id", 0);
                formData.set("name", document.getElementById('notificationName').value);

                const response = await fetch('/api/v1/notification/newnotification', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    newNotification(data.id, data.name);
                    keyEscNotify();
                });
            }
            function keyNewNotify(event) {
                event.preventDefault();
                if (event.key === "Enter" || event.keyCode === 13) {
                    postNewNotify();
                }
                if (event.key === "Escape") {
                    keyEscNotify();
                }
            }
            function keyEscNotify() {
                document.getElementById('notificationName').value = "";
                document.getElementById("newNotificationDialog").close();
            }
        </script>
        <h2>New Notification</h2>
        <form onsubmit="postNewNotify()" style="width: 300px; max-width: 450px">
            <label for="notificationName" class="form-label">Name</label>
            <input class="form-control" id="notificationName" onkeyup="keyNewNotify(event)">
            <div class="pt-2">
                <button id="btnSubmit" type="button" class="btn btn-sm btn-generic" onclick="postNewNotify()">Add</button>
                <button id="btnCancel" type="button" class="btn btn-sm btn-outline-generic" onclick="keyEscNotify()">Cancel</button>
            </div>
        </form>
    </dialog>

    <script>
        const notifyTemplate = document.getElementById("notificationTemplate");
        const notificationList = document.getElementById("notificationCards");

        function notificationDialog() {
            document.getElementById("newNotificationDialog").showModal();
        }

        async function toggleNotification(id) {
            // let card = document.getElementById("notificationCards");
            let cntID = "cnt-"+id;
            let cntDiv = document.getElementById(cntID);
            let formData = new FormData();
            formData.set("id", id);

            if (cntDiv.style.display === "none") {
                debugger
                // close all notification editors before continuing
                let divLoop = notificationList.querySelectorAll(".notification-edit");
                for (let d in divLoop) {
                    try {
                        divLoop[d].style.display = "none";
                    } catch (e) {
                        // e
                    }
                }

                const response = await fetch('/api/v1/notification/getnotification', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    let selectors = cntDiv.querySelectorAll("select");
                    let typeSelect = selectors[0];

                    for (let o=0; o<typeSelect.options.length; o++) {
                        if (typeSelect.options[o].value === data.type) {
                            typeSelect.options[o].setAttribute('selected', 'selected');;
                        }
                    }

                    let elementId = "users-"+id;
                    let uList = document.getElementById(elementId);
                    uList.value = "";
                    let userSelect = selectors[1];
                    for (let o=0; o<userSelect.options.length; o++) {
                        userSelect.options[o].removeAttribute('selected');
                        for (let su=0; su<data.users.length; su++) {
                            let optVal = userSelect.options[o].value;
                            let dataVal = String(data.users[su].id);
                            if (optVal === dataVal) {
                                userSelect.options[o].setAttribute('selected', 'selected');
                                uList.value = uList.value+dataVal+" ";
                            }
                        }
                    }
                    cntDiv.style.display = "block";
                });
            } else {
                cntDiv.style.display = "none";
            }

        }

        function onUserSelect(id){
            debugger
            let elementId = "users-"+id;
            let listId = "userList-"+id;
            let uList = document.getElementById(elementId);
            let uSelect = document.getElementById(listId);

            let collection = uSelect.selectedOptions;
            let u = "";
            let i = 0;
            for (let i = 0; i < collection.length; i++) {
                u = u+collection[i].value+" ";
            }
            uList.value = u;
        }

        async function updateNotification(id) {
            let cntID = "cnt-"+id;
            let cntDiv = document.getElementById(cntID);
            let thisForm = cntDiv.querySelectorAll("form")
            let updateForm = thisForm[0];
            let formData = new FormData();
            formData.set("id", updateForm[0].value)
            formData.set("name", updateForm[1].value)
            formData.set("description", updateForm[2].value)
            formData.set("module", updateForm[3].value)
            formData.set("type", updateForm[4].value)
            formData.set("users", updateForm[5].value)
            debugger

            const response = await fetch('/api/v1/notification/updatenotification', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                cntDiv.style.display = "none";
            });
        }

        async function deleteNotification(id) {
            let ntfID = "ntf-"+id;
            let ntfDiv = document.getElementById(ntfID);
            let formData = new FormData();
            formData.set("id", id)

            const response = await fetch('/api/v1/notification/deletenotification', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                ntfDiv.remove();
            });
        }

        async function newNotification(id, name) {
            let newID = id;
            let newName = name;
            let newDescription = "";
            let newModule = notificationModule;

            let clone = notifyTemplate.content.cloneNode(true);
            let parentDiv = clone.querySelector("div");
            parentDiv.id = "ntf-"+newID;
            // first label
            let titleLabel = parentDiv.querySelector("label");
            titleLabel.innerText = newID+' - '+newName;
            titleLabel.addEventListener("click", function (event) {toggleNotification(newID)});
            // hide enabled content
            let contentDiv = parentDiv.querySelector("div");
            contentDiv.id = "cnt-"+newID;
            // form content
            let contentForm = contentDiv.querySelector("form");
            contentForm.addEventListener("submit", function (event) {updateNotification(newID)});

            // inputs
            let formInputs = contentForm.querySelectorAll("input");
            formInputs[0].value = newID;
            formInputs[1].value = newName;
            formInputs[2].value = newDescription;
            formInputs[3].value = newModule;
            formInputs[4].id = "users-"+newID;

            // selects
            let formSelects = contentForm.querySelectorAll("select");
            formSelects[1].id = "userList-"+newID;
            formSelects[1].addEventListener("change", function (event) {onUserSelect(newID)});

            // buttons
            let buttonDiv = contentForm.querySelector("div");
            let contentBtn = buttonDiv.querySelectorAll("button");
            contentBtn[0].addEventListener("click", function (event) {updateNotification(newID)});
            contentBtn[1].addEventListener("click", function (event) {deleteNotification(newID)});

            // add to list
            notificationList.appendChild(clone);
        }

    </script>

</div>

</html>