<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:fragment="cardFragment(cartItem)">
  <div th:id="*{productId}+'-item'" class="card" th:object="${cartItem}">

    <div class="row p-2" >
      <div class="col-4" style="vertical-align: center; cursor: pointer;" th:onclick="navToItem([[*{productId}]])">
        <img th:if="*{image != null}" th:src="@{*{image.fileLocation}}" class="store_line_image mr-2 align-content-center" style="float: left">
        <h6 th:text="*{productName}" class=" align-content-center"></h6>
      </div>
      <div class="col-4" style="vertical-align: center; cursor: pointer;" th:onclick="navToItem([[*{productId}]])">
        <h6 th:text="*{details}" class=" align-content-center"></h6>
      </div>
      <div class="col-4" style="vertical-align: center;">
        <div style="float: right">
          <input th:id="*{productId}+'-counter'" type="number" th:value="*{count}" style="width: 55px">
          <button type="button" class="btn btn-sm btn-outline-store"
                  th:onclick="updateCartItem([[*{productId}]], [[${userId}]], 'updateitem')"><i class="bi bi-arrow-clockwise"></i></button>
          <button type="button" class="btn btn-sm btn-outline-store"
                  th:onclick="updateCartItem([[*{productId}]], [[${userId}]], 'removeitem')"><i class="bi bi-x-circle"></i></button>
        </div>
        </div>
    </div>

  </div>
</div>

</html>