<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:fragment="cardFragment(orderItem, currentUserId, requestClosed)">
  <div th:id="*{productId}+'-item'" class="card p-2" th:object="${orderItem}">

    <div class="d-block d-lg-none">
      <div class="row" >
        <div class="col-8" th:onclick="navToItem([[*{productId}]])">
          <img th:src="@{*{image.fileLocation}}" class="store_line_image mr-2 align-content-center" style="float: left">
          <h6 th:text="*{productName}" class=" align-content-center"></h6>
        </div>
        <div class="col-4">
          <div>
            Items: <span th:text="*{count}"></span>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-12" th:onclick="navToItem([[*{productId}]])">
          <h6 th:text="*{details}"></h6>
        </div>
        <div class="col-12">
          <div>
            Item Status: <span th:text="*{itemStatus}"></span>
            <th:block th:if="${editable} or ${currentUserId} eq ${orderItem.supervisor.id}">
              <button class="btn btn-sm btn-primary" th:unless="${requestClosed}" th:onclick="dialogChangeItemStatus([[*{id}]], [[*{itemStatus}]])">Change</button>
            </th:block>
          </div>
        </div>
        <div class="col-12">
          <div>
            Item Fulfilled By: <span th:text="*{supervisor.firstName} + ' ' + *{supervisor.lastName}"></span>
            <button id="btnItemSupervisorSM" class="btn btn-sm btn-primary" th:unless="${requestClosed}" onclick="dialogAssignPerson()">Change</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none d-lg-block">
      <div class="row" >
        <div class="col-4" style="vertical-align: center;">
          <img th:src="@{*{image.fileLocation}}" class="store_line_image mr-2 align-content-center" style="float: left">
          <h6 th:text="*{productName}" class=" align-content-center"></h6>
        </div>
        <div class="col-6" style="vertical-align: center;">
          <h6 th:text="*{details}" class=" align-content-center"></h6>
        </div>
        <div class="col-2">
          <div style="float: right">
            Items: <span th:text="*{count}"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div>
            Item Status: <span th:text="*{itemStatus}"></span>
            <th:block th:if="${editable} or ${currentUserId} eq ${orderItem.supervisor.id}">
              <button class="btn btn-sm btn-primary" th:unless="${requestClosed}" th:onclick="dialogChangeItemStatus([[*{id}]], [[*{itemStatus}]])">Change</button>
            </th:block>
          </div>
        </div>
        <div class="col-6">
          <div>
            Item Fulfilled By: <span th:text="*{supervisor.firstName} + ' ' + *{supervisor.lastName}"></span>
            <button id="btnItemSupervisorLG" class="btn btn-sm btn-primary" th:unless="${requestClosed}" th:onclick="dialogAssignPerson([[*{supervisor.id}]])">Change</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</html>