<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:fragment="cardFragment(volunteers)">

    <script th:inline="javascript">
      function navVolunteerTable(event, element, eventId) {
        event.stopPropagation();

        if(element.id == 'btnEdit') {
          window.location.href='/volunteer/'+eventId+'/edit';
        } else if(element.id == 'btnNew') {
          window.location.href='/volunteer/new';
        } else {
          window.location.href='/volunteer/'+eventId;
        }
      }
    </script>

    <div class="row p-2">
      <h3>
        Volunteers
<!--          <button class="btn btn-sm btn-success" id="btnNew"-->
<!--                  th:onclick="'javascript:navVolunteerTable(event, this)'">Add New-->
<!--          </button>-->
      </h3>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Location</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="volunteer : ${volunteers}" class="selectableItem" style="cursor: pointer"
          th:onclick="'javascript:navVolunteerTable(event, this, '+${volunteer.id}+')'" id="selectNavigate">
        <td th:text="${volunteer.username}"></td>
        <td><span th:text="${volunteer.firstName}"/> <span th:text="${volunteer.lastName}"/></td>
        <td><span th:text="${volunteer.position.name}"/></td>
        <td><span th:text="${volunteer.location.name}"/></td>
        <td>
          <th:block th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_WRITE')}">
<!--          <button class="btn btn-sm btn-outline-warning" id="btnEdit"-->
<!--                  th:onclick="'javascript:navVolunteerTable(event, this, '+${volunteer.id}+')'">Edit-->
<!--          </button>-->
          </th:block>
        </td>
      </tr>
      </tbody>
    </table>

</div>

</html>