<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<div th:fragment="cardFragment(cEvents)">

    <script th:inline="javascript">
      function navEventTable(event, element, eventId) {
        event.stopPropagation();

        if(element.id == 'btnEdit') {
          window.location.href='/calendar/'+eventId+'/edit';
        } else if(element.id == 'btnNew') {
          window.location.href='/calendar/new';
        } else {
          window.location.href='/calendar/'+eventId;
        }
      }
    </script>

    <div class="row p-2">
      <h3>
        Upcoming Schedule
<!--          <button class="btn btn-sm btn-success" id="btnNew"-->
<!--                  th:onclick="'javascript:navEventTable(event, this, 0)'">Add New-->
<!--          </button>-->
      </h3>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="calendarEvent : ${cEvents}" class="selectableItem" style="cursor: pointer"
          th:onclick="'javascript:navEventTable(event, this, '+${calendarEvent.id}+')'" id="selectNavigate">
        <td>
          <th:block th:if="${calendarEvent.declined}">
            <span style="font-size: 1.25em; color: orangered;">
              <i class="bi bi-x-circle-fill"></i>
            </span>
          </th:block>
          <th:block th:if="${calendarEvent.accepted}">
            <span style="font-size: 1.25em; color: darkgreen;">
              <i class="bi bi-check-circle-fill"></i>
            </span>
          </th:block>
          <th:block th:if="!${calendarEvent.accepted} AND !${calendarEvent.declined} AND !${calendarEvent.requested}">
            <span style="font-size: 1.25em; color: orange;">
              <i class="bi bi-question-circle-fill"></i>
            </span>
          </th:block>
          <th:block th:if="${calendarEvent.requested} AND !${calendarEvent.declined} AND !${calendarEvent.accepted}">
            <span style="font-size: 1.25em; color: coral;">
              <i class="bi bi-person-fill-exclamation"></i>
            </span>
          </th:block>
          <span th:text="${calendarEvent.title}"/>
        </td>
        <td>
          <span th:text="${calendarEvent.description}"/>
        </td>
        <td>
          <th:block th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'USER_WRITE')}">
          <button class="btn btn-sm btn-outline-warning" id="btnEdit"
                  th:onclick="'javascript:navEventTable(event, this, '+${calendarEvent.id}+')'">Edit
          </button>
          </th:block>
        </td>
      </tr>
      </tbody>
    </table>

</div>

</html>