<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid" layout:fragment="content">

  <div th:replace="~{admin/moduleHeader :: header}">Header</div>

  <div class="container my-3">

    <div style="float: right">
      <button class="btn btn-sm btn-success"
              th:onclick="window.location.href='/position/new';">Add</button>
    </div>

    <h1>Positions</h1>
    <table class="table table-striped pb-0">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="position : ${positions}" class="selectableItem" style="cursor: pointer"
          th:onclick="window.location.href='/position/edit/[[${position.id}]]';">
        <td><span th:text="${position.name}"/></td>
        <td><span th:text="${position.level}"/></td>
      </tr>
      </tbody>
    </table>
    <p class="pb-3 pt-0"><small>* Users can only edit other users with a position level greater than his or her own level.</small></p>

    <hr>

    <div style="float: right">
      <button class="btn btn-sm btn-success"
              th:onclick="window.location.href='/permissiontemplate/new';">Add</button>
    </div>
    <h2>Permission Templates</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Template</th>
        <th scope="col">Position</th>
        <th scope="col">Permissions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="temp : ${templateList}" class="selectableItem" style="cursor: pointer"
          th:onclick="window.location.href='/permissiontemplate/edit/[[${temp.id}]]';">
        <td><span th:text="${temp.name}"/></td>
        <td><span th:text="${temp.position.name}"/></td>
        <td>
          <div th:each="role : ${temp.userRoles}" style="font-size: small; display: inline-block">
            <span th:text="${role.name}"></span> |
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

</html>