<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{support/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">

            <h1 style="color: #6f42c1">Welcome to Destiny Support</h1>
            <p>A place for all you trouble... tickets.</p>

        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let searchTerm = /*[[${searchTerm}]]*/ " ";
        /*]]>*/
        document.getElementById("searchInput").value = searchTerm;

    </script>

  </div>

</html>