<div th:fragment="header">

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid w-100">

        <div class="navbar-nav mt-2 mx-2">
          <a class="nav-link h3" href="#">
            <i class="bi bi-life-preserver h3" style="color: #6f42c1"></i>
          </a>
        </div>
        <div class="navbar-nav mt-2 mx-2" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'ADMIN_READ')}">
          <a class="nav-link h3" href="#">
            <i class="bi bi-gear h3" style="color: #6f42c1"></i>
          </a>
        </div>
        <div class="navbar-nav mx-2">
          <a class="btn btn-sm btn-tertiary" href="/store/new">
            <i class="bi bi-ticket-detailed"></i>
          </a>
        </div>
        <div class="navbar-nav mt-2 mx-2 flex-grow-1">
          <span></span>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBreadcrumb" aria-controls="navbarBreadcrumb" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mr-2 mt-3 mt-md-0" id="navbarBreadcrumb">
          <ul class="navbar-nav me-auto d-none d-sm-block"></ul>

          <form onsubmit="searchForm()" class="d-flex me-auto mt-3 mt-sm-0" style="height: 30px">
            <input id="searchInput" class="form-control" type="text" placeholder="Search" onkeyup="searchKeyUp(event)">
            <button class="btn btn-sm btn-outline-tertiary mx-1 px-1" type="button" onclick="submit()">Search</button>
            <script th:inline="javascript">
              function searchForm() {
                event.preventDefault();
                window.location.href="/support/search/"+document.getElementById("searchInput").value;
              }
              function searchKeyUp(event) {
                event.preventDefault();
                if (e.key === 'Enter' || e.keyCode === 13) {
                  searchForm();
                }
              }
            </script>
          </form>

        </div>


      </div>

    </nav>

</div>