<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div th:replace="~{support/moduleHeader :: header}">Header</div>

    <div class="wrapper flex-grow-1">
    <div id="mainContent" class="wrapper d-flex">

        <div class="flex-fill p-1 w-100 mx-2">

            <div class="row p-2">
                <div class="support-list-header">
                    <div class="support-list-title" >
                        My Open Tickets
                    </div>
                    <div class="support-list-item" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'SUPPORT_SUPERVISOR')}">
                        <a href="/support/openticketmanager" style="text-decoration: none">All Open Tickets</a>
                    </div>
                    <div class="support-list-item">
                        <a th:href="'/support/user/'+${user.id}" style="text-decoration: none">All My Tickets</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4 p-1">
                    <select id="filterSLA" class="form-control" style="display: inline-block" onchange="onChangeFilter()">
                        <option value="">Select SLA</option>
                        <option th:each="sla : ${slaList}" th:value="${sla.id}"
                                th:text="${sla.name}" th:selected="${sla.id} == ${selectedSLAid}"></option>
                    </select>
                </div>
                <div class="col-12 col-md-4 p-1">
                    <select id="filterSort"  class="form-control" style="display: inline-block" onchange="onChangeFilter()">
                        <option value="ticketDue,ASC" th:selected="${selectedSort} == 'ticketDue,ASC'">Date Due | ASC</option>
                        <option value="ticketDue,DESC" th:selected="${selectedSort} == 'ticketDue,DESC'">Date Due | DESC</option>
                    </select>
                </div>
            </div>

            <div class="row pt-3 py-2" th:if="${not #lists.isEmpty(openUserTicketList)}">
                <div class="col">
                    <h4>Tickets You Submitted</h4>
                </div>
            </div>
            <div class="row pt-2 pb-5 py-2" th:if="${not #lists.isEmpty(openUserTicketList)}">
                <div class="py-1" th:each="userTicket : ${openUserTicketList}">
                    <div th:replace="~{components/cardTicketLine :: cardFragment(${userTicket})}"></div>
                </div>
            </div>

            <div class="row pt-5 py-2" th:if="${not #lists.isEmpty(openAgentTicketList)}">
                <div class="col">
                    <h4>Tickets Sent to You</h4>
                </div>
            </div>
            <div class="row pt-2 pb-5 py-2" th:if="${not #lists.isEmpty(openAgentTicketList)}">
                <div class="py-1" th:each="openTicket : ${openAgentTicketList}">
                    <div th:replace="~{components/cardTicketLine :: cardFragment(${openTicket})}">No Tickets to Display</div>
                </div>
            </div>

            <div class="row pt-5 py-2" th:if="${not #lists.isEmpty(ticketMentionList)}">
                <div class="col">
                    <h4>Tickets You've been Included on</h4>
                </div>
            </div>
            <div class="pt-5 pb-5 py-2" th:if="${not #lists.isEmpty(ticketMentionList)}">
                <div class="py-1" th:each="ticketMention : ${ticketMentionList}">
                    <div th:replace="~{components/cardTicketLine :: cardFragment(${ticketMention})}">No Tickets to Display</div>
                </div>
            </div>

    </div>

    </div>
    </div>

    <script>
        const selectSLA = document.getElementById("filterSLA");
        const selectSort = document.getElementById("filterSort");

        function onChangeFilter() {
            // SLA
            let paramString = "?";
            if (selectSLA.selectedIndex > 0) {
                paramString = paramString+"sla="+selectSLA.value;
            }

            // sorting
            let sorting = selectSort.value;
            let args = sorting.split(",");
            paramString = paramString+"&sortCol="+args[0]+"&sortOrder="+args[1];

            let path = window.location.href.split('?')[0];
            window.location.href=path+paramString;
        }
    </script>

</div>

</html>