<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}" xmlns="http://www.w3.org/1999/html">

<div class="container-fluid m-0 p-0" layout:fragment="content">
    <template id="imageTemplate">
        <div class="image_upload">
            <img src="" height="50px">
            <div class="d-inline"></div>
            <div class="btn-remove d-inline px-2 mr-2">X</div>
        </div>
    </template>

    <template id="noteTemplate">
        <div class="card my-2 mx-0 p-0">
            <div class="note-container">
                <div class="note-address">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="note-content">
                    <div></div>
                    <div class="card-section">
                        <div class="d-inline"></div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <div th:replace="~{support/moduleHeader :: header}">Header</div>

    <div class="ticket-container" th:object="${ticket}">

        <!-- title -->
        <div class="mt-2 w-100">
            <h2>
                <div style="float: right">
                    <i id="btnStatusEdit" class="bi bi-pencil-square h5 selectableItem" th:if="${isAgent}"
                       th:onclick="updateTicketStatus([[*{id}]])"></i>
                    <span th:text="*{ticketStatus}"></span>
                </div>

                Ticket:
                <span th:text="*{id}">(not found)</span>
            </h2>
        </div>

        <div class="card m-0 p-0">

            <div class="card-title py-2 px-2">
                <button class="btn btn-sm btn-outline-secondary" onclick="toggleTicketDetail()" style="max-width: 75px; float: right">
                    <i id="btnDetailExpand" class="bi bi-arrows-expand" style="display: inline-block"></i><i id="btnDetailCollapse" class="bi bi-arrows-collapse" style="display: none"></i>
                </button>
                <span th:text="*{ticketDetail}"></span>
            </div>

            <div id="divTicketDetail" class="card-body py-0 px-1 ticket-detail">

                <div class="card-section support-ticket py-2">
                    <div class="ticket-detail-body m-0 p-0" style="flex-grow: 1">
                        <div>
                            Submitted: <span th:text="*{#temporals.format(ticketDate, 'MMM-dd-yyyy HH:mm')}"></span>
                        </div>

                        <div>
                            Assigned to: <span class="ticket-assigned-person" th:text="*{agent.firstName}+' '+*{agent.lastName}"></span>
                        </div>
                    </div>
                    <div class="ticket-detail-info">
                        <div>
                            Due: <span th:text="*{#temporals.format(ticketDue, 'MMM-dd-yyyy HH:mm')}"></span>
                        </div>
                        <div th:if="${closeDate == 'true'}">
                            <span th:text="*{ticketStatus}"></span>: <span th:text="*{#temporals.format(ticketClosed, 'MMM-dd-yyyy HH:mm')}"></span>
                        </div>
                    </div>
                </div>

                <div class="support-ticket py-2 px-2">
                  <div class="ticket-detail-body">
                      <div>
                        Submitted by: <span th:text="*{user.firstName}+' '+*{user.lastName}"></span>
                      </div>
                      <div>
                          Campus: <span th:text="*{campus.name}+' - '+*{department.name}"></span>
                      </div>
                  </div>
                  <div class="ticket-detail-info">
                      <div>
                          <i id="btnSLAEdit" class="bi bi-pencil-square selectableItem" th:if="${isAgent}"
                             th:onclick="updateTicketSLA([[*{id}]])"></i>
                          SLA: <span th:text="*{sla?.name}"></span>
                      </div>
                      <div>
                          User Priority: <span th:text="*{priority}"></span>
                      </div>
                  </div>
                </div>
            </div>

        </div>

        <div class="support-ticket pt-2">

            <div id="ticketNotes" class="ticket-body">

                <!-- New Note Form -->
                <div id="newNoteDiv" class="card my-2 mx-0 p-0" th:unless="${closeDate}">

                    <div class="note-container">
                        <div class="note-address note-address-form">
                            New Note: <br>
                            <div class="d-inline" th:if="${isAgent}">
                                Private <input id="notePrivate" class="d-inline" style="height: 1em" type="checkbox">
                            </div>
                        </div>

                        <div class="note-content">
                            <input id="ticketId" type="hidden" th:value="*{id}">
                            <input id="ticketAgent" type="hidden" th:value="${isAgent}">
                            <textarea id="noteDetail" style="width: 100%; height: 75px"></textarea>
                            <div class="card-section">
                                <input type="hidden" name="image" class="w-50" id="image">

                                <button class="btn btn-sm btn-success" style="float: right" onclick="postNote()">Submit</button>
                                <input type="file" id="imageFile" style="display: none;" multiple onchange="doUploadImage()">
                                <input type="button" class="btn btn-sm btn-support" value="Attach Image" onclick="document.getElementById('imageFile').click();" />

                                <progress class="w-50" id="uploadProgress" style="display: none"></progress>
                                <div class="pt-2" id="imagePath"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- current Notes -->
                <div class="card my-2 mx-0 p-0" th:each="note : ${noteList}">
                    <div th:id="'note-'+${note.id}" class="note-container">
                        <div class="note-address" th:classappend="${note.agentNote} ? note-address-agent">
                            <div th:text="${note.user.firstName}+' '+${note.user.lastName}"></div>
                            <div th:text="${#temporals.format(note.noteDate, 'MMM-dd-yyyy HH:mm')}"></div>
                            <div th:if="${isAgent}">
                                <div th:if="${note.notePrivate}">Private</div><div th:unless="${note.notePrivate}">Public</div>
                            </div>
                        </div>

                        <div class="note-content">
                            <div th:text="${note.detail}"></div>
                            <div class="card-section" th:if="${not #lists.isEmpty(note.images)}">
                                <div th:each="img : ${note.images}" class="d-inline">
                                    <a th:href="@{${img.fileLocation}}" target="_blank" class="px-2">
                                        <img th:src="@{${img.fileLocation}}" alt="${img.name}" height="50px">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <div id="ticketInfo" class="ticket-info" th:if="${isAgent}">
                <div class="card m-1">

                    <div class="card-title m-2 pb-0 mb-0">
                        <button class="btn btn-sm btn-success" style="float: right">
                            <icon class="bi bi-plus"></icon>
                        </button>
                        <div class="h6 selectableItem" style="height: 100%; line-height: 2em" onclick="toggleAgentInfo()">
                            Support Agents
                        </div>
                    </div>
                    <hr>
                    :: List of Agents ::
                </div>
            </div>

            <div class="ticket-info-tab hide" th:if="${isAgent}">
                <div class="wiki-info-tab-title selectableItem" onclick="toggleAgentInfo()">
                    Support Agents
                </div>
            </div>

        </div>

    </div>

    <script>
        /*<![CDATA[*/
        let hideInfo = /*[[${hideInfo}]]*/ "true";
        /*]]>*/

        const displayBtnDetailExpand = document.getElementById("btnDetailExpand");
        const displayBtnDetailCollapse = document.getElementById("btnDetailCollapse");
        const displayDivDetail = document.getElementById("divTicketDetail");
        const divNewNote = document.getElementById("newNoteDiv");
        const imgProgress = document.getElementById('uploadProgress');
        const imgNames = document.getElementById('imagePath');
        const imageIds = document.getElementById('image');
        const imageNames = document.getElementById('imagePath');
        const filebrowser = document.getElementById('imageFile');
        const inputDetails = document.getElementById("noteDetail");
        const inputPublic = document.getElementById("notePrivate");
        const inputId = document.getElementById("ticketId");
        const inputIsAgent = document.getElementById("ticketAgent");
        let filesToUpload = 0;

        const template = document.getElementById("imageTemplate");
        const templateNote = document.getElementById("noteTemplate");

        async function updateTicketStatus(id) {

        }

        async function updateTicketSLA(id) {

        }

        function toggleTicketDetail(){
            if (displayDivDetail.classList.contains("ticket-detail-hide")) {
                displayDivDetail.classList.remove("ticket-detail-hide");
                displayBtnDetailExpand.style.display = "none";
                displayBtnDetailCollapse.style.display = "inline-block";
            } else {
                displayDivDetail.classList.add("ticket-detail-hide");
                displayBtnDetailExpand.style.display = "inline-block";
                displayBtnDetailCollapse.style.display = "none";
            }
        }

        function toggleAgentInfo() {
            let tab = document.querySelector(".ticket-info-tab");
            let info = document.querySelectorAll(".ticket-info");
            if (tab.classList.contains("hide")) {
                tab.classList.remove("hide");
                for (let key in info) {
                    try {
                        info[key].classList.add("hide");
                    } catch (e) {
                        console.log(info[key])
                    }
                }
            } else {
                tab.classList.add("hide");
                for (let key in info) {
                    try {
                        info[key].classList.remove("hide");
                    } catch (e) {
                        console.log(info[key])
                    }
                }
            }
        }

        function doUploadImage() {
            // disable names and show progress
            imgProgress.style.display='inline';
            imgNames.style.display='none';
            postImageFile();
        }

        async function postImageFile() {
            filesToUpload = filebrowser.files.length;

            let formData = new FormData();
            for (let i=0; i < filebrowser.files.length; i++) {
                formData.set("imageFile", filebrowser.files[i]);

                const response = await fetch('/api/v1/contentmanager/support/uploadonlyimage', {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.json();
                }).then(data => {
                    let newID = "img-"+data.id;
                    let clone = template.content.cloneNode(true);

                    let parentDiv = clone.querySelector("div");
                        parentDiv.id = newID;

                    let imgIco = parentDiv.querySelector("img");
                        imgIco.src = data.fileLocation;

                    let spans = parentDiv.querySelectorAll("div");
                        spans[0].innerText = data.name;
                        spans[1].addEventListener("click", function (event) {removeImage(data.id)});
                    imageNames.appendChild(clone);
                    filesToUpload--;
                    completeImageUpload();
                });
            }
        }

        function completeImageUpload() {
            if (filesToUpload == 0) {
                // enable names and hide progress
                imgProgress.style.display = 'none';
                imgNames.style.display = 'inline';

                while (filebrowser.firstChild) {
                    filebrowser.removeChild(filebrowser.firstChild);
                }

                console.log(document.getElementById('image').value);
                console.log(document.getElementById('imagePath').value);
            }
        }

        async function removeImage(id) {
            let eleId = "img-"+id;
            let imgTag = document.getElementById(eleId);

            let formData = new FormData();
                formData.set("id", id);

            const response = await fetch('/api/v1/contentmanager/support/deleteonlyimage', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                imgTag.remove();
            });
        }

        async function postNote() {
            let uploadedImages = ""
            let children = imageNames.children;
            for (let i = 0; i < children.length; i++) {
                let idArray = children[i].id.split("-");
                let pic = idArray[idArray.length-1];
                uploadedImages = uploadedImages+pic+" ";
            }

        let formData = new FormData();
            formData.set("isPrivate", inputPublic.checked);
            formData.set("detail", inputDetails.value);
            formData.set("images", uploadedImages);
            formData.set("ticketId", inputId.value);

            const response = await fetch('/api/v1/support/note/new', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                debugger
                clearForm()

                let newID = "note-"+data.id;
                let clone = templateNote.content.cloneNode(true);


                let parentDiv = clone.querySelector("div");
                    parentDiv.id = newID;
                let noteDivs = parentDiv.querySelectorAll("div");
                    if (data.agentNote) { noteDivs[1].classList.add("note-address-agent"); }
                    noteDivs[2].innerText = data.user.firstName+" "+data.user.lastName;
                    noteDivs[3].innerText = parseDate(data.noteDate);

                    if (inputIsAgent.value === "true") {
                        if (data.notePrivate) {
                            noteDivs[4].innerText = "Private";
                        } else {
                            noteDivs[4].innerText = "Public";
                        }
                    }

                    noteDivs[6].innerText = data.detail;
                    let count=0;
                    for (let i in data.images) {
                        let linkDiv = document.createElement("a");
                            linkDiv.href = data.images[i].fileLocation;
                            linkDiv.target = "_bank";
                            linkDiv.classList.add("px-2")
                        let imgDiv = document.createElement("img");
                            imgDiv.src = data.images[i].fileLocation;
                            imgDiv.name = data.images[i].fileLocation;
                            imgDiv.height = 50;
                        linkDiv.appendChild(imgDiv);
                        noteDivs[8].appendChild(linkDiv);
                        count++;
                    }
                    if (count===0) {
                        noteDivs[7].remove();
                    }


                divNewNote.parentNode.insertBefore(clone, divNewNote.nextSibling);
            });
        }

        function clearForm() {
            while(imageNames.firstChild) {
                imageNames.removeChild(imageNames.firstChild)
            }
            inputPublic.checked = false;
            inputDetails.value = "";
        }

        function parseDate(date) {
            let dateArray = date.split("T");
            let lDate = dateArray[0].split("-");
            let y = lDate[0];
            let m = lDate[1];
            let d = lDate[2];
            let lTime = dateArray[1].split(":");
            let h = lTime[0];
            let mi = lTime[1];

            return parseMonth(m)+"-"+d+"-"+y+" "+h+":"+mi;
        }
        function parseMonth(m){
            switch (m) {
                case "01":
                    return "Jan";
                case "02":
                    return "Feb";
                case "03":
                    return "Mar";
                case "04":
                    return "Apr";
                case "05":
                    return "May";
                case "06":
                    return "Jun";
                case "07":
                    return "Jul";
                case "08":
                    return "Aug";
                case "09":
                    return "Sep";
                case "10":
                    return "Oct";
                case "11":
                    return "Nov";
                case "12":
                    return "Dec";
            }
        }

        if (inputIsAgent.value === "true") {
            if (hideInfo) {
                toggleAgentInfo();
            }
        }
        if (hideInfo) {
            toggleTicketDetail();
        }

    </script>

</div>

</div>

</html>