<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}" xmlns="http://www.w3.org/1999/html">

<div class="container-fluid m-0 p-0" layout:fragment="content">

  <div class="container" th:object="${ticket}">

        <div class="card">

          <div class="card-title">
            <h5>Ticket - <span th:text="*{id}"></span></h5>
          </div>

          <div class="card-body">


          </div>

        </div>

    </div>
  </div>
</div>

</html>