<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid" layout:fragment="content">

  <div th:replace="~{admin/moduleHeader :: header}">Header</div>

  <div class="container my-3">

    <div th:if="${userEdit}" style="float: right">
      <button class="btn btn-sm btn-outline-warning"
              th:onclick="window.location.href='/user/viewdeleted';">View Deleted</button>
      <button class="btn btn-sm btn-success"
              th:onclick="window.location.href='/user/new';">Add</button>
    </div>

    <h1 th:text="${title}"></h1>

<div class="row d-block d-md-none">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Campus</th>
        <th scope="col">Dep / Pos</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}" class="selectableItem" style="cursor: pointer"
          th:onclick="window.location.href='/user/[[${user.id}]]';">
        <td>
          <span th:text="*{user.username}"></span><br>
          <span th:text="*{user.firstName}+' '+*{user.lastName}"></span>
        </td>
        <td>
          <span th:if="*{user.campus}" th:text="*{user.campus.name}"></span><br>
        </td>
        <td>
          <span th:if="*{user.position}" th:text="${user.position.name}"/><br>
          <span th:if="*{user.department}" th:text="${user.department.name}"/>
        </td>
      </tr>
      </tbody>
    </table>
</div>
<div class="row d-none d-md-block">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Campus</th>
        <th scope="col">Department</th>
        <th scope="col">Position</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}" class="selectableItem" style="cursor: pointer"
          th:onclick="window.location.href='/user/[[${user.id}]]';">
        <td th:text="*{user.username}"></td>
        <td><span th:text="*{user.firstName}+' '+*{user.lastName}"></span></td>
        <td><span th:if="*{user.campus}" th:text="*{user.campus.name}"></span></td>
        <td><span th:if="*{user.department}" th:text="${user.department.name}"/></td>
        <td><span th:if="*{user.position}" th:text="${user.position.name}"/></td>
      </tr>
      </tbody>
    </table>
</div>
  </div>
</div>

</html>