<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid" layout:fragment="content">

  <div th:replace="~{admin/moduleHeader :: header}">Header</div>

  <div class="container my-3" th:object="${user}">

    <div class="row m-0 p-0">

      <div class="col-12 col-md-6 col-lg-8">

        <div class="card pb-2">
          <div class="card-title alert alert-primary">
            <div th:if="${userEdit}" style="float: right">
              <button class="btn btn-sm btn-info small" th:unless="*{deleted}"
                      th:onclick="window.location.href='/user/[[${user.id}]]/changepassword';">Password</button>
              <button class="btn btn-sm btn-success small"
                      th:onclick="window.location.href='/user/edit/[[${user.id}]]';">Edit</button>
            </div>
            <h5>
              <span th:text="*{firstName}+' '+*{lastName}"></span>
              <span style="color: orangered" th:if="*{deleted}">(Deleted)</span>
            </h5>
          </div>

          <div class="card-body">

            <p>Username: <span class="card-text" th:text="*{username}"/></p>
            <p>E-mail: <span class="card-text" th:text="*{contactEmail}"/></p>
            <p>Campus: <span class="card-text" th:if="*{campus}" th:text="*{campus.name}"/></p>
            <p>Department: <span class="card-text" th:if="*{department}" th:text="*{department.name}"/></p>
            <p>Position: <span class="card-text" th:if="*{position}" th:text="*{position.name}"/></p>
            <p>Supervisor: <span class="card-text" th:if="*{director}" th:text="*{director.firstName + ' ' + director.lastName}"/></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">

          <div class="card">
            <div class="card-title alert alert-primary bg-faded">
              <h5>Permissions</h5>
            </div>
            <div class="card-body">
              <input type="hidden" th:value="${user.id}" id="inputUserId">
              <p><input type="checkbox" id="inputAuthResourceRead" disabled onchange="updateAuth('RESOURCE_READ')"> View Resources</p>
              <p><input type="checkbox" id="inputAuthResourceWrite" disabled onchange="updateAuth('RESOURCE_WRITE')"> Create Resources</p>
              <p><input type="checkbox" id="inputAuthStoreRead" disabled onchange="updateAuth('STORE_READ')"> View Store</p>
              <p><input type="checkbox" id="inputAuthStoreWrite" disabled onchange="updateAuth('STORE_WRITE')"> Add Store Items</p>
              <p><input type="checkbox" id="inputAuthSupportWrite" disabled onchange="updateAuth('SUPPORT_WRITE')"> Submit Support Tickets</p>
            </div>
          </div>

          <div class="card mt-2" th:if="${#lists.contains(userRoles,'ADMIN_WRITE') || #lists.contains(userRoles,'USER_WRITE')}">
            <div class="card-title alert alert-primary bg-faded">
              <h5>Reset Permissions to Template</h5>
            </div>
            <div class="card-body">
              <select id="positionTemplate" name="positionTemplate" class="form-control" onchange="templateChange()">
                <option value="0">Choose a Template</option>
                <option th:each="t : ${templateList}" th:value="${t.id}">
                  <span th:text="${t.name}"></span><span th:if="${t.defaultTemplate}"> (Default)</span>
                </option>
              </select>
              <button id="btnTemplateUpdate" type="button" class="btn btn-sm btn-success" onclick="assignTemplate()" disabled>Update</button>
            </div>
          </div>

          <div class="card mt-2" th:if="${#lists.contains(userRoles,'ADMIN_WRITE')}">
            <div class="card-title alert alert-primary bg-faded">
              <button class="btn btn-sm btn-success small" style="float: right" th:unless="*{deleted}"
                      th:onclick="window.location.href='/user/[[${user.id}]]/addpermission'">Add</button>
              <h5>User Roles <span id="authRefresh" style="display: none;" onclick="window.location.reload()"><i class="bi bi-arrow-repeat"></i></span></h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush" th:each="role : *{UserRoles}">
                <li class="list-group-item">
                  <button class="btn btn-sm btn-danger small" style="float: right"
                          th:onclick="window.location.href='/user/[[${user.id}]]/removerole/[[${role.name}]]'">Remove</button>
                  <span th:text="${role.name}"/>
                </li>
              </ul>
            </div>
          </div>

      </div>

    </div>

  </div>

  <script th:inline="javascript">
    /*<![CDATA[*/
    let jsAuthResourceRead = /*[[${authResourceRead}]]*/ false;
    let jsAuthResourceWrite = /*[[${authResourceWrite}]]*/ false;
    let jsAuthStoreRead = /*[[${authStoreRead}]]*/ false;
    let jsAuthStoreWrite = /*[[${authStoreWrite}]]*/ false;
    let jsAuthSupportWrite = /*[[${authSupportWrite}]]*/ false;
    let jsEditable = /*[[${userEdit}]]*/ false;
    /*]]>*/

    document.getElementById("inputAuthResourceRead").checked = jsAuthResourceRead;
    document.getElementById("inputAuthResourceWrite").checked = jsAuthResourceWrite;
    document.getElementById("inputAuthStoreRead").checked = jsAuthStoreRead;
    document.getElementById("inputAuthStoreWrite").checked = jsAuthStoreWrite;
    document.getElementById("inputAuthSupportWrite").checked = jsAuthSupportWrite;
    if (jsEditable) {
      document.getElementById("inputAuthResourceRead").disabled = false;
      document.getElementById("inputAuthResourceWrite").disabled = false;
      document.getElementById("inputAuthStoreRead").disabled = false;
      document.getElementById("inputAuthStoreWrite").disabled = false;
      document.getElementById("inputAuthSupportWrite").disabled = false;
    }

    function templateChange() {
      document.getElementById("btnTemplateUpdate").removeAttribute("disabled");
    }

    async function assignTemplate() {
      document.getElementById("btnTemplateUpdate").disabled;
      let userId = document.getElementById("inputUserId");
      let templateId = document.getElementById("positionTemplate");
      let formData = new FormData();
          formData.set("userId", userId.value)
          formData.set("templateId", templateId.value)

      const response = await fetch('/api/v1/user/settemplate', {
        method: 'POST',
        body: formData
      }).then(() => {
        window.location.reload();
      });
    }

    async function updateAuth(auth) {
      let userId = document.getElementById("inputUserId");
      let formData = new FormData();
      formData.set("name", auth)

      const response = await fetch('/api/v1/user/setrole/'+userId.value, {
        method: 'POST',
        body: formData
      }).then(response => {
        return response.json();
      }).then(data => {
        console.log(data);
        try {
          document.getElementById("authRefresh").style.display = "inline-block";
        } catch (e) { console.log("no authRefresh available") }
      });
    }

  </script>

</div>

</html>