<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <script>
        let displayType = "list";
    </script>
    <th:block th:if="${session.storeListGrid}">
        <script>
            /*<![CDATA[*/
            displayType = "[[${session.storeListGrid}]]";
            /*]]>*/
        </script>
    </th:block>


    <div th:replace="~{store/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">

            <h1 style="color: coral">Welcome to the Destiny Store</h1>
            <p th:if="${not #lists.isEmpty(storeItems)}">No, it's not prime day.</p>

            <div th:if="${session.storeListGrid == 'list'}">
            <div th:each="item : ${storeItems}">
                <div th:replace="~{components/cardStoreItemLine :: cardFragment(${item})}">List</div>
            </div>
            </div>

            <div th:if="${session.storeListGrid == 'grid'}">

                <div class="store_grid_wrapper">
                    <div th:each="item : ${storeItems}">
                        <div th:replace="~{components/cardStoreItemLG :: cardFragment(${item})}">Card</div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script>
        fetch('/api/v1/store/display/'+displayType);

        function redrawGrid() {
            displayType = 'grid';
            fetch('/api/v1/store/display/'+displayType).then(response => {
                window.location.href='/store';
                return response.json();
            });
        }
        function redrawList() {
            displayType = 'list';
            fetch('/api/v1/store/display/'+displayType).then(response => {
                window.location.href='/store';
                return response.json();
            });
        }

        function navToItem(id) {
            window.location.href="/store/item/"+id;
        }
        async function addToCart(id, userid) {
            let counterID = id+"-counter";
            let counterEl = document.getElementById(counterID);
            let formData = new FormData();
                formData.set("id", id);
                formData.set("userId", userid);
                formData.set("count", counterEl.value);

            const response = await fetch('/api/v1/cart/additem', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                console.log(data);
                updateCartCounter(data);
            });
        }
    </script>

  </div>

</html>