<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

<div th:replace="~{store/moduleHeader :: header}">Header</div>

    <div class="wrapper flex-grow-1">
        <div id="mainContent" class="wrapper d-flex">

        <div id="storeCategoryNav" class="navbar navbar-light bg-light flex-fill px-2 pt-1 d-none d-md-block category-nav">
            <h5 id="storeCategoryNavTitle" class="store-category-nav-title" onclick="clearCategory()">Categories</h5>
            <ul class="navbar-nav pb-3" th:each="cat : ${categoryList}">
                <li class="nav-item dropdown" th:id="*{cat.name}">
                    <a class="nav-link dropdown-toggle" href="#" th:onclick="selectCategory([[*{cat.name}]])"
                       th:id="*{cat.name}+'dropdown'" role="button"
                       data-bs-toggle="dropdown" th:text="*{cat.name}"></a>
                    <ul class="dropdown-menu category-dropdown-menu" th:aria-labelledby="*{cat.name}+'dropdown'"
                        th:unless="${#lists.isEmpty(cat.subCategoryList)}">
                        <th:block th:each="sub : ${cat.subCategoryList}">
                        <li>
                            <a class="dropdown-item" th:href="'/store/'+${cat.name}+'/'+${sub.name}" th:text="${sub.name}"></a>
                        </li>
                        </th:block>
                    </ul>

                    <ul class="dropdown-menu category-dropdown-menu" th:aria-labelledby="*{cat.name}+'dropdown'"
                        th:if="${#lists.isEmpty(cat.subCategoryList)}">
                            <li>
                                <a class="dropdown-item" th:href="'/store/'+${cat.name}+'/'+${cat.name}" th:text="${cat.name}"></a>
                            </li>
                    </ul>

                </li>
            </ul>
        </div>


        <div class="flex-fill p-1 pb-4 w-100 mx-2">

            <div class="row mt-2" th:if="${storeItems.totalPages > 1}">
                <div class="filter-page d-flex">
                    <ul class="filter-nav-links">
                        <li th:onclick="navStorePageLeft([[${storeItems.number}]])"><i class="bi bi-caret-left-fill"></i></li>
                        <th:block th:each="i: ${#numbers.sequence(0, storeItems.totalPages - 1)}">
                        <li th:classappend="${storeItems.number} == ${i} ? 'current' : ''"
                            th:onclick="navStorePage([[${i}]])" th:text="${i}"></li>
                        </th:block>
                        <li th:onclick="navStorePageRight([[${storeItems.number}]], [[${storeItems.totalPages}]])"><i class="bi bi-caret-right-fill"></i></li>
                    </ul>
                </div>
            </div>


            <div class="row mt-2">

                <p th:if="${#lists.isEmpty(storeItems.content)}">No, it's not prime day.</p>

                <div th:if="${session.storeLayout == 'list'}">
                    <div th:each="item : ${storeItems.content}" class="pb-1">
                        <div th:replace="~{components/cardStoreItemLine :: cardFragment(${item})}">List</div>
                    </div>
                </div>

                <div th:if="${session.storeLayout == 'grid'}">
                    <div class="store_grid_wrapper">
                        <div th:each="item : ${storeItems.content}">
                            <div th:replace="~{components/cardStoreItemLG :: cardFragment(${item})}">Card</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let searchTerm = /*[[${searchTerm}]]*/ "";
        let selectedCategory = /*[[${selectedCategory}]]*/ "";
        let selectedSubCategory = /*[[${selectedSubCategory}]]*/ "";
        /*]]>*/

        document.getElementById("searchStoreInput").value = searchTerm;
        const dropdownNav = document.getElementById("storeCategoryNav");

        // close categoryNavs
        closeAllCategories()

        function closeAllCategories() {
            let dropdowns = dropdownNav.querySelectorAll('.dropdown');
            dropdowns.forEach(function(el){
                let dropdownMenuEl = el.querySelector('.dropdown-menu');
                el.setAttribute('aria-expanded', 'false');
                dropdownMenuEl.classList.remove('show');
            })
            openSelectedCategory();
        }
        function openSelectedCategory() {
            if (selectedCategory != null) {
                let dropdownEl = document.getElementById(selectedCategory);
                let dropdownMenuEl = dropdownEl.querySelector('.dropdown-menu');
                dropdownEl.setAttribute('aria-expanded', 'true');
                dropdownMenuEl.classList.add('show');
            }
        }
        function selectCategory(name) {
            debugger
            selectedCategory = name;
            closeAllCategories();
        }
        function clearCategory() {
            window.location.href="/store";
        }

        function navToItem(id) {
            window.location.href="/store/item/"+id;
        }

        function navStorePage(i) {
            let currentURL = new URL(location.toString());
            if (currentURL.searchParams.has("page")) {
                console.log(currentURL.searchParams.get("page"))
                if (currentURL.searchParams.get("page") === i) {
                    console.log(currentURL.searchParams.get("page"))
                    return;
                }
            }
            currentURL.searchParams.set("page", i);
            window.location.href=currentURL;
        }

        function navStorePageLeft(i) {
            if (i>0) {
                navStorePage(i-1)
            }
        }

        function navStorePageRight(i, end) {
            if (i<end-1) {
                navStorePage(i+1)
            }
        }
    </script>

    </div>
</div>

</div>

</html>