<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container m-0 p-0" layout:fragment="content">

    <script th:inline="javascript">
        /*<![CDATA[*/
        displayType = /*[[${session.storeListGrid}]]*/ "list";
        /*]]>*/
        fetch('/api/v1/store/display/'+displayType);

        getItems();

        async function getItems() {
            const response = await fetch('/api/v1/store'
            ).then(response => {
                return response.json();
            }).then(data => {
                
            });
        }

    </script>

    <div th:replace="~{store/moduleHeader :: header}">Header</div>

    <div class="mx-2">

        <div class="row mt-2">

            <h1 style="color: coral">Welcome to the Destiny Store</h1>
            <p>No, it's not prime day.</p>

            <div th:each="item : ${storeItems}">
                <div th:replace="~{components/cardStoreItemLine :: cardFragment(${item})}">Card</div>
            </div>

        </div>

    </div>
  </div>

</html>