<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

<div th:replace="~{store/moduleHeader :: header}">Header</div>

    <div class="wrapper flex-grow-1">
        <div id="mainContent" class="wrapper d-flex">

        <div id="storeCategoryNav" class="navbar navbar-light bg-light flex-fill px-2 pt-1 d-none d-md-block">
            <h5 id="storeCategoryNavTitle">Categories</h5>
            <ul class="navbar-nav pb-3" th:each="cat : ${categoryList}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" th:text="*{cat.name}"></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
                        th:unless="${#lists.isEmpty(cat.subCategoryList)}" th:each="sub : ${cat.subCategoryList}">
                        <li><a class="dropdown-item" href="#" th:text="${sub.name}"></a></li>
                    </ul>
                </li>
            </ul>

        </div>


        <div class="flex-fill p-1 pb-4 w-100 mx-2">

            <div class="row mt-2">

                <h1 style="color: coral">Welcome to the Destiny Store</h1>
                <p th:if="${#lists.isEmpty(storeItems)}">No, it's not prime day.</p>

                <div th:if="${session.storeLayout == 'list'}">
                    <div th:each="item : ${storeItems}">
                        <div th:replace="~{components/cardStoreItemLine :: cardFragment(${item})}">List</div>
                    </div>
                </div>

                <div th:if="${session.storeLayout == 'grid'}">
                    <div class="store_grid_wrapper">
                        <div th:each="item : ${storeItems}">
                            <div th:replace="~{components/cardStoreItemLG :: cardFragment(${item})}">Card</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let searchTerm = /*[[${searchTerm}]]*/ " ";
        /*]]>*/
        document.getElementById("searchInput").value = searchTerm;

        function navToItem(id) {
            window.location.href="/store/item/"+id;
        }
    </script>

    </div>
</div>

</div>

</html>