<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}" xmlns="http://www.w3.org/1999/html">

<div class="container m-0 p-0" layout:fragment="content">

  <div class="container" th:object="${storeItem}">
    <div class="row">
      <div class="column col-lg-6">

        <div class="card">

          <dialog id="uploadDialog" class="upload-modal">
            <script>
              function doUploadImage() {
                // disable buttons and show progress
                document.getElementById('uploadProgress').style.display='block';
                document.getElementById('btnUploadSubmit').setAttribute("disabled", "disabled");
                document.getElementById('btnUploadCancel').setAttribute("disabled", "disabled");
                postImageFile();
              }

              async function postImageFile() {
                let formData = new FormData();
                  formData.set("fileName", document.getElementById('fileName').value)
                  formData.set("fileDescription", document.getElementById('fileDescription').value)
                  formData.set("imageFile", document.getElementById('imageFile').files[0])

                const response = await fetch('/api/v1/contentmanager/uploadimage', {
                  method: 'POST',
                  body: formData
                }).then(response => {
                  return response.json();
                }).then(data => {
                  console.log(data);
                  document.getElementById('image').value = data.id;
                  document.getElementById('imagePath').innerText = data.fileLocation;
                  completeImageUpload();
                });
              }

              function completeImageUpload() {
                // enable buttons and hide progress
                document.getElementById('uploadProgress').style.display='none';
                document.getElementById('btnUploadSubmit').removeAttribute("disabled");
                document.getElementById('btnUploadCancel').removeAttribute("disabled");
                // close dialog
                document.getElementById("uploadDialog").close();
              }

            </script>
            <h2>Upload Image</h2>
            <div class="flex-column">
              <form id="formUploadImage" method="dialog">
                <div class="row p-2">
                  <div class="col">
                    <label for="fileName" class="form-label">Name:</label>
                  </div>
                  <div class="col">
                    <input class="form-control" id="fileName">
                  </div>
                </div>
                <div class="row p-2">
                  <div class="col">
                    <label for="fileDescription" class="form-label">Description:</label>
                  </div>
                  <div class="col">
                    <input class="form-control" id="fileDescription">
                  </div>
                </div>

                <div class="row p-2">
                  <div class="col">
                    <input class="form-control" id="imageFile" type="file">
                  </div>
                </div>

                <div class="row p-2">
                  <div class="col">
                    <progress id="uploadProgress" style="display: none" />
                  </div>
                </div>

                <div class="row p-2">
                  <div class="col">
                    <button id="btnUploadSubmit" type="button" class="btn btn-sm btn-quaternary" onclick="doUploadImage()">Submit</button>
                    <button id="btnUploadCancel" formmethod="dialog" type="submit" class="btn btn-sm btn-outline-quaternary">Cancel</button>
                  </div>
                </div>

              </form>
            </div>
          </dialog>

          <dialog id="chooseDialog" class="upload-modal">
            <template id="tmpImage">
              <div class="grid_image_div">
                <img src="" alt="" class="grid_image_element" width="100" height="100">
                <p></p>
              </div>
            </template>
            <script>
              async function loadImages() {
                const chooser = document.getElementById("pictureChooser");
                const template = document.getElementById("tmpImage");

                while (chooser.firstChild) {
                  chooser.removeChild(chooser.lastChild);
                }

                const response = await fetch('/api/v1/contentmanager/images'
                ).then(response => {
                  return response.json();
                }).then(data => {
                  console.log(data);
                  for (let key in data) {
                    let obj = data[key];
                    let divID = "id-"+obj.id;

                    let clone = template.content.cloneNode(true);
                    let imgDiv = clone.querySelector("img");
                        imgDiv.src = obj.fileLocation;
                        imgDiv.alt = obj.name;
                        imgDiv.setAttribute("id", divID);
                        imgDiv.addEventListener("click", function (event) {
                          selectImage(event.target);
                        });
                    let hdrDiv = clone.querySelector("p");
                        hdrDiv.innerText = obj.name;
                    chooser.appendChild(clone);
                  }
                });

                function selectImage(element) {
                  console.log(element);
                  debugger
                  const chooser = document.getElementById("pictureChooser");
                  let imgArray = chooser.querySelectorAll("img");

                  for(let key in imgArray) {
                    let imgNode = imgArray[key];
                        try {imgNode.classList.remove("grid_image_selected")}
                        catch (error) {console.log("not an image")}
                  }
                  element.classList.add("grid_image_selected");
                  let imageID = element.id.replace(/id-/g,'');
                  document.getElementById("selectedImageId").value = imageID;
                  document.getElementById("selectedImageName").value = element.alt;
                }
              }
            </script>
            <h2>Choose Image</h2>
            <form method="dialog">
              <div id="pictureChooser" class="m-2 p-2 border border-1 rounded" style="width: 410px; height: 410px; overflow-y: scroll"></div>
              <button formmethod="dialog" type="submit">Cancel</button>
              <input type="hidden" id="selectedImageId">
              <input contenteditable="false" id="selectedImageName" type="text">
              <button type="submit">Submit</button>
            </form>
          </dialog>

          <div class="card-title alert alert-quaternary">
            <h5>New Store Item</h5>

            <th:block th:if="${session.msg}">
              <p th:text="${session.msg}"/>
              <th:block th:text="${#session.removeAttribute('msg')}" />
            </th:block>

          </div>

          <div class="card-body">

            <form id="itemForm" method="post" th:action="@{/store/create}">
              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="name" class="form-label">Item Name</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <input th:value="*{name}" type="text" class="form-control-sm w-100" id="name" name="name">
                </div>
              </div>
              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="description" class="form-label">Description</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <textarea class="form-control-sm w-100" id="description" th:text="*{description}" name="description"></textarea>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-4">
                  <label for="specialOrder" class="form-check-label">Special Order</label>
                </div>
                <div class="col-2">
                  <input th:value="*{available}" type="checkbox" class="form-check-input"
                         id="specialOrder" th:checked="*{specialOrder}" name="specialOrder">
                </div>
                <div class="col-4">
                  <label for="available" class="form-check-label">Available</label>
                </div>
                <div class="col-2">
                  <input th:value="*{available}" type="checkbox" class="form-check-input"
                         id="available" th:checked="*{available}" name="available">
                </div>
              </div>

              <div class="row p-2">
                <div class="col-4">
                  <label for="count" class="form-label">Count</label>
                </div>
                <div class="col-2">
                  <input th:value="*{count}" type="number" class="form-control-sm" id="count" name="count" style="width: 50px">
                </div>
                <div class="col-4">
                  <label for="leadTime" class="form-label">Lead Time in Days</label>
                </div>
                <div class="col-2">
                  <input th:value="*{leadTime}" type="number" class="form-control-sm" id="leadTime" name="leadTime" style="width: 50px">
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="owner" class="form-label">Owner</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <select id="owner" name="owner" class="form-control-sm">
                    <option value="" disabled selected>Select Owner</option>
                    <option th:each="p : ${userList}" th:value="${p.id}"
                            th:text="${p.firstName} + ' ' + ${p.lastName}"></option>
                  </select>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="department" class="form-label">Department</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <select id="department" class="form-control-sm" name="department">
                    <option value="" disabled selected>Select Department</option>
                    <option th:each="d : ${departmentList}" th:value="${d.id}"
                            th:text="${d.name}"></option>
                  </select>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="positionSelect" class="form-label">Position</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <input type="hidden" id="position" name="position">
                  <select id="positionSelect" class="form-control-sm" name="positionSelect" multiple>
                    <option th:each="p : ${positionList}" th:value="${p.id}"
                            th:text="${p.name}"></option>
                  </select>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-0 col-sm-4">
                </div>
                <div class="col-xs-12 col-sm-8 px-2">
                  <button type="button" class="btn btn-sm btn-quaternary" onclick="uploadImageClick()">Upload Image</button>
                  <button type="button" class="btn btn-sm btn-outline-quaternary" th:onclick="chooseImageClick()">Choose Existing</button>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="image" class="form-label">Image URL</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <input type="hidden" name="image" class="form-control-sm" id="image">
                  <div id="imagePath"></div>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-12">
                  <button type="button" class="btn btn-primary" onclick="submitForm()">Add</button>
                  <button type="button" class="btn btn-warning" th:onclick="window.location.href=[[${session.redirectPath}]];">Cancel</button>
                </div>
              </div>
            </form>

          </div>

          <script>
            function uploadImageClick() {
              document.getElementById("uploadDialog").showModal();
            }

            function chooseImageClick() {
              document.getElementById("chooseDialog").showModal();
              loadImages();
            }

            function submitForm() {
              debugger
              let theForm = document.getElementById("itemForm");
              let pList = document.getElementById("positionSelect");

              let collection = pList.selectedOptions;
              let p = "";
              let i = 0;
              for (let i = 0; i < collection.length; i++) {
                  p = p+collection[i].value+" ";
              }
              console.log(p);
              document.getElementById("position").value = p;
              theForm.submit();
            }
          </script>

        </div>

      </div>
    </div>
  </div>
</div>

</html>