<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}" xmlns="http://www.w3.org/1999/html">

<div class="container m-0 p-0" layout:fragment="content">

  <div class="container" th:object="${storeItem}">
    <div class="row">
      <div class="column col-lg-6">

        <div class="card">

          <dialog id="uploadDialog" class="upload-modal">
            <script>
              function doUploadImage() {
                // disable buttons and show progress
                document.getElementById('uploadProgress').style.display='block';
                document.getElementById('btnUploadSubmit').setAttribute("disabled", "disabled");
                document.getElementById('btnUploadCancel').setAttribute("disabled", "disabled");
                postImageFile();
              }

              async function postImageFile() {
                let formData = new FormData();
                  formData.set("fileName", document.getElementById('fileName').value)
                  formData.set("fileDescription", document.getElementById('fileDescription').value)
                  formData.set("imageFile", document.getElementById('imageFile').files[0])

                const response = await fetch('/api/v1/contentmanager/uploadimage', {
                  method: 'POST',
                  body: formData
                }).then(response => {
                  return response.json();
                }).then(data => {
                  console.log(data);
                  debugger
                  document.getElementById('image').value = data.id;
                  document.getElementById('imagePath').value = data.fileLocation;
                  completeImageUpload();
                });
              }

              function completeImageUpload() {
                // enable buttons and hide progress
                document.getElementById('uploadProgress').style.display='none';
                document.getElementById('btnUploadSubmit').removeAttribute("disabled");
                document.getElementById('btnUploadCancel').removeAttribute("disabled");
                // close dialog
                document.getElementById("uploadDialog").close();
              }

            </script>
            <h2>Upload Image</h2>
            <div class="flex-column">
              <form id="formUploadImage" method="dialog">
                <div class="row p-2">
                  <div class="col">
                    <label for="fileName" class="form-label">Name:</label>
                  </div>
                  <div class="col">
                    <input class="form-control" id="fileName">
                  </div>
                </div>

                <div class="row p-2">
                  <div class="col">
                    <label for="fileDescription" class="form-label">Description:</label>
                  </div>
                  <div class="col">
                    <input class="form-control" id="fileDescription">
                  </div>
                </div>

                <div class="row p-2">
                  <div class="col">
                    <label for="imageFile" class="form-label">File:</label>
                  </div>
                  <div class="col">
                    <input class="form-control" id="imageFile" type="file">
                  </div>
                </div>

                <div class="row p-2">
                  <div class="col">
                    <progress id="uploadProgress" style="display: none" />
                  </div>
                </div>

                <div class="row p-2">
                  <div class="col">
                    <button id="btnUploadSubmit" type="button" class="btn btn-sm btn-quaternary" onclick="doUploadImage()">Submit</button>
                    <button id="btnUploadCancel" formmethod="dialog" type="submit" class="btn btn-sm btn-outline-quaternary">Cancel</button>
                  </div>
                </div>

              </form>
            </div>
          </dialog>

          <dialog id="chooseDialog" class="upload-modal">
            <h2>Choose Image</h2>
            <form method="dialog">
              <input type="text" />
              <button formmethod="dialog" type="submit">Cancel</button>
              <button type="submit">Submit</button>
            </form>
          </dialog>

          <div class="card-title alert alert-quaternary">
            <h5>New Store Item</h5>

            <th:block th:if="${session.msg}">
              <p th:text="${session.msg}"/>
              <th:block th:text="${#session.removeAttribute('msg')}" />
            </th:block>

          </div>

          <div class="card-body">

            <form method="post" th:action="@{/store/createitem}">
              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="name" class="form-label">Item Name</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <input th:value="*{name}" type="text" class="form-control" id="name" name="name">
                </div>
              </div>
              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="description" class="form-label">First Name</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <textarea class="form-control" id="description" name="description" th:text="*{description}"></textarea>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-4">
                  <label for="specialOrder" class="form-check-label">Special Order</label>
                </div>
                <div class="col-2">
                  <input th:value="*{available}" type="checkbox" class="form-check-input"
                         id="specialOrder" name="specialOrder" th:checked="*{specialOrder}">
                </div>
                <div class="col-4">
                  <label for="available" class="form-check-label">Available</label>
                </div>
                <div class="col-2">
                  <input th:value="*{available}" type="checkbox" class="form-check-input"
                         id="available" name="available" th:checked="*{available}">
                </div>
              </div>

              <div class="row p-2">
                <div class="col-4">
                  <label for="count" class="form-label">Count</label>
                </div>
                <div class="col-2">
                  <input th:value="*{count}" type="text" class="form-control" id="count"  name="count">
                </div>
                <div class="col-4">
                  <label for="leadTime" class="form-label">Lead Time</label>
                </div>
                <div class="col-2">
                  <input th:value="*{leadTime}" type="text" class="form-control" id="leadTime"  name="leadTime">
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="owner" class="form-label">Owner</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <select id="owner" name="owner" class="form-control">
                    <option value="" disabled selected>Select Owner</option>
                    <option th:each="p : ${userList}" th:value="${p.id}"
                            th:text="${p.firstName} + ' ' + ${p.lastName}"></option>
                  </select>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="department" class="form-label">Department</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <select id="department" name="department" class="form-control">
                    <option value="" disabled selected>Select Department</option>
                    <option th:each="d : ${departmentList}" th:value="${d.name}"
                            th:text="${d.name}"></option>
                  </select>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="position" class="form-label">Position</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <select id="position" name="position" class="form-control">
                    <option value="" disabled selected>Select Position</option>
                    <option th:each="p : ${positionList}" th:value="${p.name}"
                            th:text="${p.name}"></option>
                  </select>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-12 col-sm-4">
                  <label for="image" class="form-label">Image URL</label>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <input type="hidden" class="form-control" id="image" name="image">
                  <input type="text" class="form-control" id="imagePath" name="imagePath">
                </div>
              </div>

              <div class="row p-2">
                <div class="col-6">
                  <button type="button" class="btn btn-quaternary" onclick="uploadImageClick()">Upload Image</button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-outline-quaternary" th:onclick="chooseImageClick()">Choose Existing</button>
                </div>
              </div>

              <div class="row p-2">
                <div class="col-xs-12">
                  <button type="submit" class="btn btn-primary">Add</button>
                  <button type="button" class="btn btn-warning" th:onclick="window.location.href=[[${session.redirectPath}]];">Cancel</button>
                </div>
              </div>
            </form>

          </div>

          <script>
            function uploadImageClick() {
              document.getElementById("uploadDialog").showModal();
            }

            function chooseImageClick() {
              document.getElementById("chooseDialog").showModal(); // Opens a modal
            }
          </script>

        </div>

      </div>
    </div>
  </div>
</div>

</html>