<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}" xmlns="http://www.w3.org/1999/html">

<div class="container m-0 p-0" layout:fragment="content">

  <div th:replace="~{store/moduleHeader :: header}">Header</div>

  <th:block th:if="${session.msg}">
    <p th:text="${session.msg}"/>
    <th:block th:text="${#session.removeAttribute('msg')}" />
  </th:block>

  <div class="container">
    <div class="row">
      <div class="column">

        <div th:replace="~{components/cardStoreItemLG :: cardFragment(${storeItem})}">Card</div>



      </div>
    </div>
  </div>
</div>

</html>