<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}" xmlns="http://www.w3.org/1999/html">

<div class="container m-0 p-0" layout:fragment="content">

  <div class="container" th:object="${storeItem}">
    <div class="row">
      <div class="column col-lg-6">

        <div class="card">

          <div class="card-title alert alert-quaternary">
            <h5 th:text="*{name}"></h5>

            <th:block th:if="${session.msg}">
              <p th:text="${session.msg}"/>
              <th:block th:text="${#session.removeAttribute('msg')}" />
            </th:block>

          </div>

          <div class="card-body">


          </div>

        </div>

      </div>
    </div>
  </div>
</div>

</html>