<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid" layout:fragment="content">
  <template id="tmpSubCat">
    <div class="m-1">
      <div style="float: right;">
        <button class="btn btn-sm btn-store">Edit</button>
        <button class="btn btn-sm btn-outline-store">Delete</button>
      </div>
      <p style="width: 100%;">Sub-Category</p>
    </div>
  </template>

  <div th:replace="~{store/moduleHeader :: header}">Header</div>

  <div class="container my-3">

    <div class="row">

      <div class="col-xs-1 col-md-2">
        <h2 class="color-store">Settings</h2>
      </div>

    </div>

    <div class="row">

      <div class="card" style="max-width: 450px;">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item selectableItem" style="cursor: pointer;"
                onclick="window.location.href='/store/imageManager'">
              Manage Uploaded Images
            </li>
            <li class="list-group-item selectableItem">
              <label class="form-check-label">Restrict Items by Position</label>
              <input id="inputRestrictPosition" type="checkbox" onchange="updateRestrictions('restrictStorePosition')">
            </li>
            <li class="list-group-item selectableItem">
              <label class="form-check-label">Restrict Items by Department</label>
              <input id="inputRestrictDepartment" type="checkbox" onchange="updateRestrictions('restrictStoreDepartment')">
            </li>
          </ul>

          <div class="pt-4">
            <h4>Store Home Page</h4>
            <p>Leave blank to use default page of recent articles.</p>
            <input id="inputStoreHome" type="text" style="width: 300px" th:value="${storeHome}" onkeyup="inputStoreHomeSubmit()">
            <button id="btnStoreHome" type="button" class="btn btn-sm btn-outline-store" onclick="updateStoreHome()">Update</button>
          </div>
        </div>
      </div>

      <div class="card" style="max-width: 450px;">
        <div class="card-title m-4">
          <button class="btn btn-sm btn-store" style="float: right;" onclick="newCategory()">Add Category</button>
          <h4>Categories</h4>
        </div>
        <div class="card-body">
          <select id="categoryList" class="form-control-sm" onchange="getSubCategories()" style="width: 200px;">
            <option th:each="c : ${categoryList}" th:value="${c.id}" th:text="${c.name}"></option>
          </select>
          <div style="display: inline-block; float: right;">
            <button id="editCategory" type="button" class="btn btn-sm btn-store"
                    style="display: none;" onclick="editCat()">Edit</button>
            <button id="deleteCategory" type="button" class="btn btn-sm btn-outline-store pl-2"
                    style="display: none;" onclick="deleteCat()">Delete</button>
          </div>
          <hr/>
          <div id="subCategories"></div>
          <div id="editSubCategory" class="pt-4" style="display: none;">
            <input id="editSubId" type="hidden" value="0">
            <input id="editSubName" type="text" class="form-control" style="width: 200px; display: inline-block;">
            <div style="float: right; display: inline-block">
              <button id="editSubSend" type="button" class="btn btn-sm btn-store" style="display: inline-block" onclick="updateSub()">Submit</button>
              <button id="clearSubSend" type="button" class="btn btn-sm btn-store pl-2" style="display: inline-block" onclick="clearSub()">Clear</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <dialog id="newCategoryDialog" class="upload-modal">
    <script>
      async function postNewCat() {
        let formData = new FormData();
          formData.set("name", document.getElementById('catName').value)

        const response = await fetch('/api/v1/store/category/new', {
          method: 'POST',
          body: formData
        }).then(response => {
          return response.json();
        }).then(data => {
          console.log(data);
          let opt = document.createElement('option');
              opt.value = data.id;
              opt.innerHTML = data.name;
          categorySelect.appendChild(opt);
          document.getElementById('catName').value = "";
          editCatDisplay.style.display = "inline-block";
          setCategory(data.id);
          keyEscCat();
        });
      }
      function keyNewCat(event) {
        event.preventDefault();
        if (event.key === "Enter" || event.keyCode === 13) {
          postNewCat();
        }
        if (event.key === "Escape") {
          keyEscCat();
        }
      }

      function keyEscCat() {
        document.getElementById("newCategoryDialog").close();
      }

    </script>
    <h2>New Store item</h2>
    <form id="formNewItem" onsubmit="postNewCat()" style="width: 300px; max-width: 450px">
      <label for="catName" class="form-label">Name</label>
      <input class="form-control" id="catName" onkeyup="keyNewCat(event)">

      <div class="pt-2">
        <button id="btnSubmit" type="button" class="btn btn-sm btn-store" onclick="postNewCat()">Add Item</button>
        <button id="btnCancel" type="button" class="btn btn-sm btn-outline-store" onclick="keyEscCat()">Cancel</button>
      </div>

    </form>
  </dialog>

  <dialog id="editCategoryDialog" class="upload-modal">
    <script>
      async function putCat() {
        let formData = new FormData();
        formData.set("id", categorySelect.value)
        formData.set("name", document.getElementById('editCatName').value)

        const response = await fetch('/api/v1/store/category/update', {
          method: 'POST',
          body: formData
        }).then(response => {
          return response.json();
        }).then(data => {
          console.log(data);
          debugger
          let i = categorySelect.selectedIndex;
          let opt = categorySelect.options[i];
              opt.innerHTML = data.name;

          document.getElementById('editCatName').value = "";
          setCategory(data.id);
          keyEscEditCat();
        });
      }
      function keyEditCat(event) {
        event.preventDefault();
        if (event.key === "Enter" || event.keyCode === 13) {
          putCat();
        }
        if (event.key === "Escape") {
          keyEscEditCat();
        }
      }

      function keyEscEditCat() {
        document.getElementById("editCategoryDialog").close();
      }

    </script>
    <h2>Edit Category</h2>
    <form id="formEditItem" onsubmit="putCat()" style="width: 300px; max-width: 450px">
      <label for="editCatName" class="form-label">Name</label>
      <input class="form-control" id="editCatName" onkeyup="keyEditCat(event)">

      <div class="pt-2">
        <button id="btnEditSubmit" type="button" class="btn btn-sm btn-store" onclick="putCat()">Update</button>
        <button id="btnEditCancel" type="button" class="btn btn-sm btn-outline-store" onclick="keyEscEditCat()">Cancel</button>
      </div>

    </form>
  </dialog>

  <script th:inline="javascript">
    /*<![CDATA[*/
    let jsIsRestrictPosition = /*[[${restrictPosition}]]*/ false;
    let jsIsRestrictDepartment = /*[[${restrictDepartment}]]*/ false;
    /*]]>*/

    const categorySelect = document.getElementById("categoryList");
    const template = document.getElementById("tmpSubCat");
    const subCategoryDisplay = document.getElementById("subCategories");
    const editSubCategoryDisplay = document.getElementById("editSubCategory");
    const editSubIdDisplay = document.getElementById("editSubId");
    const editSubNameDisplay = document.getElementById("editSubName");
    const deleteCatDisplay = document.getElementById("deleteCategory")
    const editCatDisplay = document.getElementById("editCategory")

    const restrictPosition = document.getElementById("inputRestrictPosition");
    const restrictDepartment = document.getElementById("inputRestrictDepartment");

    restrictPosition.checked = jsIsRestrictPosition;
    restrictDepartment.checked = jsIsRestrictDepartment;

    async function updateRestrictions(auth) {
      let formData = new FormData();
        formData.set("name", auth)
      debugger
      const response = await fetch('/api/v1/store/setrestriction', {
        method: 'POST',
        body: formData
      }).then(response => {
        return response.json();
      }).then(data => {
        console.log(data);
      });
    }

    function newCategory() {
      document.getElementById("newCategoryDialog").showModal();
    }

    async function getSubCategories() {
      while (subCategoryDisplay.firstChild) {
        subCategoryDisplay.removeChild(subCategoryDisplay.lastChild);
      }
      let formData = new FormData();
        formData.set("id", categorySelect.value)

      const response = await fetch('/api/v1/store/subcategories', {
        method: 'POST',
        body: formData
      }).then(response => {
        return response.json();
      }).then(data => {
        console.log(data);
        for (let key in data) {
          let obj = data[key];
          let divID = "id-" + obj.id;

          let clone = template.content.cloneNode(true);
          let nameDiv = clone.querySelector("p");
              nameDiv.innerText = obj.name;

          let btnDiv = clone.querySelectorAll("button");
              btnDiv[0].addEventListener("click", function (event) {
            editSub(obj.id, obj.name);
          });
              btnDiv[1].addEventListener("click", function (event) {
            deleteSub(obj.id, obj.name);
          });

          subCategoryDisplay.appendChild(clone);
        }
        if (data.length > 0) {
          deleteCatDisplay.style.display = "none";
        } else {
          deleteCatDisplay.style.display = "inline-block";
        }
        editCatDisplay.style.display = "inline-block";
        clearSub();
      });
    }

    function clearSub() {
      editSubCategoryDisplay.style.display = "block";
      editSubIdDisplay.value = 0;
      editSubNameDisplay.value = "";
    }

    function editSub(id, name) {
      debugger
      editSubIdDisplay.value = id;
      editSubNameDisplay.value = name;
    }

    async function updateSub() {
      let formData = new FormData();
          formData.set("id", editSubIdDisplay.value)
          formData.set("name", editSubNameDisplay.value)
          formData.set("parentId",categorySelect.value)

      const response = await fetch('/api/v1/store/subcategory/edit', {
        method: 'POST',
        body: formData
      }).then(response => {
        return response.json();
      }).then(data => {
        getSubCategories();
      });
    }

    async function deleteSub(id, name) {
      let formData = new FormData();
          formData.set("id", editSubIdDisplay.value)
          formData.set("name", editSubNameDisplay.value)

      const response = await fetch('/api/v1/store/subcategory/count', {
        method: 'POST',
        body: formData
      }).then(response => {
        return response.json();
      }).then(data => {
        if (data.count > 0) {
          alert("Cannot delete Sub-Category. There are "+data.count+" store items assigned to it.")
        } else {
          deleteSubCategory(id, name)
        }
      });
    }

    async function deleteSubCategory(id, name) {
      let formData = new FormData();
        formData.set("id", id)
        formData.set("name", name)

      const response = await fetch('/api/v1/store/subcategory/delete', {
        method: 'POST',
        body: formData
      }).then(response => {
        return response.json();
      }).then(data => {
        getSubCategories();
      });
    }

    function editCat() {
      let i = categorySelect.selectedIndex;
      let opt = categorySelect.options[i];
      document.getElementById("editCatName").value = opt.innerHTML;
      document.getElementById("editCategoryDialog").showModal();
    }

    async function deleteCat() {
      let formData = new FormData();
        formData.set("id", categorySelect.value)

      const response = await fetch('/api/v1/store/category/count', {
        method: 'POST',
        body: formData
      }).then(response => {
        return response.json();
      }).then(data => {
        if (data.count > 0) {
          alert("Cannot delete Sub-Category. There are "+data.count+" store items assigned to it.")
        } else {
          deleteCategory()
        }
      });
    }

    async function deleteCategory() {
      let formData = new FormData();
        formData.set("id", categorySelect.value)

      const response = await fetch('/api/v1/store/category/delete', {
        method: 'POST',
        body: formData
      }).then(response => {
        return response.json();
      }).then(data => {
        let i = categorySelect.selectedIndex;
        categorySelect.removeChild(categorySelect[i]);
        categorySelect.dispatchEvent(new Event('change'));
      });
      if (categorySelect.options.length === 0) {
        editCatDisplay.style.display = "none";
        deleteCatDisplay.style.display = "none";
        editSubCategoryDisplay.style.display = "none";
      }
    }

    function setCategory(id) {
      categorySelect.value = id;
      categorySelect.dispatchEvent(new Event('change'));
    }

    function inputStoreHomeSubmit(event) {
      event.preventDefault();
      if (event.key === 'Enter' || event.keyCode === 13) {
        updatePortalHome();
      }

    }
    async function updateStoreHome() {
      let pHome = document.getElementById("inputStoreHome");
      let bStoreHome = document.getElementById("btnStoreHome");

      bStoreHome.disabled = true;

      let theForm = new FormData();
      theForm.set("name", pHome.value);
      const response = await fetch("/api/v1/wiki/updatesitehome", {
        method: 'POST',
        body: theForm
      }).then(response => {
        return response.json();
      }).then(data => {
        debugger
        bStoreHome.disabled = false;
      });
    }

    if (categorySelect.value !== "" && categorySelect.value > 0) {
      editCatDisplay.style.display = "inline-block";
      clearSub();
      getSubCategories()
    }

  </script>

</div>

</html>