<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

<div th:replace="~{store/moduleHeader :: header}">Header</div>

    <div class="wrapper flex-grow-1">
        <div id="mainContent" class="wrapper d-flex">

        <div id="storeCategoryNav" class="navbar navbar-light bg-light flex-fill px-2 pt-1 d-none d-md-block">
            <h5 id="storeCategoryNavTitle" onclick="clearCategory()" style="cursor: pointer">Categories</h5>
            <ul class="navbar-nav pb-3" th:each="cat : ${categoryList}">
                <li class="nav-item dropdown" th:id="*{cat.name}">
                    <a class="nav-link dropdown-toggle" href="#" th:onclick="selectCategory([[*{cat.name}]])"
                       th:id="*{cat.name}+'dropdown'" role="button"
                       data-bs-toggle="dropdown" th:text="*{cat.name}"></a>
                    <ul class="dropdown-menu storeCategoryNav-dropdown-menu" th:aria-labelledby="*{cat.name}+'dropdown'"
                        th:unless="${#lists.isEmpty(cat.subCategoryList)}" th:each="sub : ${cat.subCategoryList}">
                        <li><a class="dropdown-item" th:href="'/store/'+${sub.name}" th:text="${sub.name}"></a></li>
                    </ul>
                </li>
            </ul>

        </div>


        <div class="flex-fill p-1 pb-4 w-100 mx-2">

            <div th:utext="${wikiPost.body}"></div>

        </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let searchTerm = /*[[${searchTerm}]]*/ "";
        let selectedCategory = /*[[${selectedCategory}]]*/ "";
        let selectedSubCategory = /*[[${selectedSubCategory}]]*/ "";
        /*]]>*/

        document.getElementById("searchStoreInput").value = searchTerm;
        const dropdownNav = document.getElementById("storeCategoryNav");

        // close categoryNavs
        closeAllCategories()

        function closeAllCategories() {
            let dropdowns = dropdownNav.querySelectorAll('.dropdown');
            dropdowns.forEach(function(el){
                let dropdownMenuEl = el.querySelector('.dropdown-menu');
                el.setAttribute('aria-expanded', 'false');
                dropdownMenuEl.classList.remove('show');
            })
            openSelectedCategory();
        }
        function openSelectedCategory() {
            if (selectedCategory != null) {
                let dropdownEl = document.getElementById(selectedCategory);
                let dropdownMenuEl = dropdownEl.querySelector('.dropdown-menu');
                dropdownEl.setAttribute('aria-expanded', 'true');
                dropdownMenuEl.classList.add('show');
            }
        }
        function selectCategory(name) {
            debugger
            selectedCategory = name;
            closeAllCategories();
        }
        function clearCategory() {
            window.location.href="/store";
        }

        function navToItem(id) {
            window.location.href="/store/item/"+id;
        }
    </script>

    </div>
</div>

</div>

</html>