
:root {
    --dwc-color: #369fcc;
    --dwc-highlight: #dcf1fd;
    --dwc-gradient: #c8d6e1;

    --dwc-btn-color: #fff;
    --dwc-generic: #7d898c;
    --dwc-generic-focus: #5a6369;
    --dwc-generic-active: #596a70;
    --dwc-generic-disable: #709094;
    --dwc-generic-selected: #899898;

    --dwc-wiki: #0d6efd;
    --dwc-wiki-focus: #0b5ed7;
    --dwc-wiki-active: #0a58ca;
    --dwc-wiki-disable: #0d6efd;
    --dwc-wiki-selected: #518be0;

    --dwc-store: #FF7F50;
    --dwc-store-focus: #d26841;
    --dwc-store-active: #a85234;
    --dwc-store-disable: #f87b4c;
    --dwc-store-selected: #f88e67;

    --dwc-support: #6f42c1;
    --dwc-support-focus: #6115de;
    --dwc-support-active: #550ec7;
    --dwc-support-disable: #7948d5;
    --dwc-support-selected: #835acc;
    --dwc-support-accent: #e5d7fd;
    --dwc-support-title-1: rgba(225, 171, 250, 0.3);
    --dwc-support-title-2: rgba(144, 144, 144, 0.4);

    --dwc-cancel: #f82105;
    --dwc-cancel-focus: #d0210a;
    --dwc-cancel-active: #b21b07;
    --dwc-cancel-disable: #f3351c;
    --dwc-cancel-selected: #de4430;

    --dwc-form-bg: #fff;
    --dwc-form-border: #86b7fe;

    --dwc-body-color: #212529;
    --dwc-body-bg: #fff;
    --dwc-border-color: #808080;
    --dwc-side-nav-bg: #eeeeee;
    --dwc-nav: #414141;
    --dwc-nav-link-color: #fff;
    --dwc-login-color: #daeeff;

    --dwc-popup-body-bg: #c7c7c7;
}

body {
    min-width: 340px;
    font-size: 1.15rem;
}
dialog {
    background-color: var(--dwc-body-bg);
}

#app {
    position: fixed;
    top: 0;
    bottom: 3.25rem;
    left: 0;
    right: 0;
    margin: 0.25rem;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-scrolling: auto;
}

#appNav {
    position: fixed;
    bottom: 2px;
    left: 2px;
    right: 2px;
    border: black .1em solid;
    background-color: var(--dwc-nav);
    border-radius: 5px;
    line-height: 3rem;
    padding: 0;
    margin: 0;
    z-index: 100;
}

#appNav img {
    margin: 0;
    vertical-align: middle;
}

#appNav ul {
    list-style: none;
    margin: 0 0 0 0;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}

#appNav li {
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
}

.nav__search {
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav__search-hide {
    display: none;
}

.nav__search-input {
    flex-grow: 1;
    text-align: left;
    padding-right: 0.25rem;
}

.nav__search-button input {
    height: 2.25rem;
}

.nav__search-button {
    vertical-align: middle;
    line-height: 3rem;
    text-align: right;
    padding-left: 0.25rem;
}

.nav__search-button button {
    height: 2.25rem;
}

.nav__links {
    display: flex;
    flex-direction: row;
}

.nav__icon {
    padding-left: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav__link {
    color: var(--dwc-nav-link-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.app__link {
    color: var(--dwc-body-color);
    text-decoration: none;
}

/* Form Fields */
/* ----------- */
.form-content {
    width: 100%;
}

.form-control {
    display: block;
    width: calc(100% - 27px);
    padding: 0.375rem 0.75rem;
    margin: 0.25rem 0 0.25rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid var(--dwc-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}
.form-control[type=file] {
    overflow: hidden;
}
.form-control:focus {
    color: var(--dwc-body-color);
    background-color: var(--dwc-form-bg);
    border-color: var(--dwc-form-border);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* Buttons */
/* ------- */

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dwc-body-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}
.btn:hover {
    color: var(--dwc-body-color);
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.65;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

.btn-generic {
    color: var(--dwc-body-color);
    border: 1px solid var(--dwc-border-color);
}

.color-icon {
    color: var(--dwc-highlight);
}

.color-wiki {
    color: var(--dwc-wiki);
}

.btn-wiki {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-wiki);
    border-color:  var(--dwc-wiki);
}
.btn-wiki:hover {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-wiki-focus);
    border-color: var(--dwc-wiki-active);
}
.btn-check:focus + .btn-wiki, .btn-wiki:focus {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-wiki-focus);
    border-color: var(--dwc-wiki-active);
    box-shadow: 0 0 0 0.25rem  rgba(var(--dwc-wiki), 0.5);
}
.btn-check:checked + .btn-wiki, .btn-check:active + .btn-wiki, .btn-wiki:active, .btn-wiki.active, .show > .btn-wiki.dropdown-toggle {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-wiki-active);
    border-color: var(--dwc-wiki-focus);
}
.btn-check:checked + .btn-wiki:focus, .btn-check:active + .btn-wiki:focus, .btn-wiki:active:focus, .btn-wiki.active:focus, .show > .btn-wiki.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-wiki), 0.5);
}
.btn-wiki:disabled, .btn-wiki.disabled {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-wiki-active);
    border-color: var(--dwc-wiki-active);
}


.btn-outline-wiki {
    color: var(--dwc-wiki-active);
    border-color: var(--dwc-wiki-active);
}
.btn-outline-wiki:hover {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-wiki-active);
    border-color: var(--dwc-wiki-active);
}
.btn-check:focus + .btn-outline-wiki, .btn-outline-wiki:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-wiki-active), 0.5);
}
.btn-check:checked + .btn-outline-wiki, .btn-check:active + .btn-outline-wiki, .btn-outline-wiki:active, .btn-outline-wiki.active, .btn-outline-wiki.dropdown-toggle.show {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-wiki-active);
    border-color: var(--dwc-wiki-active);
}
.btn-check:checked + .btn-outline-wiki:focus, .btn-check:active + .btn-outline-wiki:focus, .btn-outline-wiki:active:focus, .btn-outline-wiki.active:focus, .btn-outline-wiki.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-wiki-active), 0.5);
}
.btn-outline-wiki:disabled, .btn-outline-wiki.disabled {
    color: var(--dwc-wiki-active);
    background-color: transparent;
}

.tag_primary {
    border: 1px solid var(--dwc-wiki);
    border-radius: 3px;
}

.tag_selected_primary {
    background-color: var(--dwc-wiki-selected);
}


.color-support {
    color: var(--dwc-support);
}

.btn-support {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-support);
    border-color: var(--dwc-support);
}
.btn-support:hover {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-support-focus);
    border-color: var(--dwc-support-active);
}
.btn-check:focus + .btn-support, .btn-support:focus {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-support-focus);
    border-color: var(--dwc-support-active);
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-support), 0.5);
}
.btn-check:checked + .btn-support, .btn-check:active + .btn-support, .btn-support:active, .btn-support.active, .show > .btn-support.dropdown-toggle {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-support-active);
    border-color: var(--dwc-support-focus);
}
.btn-check:checked + .btn-support:focus, .btn-check:active + .btn-support:focus, .btn-support:active:focus, .btn-support.active:focus, .show > .btn-support.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-support), 0.5);
}
.btn-support:disabled, .btn-support.disabled {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-support-disable);
    border-color: var(--dwc-support-disable);
}


.btn-outline-support {
    color: var(--dwc-support);
    border-color: var(--dwc-support);
}
.btn-outline-support:hover {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-support);
    border-color: var(--dwc-support);
}
.btn-check:focus + .btn-outline-support, .btn-outline-support:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-support), 0.5);
}
.btn-check:checked + .btn-outline-support, .btn-check:active + .btn-outline-support, .btn-outline-support:active, .btn-outline-support.active, .btn-outline-support.dropdown-toggle.show {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-support);
    border-color: var(--dwc-support);
}
.btn-check:checked + .btn-outline-support:focus, .btn-check:active + .btn-outline-support:focus, .btn-outline-support:active:focus, .btn-outline-support.active:focus, .btn-outline-support.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-support), 0.5);
}
.btn-outline-support:disabled, .btn-outline-support.disabled {
    color: var(--dwc-support);
    background-color: transparent;
}

.color-store {
    color: var(--dwc-store);
}

.btn-store {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-store);
    border-color: var(--dwc-store);
}
.btn-store:hover {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-store-focus);
    border-color: var(--dwc-store-active);
}
.btn-check:focus + .btn-store, .btn-store:focus {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-store-focus);
    border-color: var(--dwc-store-active);
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-store), 0.5);
}
.btn-check:checked + .btn-store, .btn-check:active + .btn-store, .btn-store:active, .btn-store.active, .show > .btn-store.dropdown-toggle {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-store-active);
    border-color: var(--dwc-store-focus);
}
.btn-check:checked + .btn-store:focus, .btn-check:active + .btn-store:focus, .btn-store:active:focus, .btn-store.active:focus, .show > .btn-store.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-store), 0.5);
}
.btn-store:disabled, .btn-store.disabled {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-store-disable);
    border-color: var(--dwc-store-disable);
}

.btn-outline-store {
    color: var(--dwc-store);
    border-color: var(--dwc-store);
}
.btn-outline-store:hover {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-store);
    border-color: var(--dwc-store);
}
.btn-check:focus + .btn-outline-store, .btn-outline-store:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-store), 0.5);
}
.btn-check:checked + .btn-outline-store, .btn-check:active + .btn-outline-store, .btn-outline-store:active, .btn-outline-store.active, .btn-outline-store.dropdown-toggle.show {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-store);
    border-color: var(--dwc-store);
}
.btn-check:checked + .btn-outline-store:focus, .btn-check:active + .btn-outline-store:focus, .btn-outline-store:active:focus, .btn-outline-store.active:focus, .btn-outline-store.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-store) 0.5);
}
.btn-outline-store:disabled, .btn-outline-store.disabled {
    color: var(--dwc-store);
    background-color: transparent;
}

.btn-cancel {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-cancel);
    border-color:  var(--dwc-cancel);
}
.btn-cancel:hover {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-cancel-focus);
    border-color: var(--dwc-cancel-active);
}
.btn-check:focus + .btn-cancel, .btn-cancel:focus {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-cancel-focus);
    border-color: var(--dwc-cancel-active);
    box-shadow: 0 0 0 0.25rem  rgba(var(--dwc-cancel), 0.5);
}
.btn-check:checked + .btn-cancel, .btn-check:active + .btn-cancel, .btn-cancel:active, .btn-cancel.active, .show > .btn-cancel.dropdown-toggle {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-cancel-active);
    border-color: var(--dwc-cancel-focus);
}
.btn-check:checked + .btn-cancel:focus, .btn-check:active + .btn-cancel:focus, .btn-cancel:active:focus, .btn-cancel.active:focus, .show > .btn-cancel.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-cancel), 0.5);
}
.btn-cancel:disabled, .btn-cancel.disabled {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-cancel-active);
    border-color: var(--dwc-cancel-active);
}


.btn-outline-cancel {
    color: var(--dwc-cancel-active);
    border-color: var(--dwc-cancel-active);
}
.btn-outline-cancel:hover {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-cancel-active);
    border-color: var(--dwc-cancel-active);
}
.btn-check:focus + .btn-outline-cancel, .btn-outline-cancel:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-cancel-active), 0.5);
}
.btn-check:checked + .btn-outline-cancel, .btn-check:active + .btn-outline-cancel, .btn-outline-cancel:active, .btn-outline-cancel.active, .btn-outline-cancel.dropdown-toggle.show {
    color:  var(--dwc-btn-color);
    background-color: var(--dwc-cancel-active);
    border-color: var(--dwc-cancel-active);
}
.btn-check:checked + .btn-outline-cancel:focus, .btn-check:active + .btn-outline-cancel:focus, .btn-outline-cancel:active:focus, .btn-outline-cancel.active:focus, .btn-outline-cancel.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dwc-cancel-active), 0.5);
}
.btn-outline-cancel:disabled, .btn-outline-cancel.disabled {
    color: var(--dwc-cancel-active);
    background-color: transparent;
}

.btn-mobile {
    height: 1.5rem;
    line-height: 0.8rem;
    font-size: 0.8rem;
}

.generic-icon {
    color: var(--dwc-body-color);
}

.selectable-image {
    display: inline-flex;
    cursor: pointer;
    border: 1px solid var(--dwc-form-border);
    border-radius: 0.25rem;
    height: 2rem;
    width: 2rem;
}

/* Dashboard */

.appList__item {
    width: calc(100% - 28px);
    padding: 0.375rem 0.75rem;
    margin: 0.25rem 0 0.25rem 0;
    border: 1px solid var(--dwc-border-color);
    border-radius: 0.25rem;
}
.appList__item-line {
    display: flex;
    flex-direction: row;
}

.appList__item-id {
    font-weight: bold;
    flex-grow: 1;
    font-size: 1rem;
}

.appList__item-name {
    flex-grow: 1;
    text-align: center;
}

.appList__item-detail {
    flex-grow: 1;
}

.appList__item-right {
    text-align: right;
}

/* Module Lists */

.list__item {
    width: calc(100% - 28px);
    padding: 0.375rem 0.75rem;
    margin: 0.25rem 0 0.25rem 0;
    border: 2px solid var(--dwc-border-color);
    border-radius: 0.25rem;
}
.list__Item-line {
    display: flex;
    flex-direction: row;
}

.item-id {
    font-weight: bold;
    font-size: 1rem;
}

.item-date {
    font-size: 1rem;
}

.item-user {
    font-size: 1rem;
    flex-grow: 1;
    text-align: center;
}

.item-detail {
    font-size: 1rem;
}

.item__hr {
    width: calc(100% - 20px);
}

/* ticket styles */
.ticket__group {
    display: flex;
    flex-direction: row;
    padding-top: 0.75rem;
}

.ticket__right {
    float: right;
    flex-grow: 1;
    text-align: right;
}

.ticket__left {
    float: left;
    flex-grow: 1;
    text-align: left;
}

.ticket__title {
    font-weight: bold;
    font-size: 1.25rem;
}

.ticket__detail {
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.ticket__detail-group {
    position: relative;
    width: calc(100% - 28px);
    padding: 0.375rem 0.75rem;
    margin: 0.25rem 0 0.25rem 0;
    border: 2px solid var(--dwc-border-color);
    border-radius: 0.25rem;
    z-index: 1;
}

.ticket__expand-group {
    opacity: 1;
    height: auto;
    transition-property: height, opacity;
    transition-duration: 0.8s;
}

.ticket__hide-group {
    display: none;
}

.ticket__collapse-group {
    opacity: 0;
    height: 0;
}

.ticket__detail-expand {
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    top: 5px;
    right: 5px;
}

.ticket__note {
    border: 2px solid var(--dwc-border-color);
    border-radius: 0.25rem;
}

.ticket__note-title {
    display: flex;
    flex-direction: row;
    background-color: var(--dwc-support-title-1);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.ticket__note-title-agent {
    background-color: var(--dwc-support-title-2);
}

.ticket__note-header {
    font-size: 1.25rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.ticket__note-user {
    font-size: 1rem;
    flex-grow: 1;
    text-align: left;
}

.ticket__note-date {
    font-size: 1rem;
    text-align: right;
}

.ticket__note-private {
    font-size: 1rem;
    padding-left: 0.1rem;
}

.ticket__note-detail {
    width: calc(100% - 28px);
    padding: 0.25rem;
}

.ticket__note-images {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

/* Requests */

.request__group {
    display: flex;
    flex-direction: row;
    padding-top: 0.75rem;
}

.request__item {
    border: 2px solid var(--dwc-border-color);
    border-radius: 0.25rem;
}

.request__item-detail {
    width: calc(100% - 28px);
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
}

.request__item-images {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.request__item-field-header {
    font-size: 1.25rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.request__item-field-left {
    font-size: 1rem;
    flex-grow: 1;
    text-align: left;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.request__item-field-right {
    font-size: 1rem;
    text-align: right;
    padding-left: 0.1rem;
    /*padding-right: 0.1rem;*/
}

.request__item-field-grow {
    font-size: 1rem;
    flex-grow: 1;
    text-align: center;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.request__item-top-right {
    position: absolute;
    top: 5px;
    right: 5px;
}

.request__item-bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.image-viewer__dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw);
    height: calc(100vh);
    border-radius: 0.25rem;
}

.image-viewer__div {
    padding: 0;
    margin: 0;
    background-color: var(--dwc-body-bg);
    vertical-align: middle;
    text-align: center;
}

.image-viewer__image {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.history-viewer__dialog {
    position: absolute;
    border-radius: 0.25rem;
    width: calc(100vw - 1rem);
    height: calc(100vh - 6rem);
    transform: translateY(-1.75rem);
}

.history-viewer__div {
    padding: 0;
    margin: 0;
}

/* Settings */
.settings__container {
    width: calc(100% - 5px);
    border: 2px solid var(--dwc-border-color);
    border-radius: 0.25rem;
    margin: 0;
    padding-right: 0;
}

.settings__container-label {
    display: inline-block;
    width: 30%;
    border-right: 2px solid var(--dwc-border-color);
    font-size: 1.15rem;
    margin: 0.25rem;
    padding: 0;
}

.settings__container-field {
    display: inline-block;
    width: 60%;
    font-size: 1rem;
    margin: 0.25rem;
    padding: 0;
}

.form__popup {
    position: fixed;
    top: 0;
    bottom: 3.4rem;
    left: 0;
    right: 0;
    vertical-align: middle;
    background-color: rgba(199, 199, 199, 0.5);
    z-index: 101;
}

.form__popup-content {
    position: absolute;
    top: 50%;
    margin: 0;
    width: calc(100% - .35rem);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: var(--dwc-popup-body-bg);
    border: 2px solid var(--dwc-border-color);
    border-radius: 0.25rem;
}

.request__item-field-center {
    flex-grow: 1;
    text-align: center;
}

.detail-padding-top {
    padding-top: 1rem;
}

.detail-padding-bottom {
    padding-bottom: 1rem;
}