
:root {
    --dwc-body-color-dark: #e6e6e6;
    --dwc-body-bg-dark: #363636;
    --dwc-border-color-dark: #b0b0b0;
    --dwc-nav-dark: #414141;
    --dwc-nav-link-color-dark: #fff;

    --dwc-popup-body-bg-dark: #656565;
}

dark,
.dark {
    background-color: var(--dwc-body-bg-dark);
    color: var(--dwc-body-color-dark);
    border-color: var(--dwc-border-color-dark);
}
.dark .image-viewer__dialog {
    background-color: var(--dwc-body-bg-dark);
}
.dark .history-viewer__dialog {
    color: var(--dwc-body-color-dark);
}

.dark .history-viewer__close {
    background-color: var(--dwc-body-bg-dark);
}

.dark dialog {
    background-color: var(--dwc-body-bg-dark);
}

.dark .btn-generic {
    color: var(--dwc-body-color-dark);
    border: 1px solid var(--dwc-border-color-dark);
    background-color: var(--dwc-body-bg-dark);
}

.dark .form__popup {
    background-color: rgba(101, 101, 101, 0.5);
}

.dark .form__popup-content {
    background-color: var(--dwc-popup-body-bg-dark);
}

.dark .btn-outline-cancel {
    color:  var(--dwc-btn-color);
}

.dark .btn-outline-support {
    color: var(--dwc-btn-color);
}