
:root {
    --dws-body-color-dark: #e6e6e6;
    --dws-body-bg-dark: #363636;
    --dws-border-color-dark: #b0b0b0;

    --dws-side-nav-bg-dark: #575757;
    --dws-side-nav-item-bg-dark: #838383;

    --dws-dropdown-hover-dark: #838383;
}


.dark,
.dark {
    background-color: var(--dws-body-bg-dark);
    color: var(--dws-body-color-dark);
    border-color: var(--dws-border-color-dark);
}
.dark .side-nav-collapsed {
    background-color: var(--dws-side-nav-bg-dark);
    color: var(--dws-body-color-dark);
}
.dark .side-nav-expanded {
    background-color: var(--dws-side-nav-bg-dark);
    color: var(--dws-body-color-dark);
}
.dark .dropdown-menu {
    background-color: var(--dws-side-nav-bg-dark);
    color: var(--dws-body-color-dark);
}

.dark .dropdown-item {
    background-color: var(--dws-side-nav-bg-dark);
    color: var(--dws-body-color-dark);
}
.dark .dropdown-item .hover {
    background-color: var(--dws-dropdown-hover-dark);
    color: var(--dws-body-color-dark);
    border-color: var(--dws-border-color-dark);
}