
:root {
    --dwc-body-color-dark: #e6e6e6;
    --dwc-body-bg-dark: #363636;
    --dwc-border-color-dark: #b0b0b0;

    --dwc-side-nav-bg-dark: #575757;
    --dwc-side-nav-item-bg-dark: #838383;

    --dwc-dropdown-hover-dark: #838383;
    --dwc-select-hover-dark: #36385b;
}


.dark,
.dark {
    background-color: var(--dwc-body-bg-dark);
    color: var(--dwc-body-color-dark);
    border-color: var(--dwc-border-color-dark);
}
.dark input {
    background-color: var(--dwc-dropdown-hover-dark);
    color: var(--dwc-body-color-dark) !important;
}
.dark select {
    background-color: var(--dwc-dropdown-hover-dark);
    color: var(--dwc-body-color-dark);
}
.dark textarea {
    background-color: var(--dwc-dropdown-hover-dark);
    color: var(--dwc-body-color-dark);
}
.dark .side-nav-collapsed {
    background-color: var(--dwc-side-nav-bg-dark);
    color: var(--dwc-body-color-dark);
}
.dark .side-nav-expanded {
    background-color: var(--dwc-side-nav-bg-dark);
    color: var(--dwc-body-color-dark);
}
.dark .list-group-item {
    background-color: var(--dwc-side-nav-bg-dark);
    color: var(--dwc-body-color-dark);
}

.dark .moduleTitle {
    color: var(--dwc-body-color-dark);
}

.dark .dwc-dropdown-menu {
    background-color: var(--dwc-side-nav-bg-dark);
    color: var(--dwc-body-color-dark);
}

.dark .dwc-dropdown-item {
    background-color: var(--dwc-side-nav-bg-dark);
    color: var(--dwc-body-color-dark);
}
.dark .dwc-dropdown-item:hover {
    background-color: var(--dwc-dropdown-hover-dark);
    color: var(--dwc-body-color-dark);
    border-color: var(--dwc-border-color-dark);
}

.dark .category-nav-title {
    color: var(--dwc-body-color-dark);
}
.dark .category-dropdown-menu:hover {
    background-color: var(--dwc-side-nav-bg-dark);
}
.dark .dropdown-item {
    color: var(--dwc-body-color-dark);
}
.dark .dropdown-item:hover {
    background: transparent;
}
.dark .dropdown-item:active {
    color: var(--dwc-body-color-dark);
    background: transparent;
}

.dark .nav-item a {
    color: var(--dwc-body-color-dark) !important;
}
.dark .nav-mod-header-link {
    color: var(--dwc-body-color-dark);
}
/*.dark .nav-item a{*/
/*    color: var(--dwc-page-nav) !important;*/
/*}*/

.dark .selectableItem:hover {
    background-color: var(--dwc-select-hover-dark);
}

.dark .btn-outline-wiki {
    color: #fff;
}
.dark .btn-outline-support {
    color: #fff;
}

.dark .card {
    background: transparent;
    border-color: var(--dwc-border-color-dark);
}
.dark .form-control {
    background-color: var(--dwc-dropdown-hover-dark);
}


.dark .store_card_image {
    border: 2px solid var(--dwc-border-color);
}
.dark .store_image {
    border: 2px solid var(--dwc-border-color);
}


.dark .autocomplete-items {
    border: 1px solid var(--dwc-border-color-dark);
}

.dark .autocomplete-items div {
    background-color: var(--dwc-body-bg-dark);
    border-bottom: 1px solid var(--dwc-border-color-dark);
}

/*when hovering an item:*/
.dark .autocomplete-items div:hover {
    background-color: var(--dwc-body-bg-dark);
}