
:root {
    --dws-color: #369fcc;
    --dws-highlight: #dcf1fd;
    --dws-gradient: #c8d6e1;
    
    --dws-wiki: #0d6efd;
    --dws-wiki-focus: #0b5ed7;
    --dws-wiki-active: #0a58ca;
    --dws-wiki-disable: #0d6efd;
    --dws-wiki-selected: #518be0;

    --dws-store: #FF7F50;
    --dws-store-focus: #d26841;
    --dws-store-active: #a85234;
    --dws-store-disable: #f87b4c;
    --dws-store-selected: #f88e67;

    --dws-support: #6f42c1;
    --dws-support-focus: #6115de;
    --dws-support-active: #550ec7;
    --dws-support-disable: #7948d5;
    --dws-support-selected: #835acc;

    --dws-body-color: #212529;
    --dws-body-bg: #fff;
    --dws-side-nav-bg: #eeeeee;
}

#landingVideo {
    background-color: black;
    position: fixed;
    top: 58px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -1000;
    object-fit: cover;
}
.login {
    position: fixed;
    top: 68px;
    right: 10px;
    z-index: 100;
    display: none;
    background: transparent;
}
.login-card {
    color: #daeeff;
    max-width: 450px;
    border: #0dcaf0 solid 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
}
.login-card .form-control {
    color: #daeeff;
    background-color: rgba(0,0,0,0.5);
}
.showLogin {
    display: block;
}

.side-nav-expanded {
    background-color: var(--dws-side-nav-bg);
    width: 170px;
    min-width: 170px;
    max-width: 170px;
    min-height: calc(100vh - 68px);
}
.side-nav-collapsed {
    background-color: var(--dws-side-nav-bg);
    width: 45px;
    min-width: 45px;
    max-width: 45px;
    min-height: calc(100vh - 68px);
}

#storeCategoryNavTitle {
    color: #6c6c6c;
}

#storeCategoryNav {
    margin-top: -5px;
    border-radius: 5px;
    min-height: calc(100vh - 175px);
}
.storeCategoryNav-dropdown-menu {
    color: #6c6c6c;
    background-color: transparent;
    border: none;
}


.selectableItem {
    cursor: pointer;
}
.selectableItem:hover {
    background-color: var(--dws-highlight);
}

.gradient-right {
    background-image: linear-gradient(to right, var(--dws-body-bg) , var(--dws-gradient));
}

.alert-fixed {
    position: fixed;
    text-align: center;
    vertical-align: middle;
    top: 5px;
    left: 25px;
    right:25px;
    height: 50px;
    z-index: 9999;
}

.alert-fixed-success {
    margin: auto;
    max-width: 500px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.alert-fixed-danger {
    margin: auto;
    max-width: 500px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.to-top-arrow {
    color: #a6d5ec;
    position: fixed;
    size: 34px;
    bottom: 8px; /* Place the button at the bottom of the page */
    left: 8px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer;
    opacity: 0;
}
.to-top-show {
    opacity: 1;
}

.cart-icon {
    font-size: 1.5rem;
    color: lightskyblue;
}

.cart-item-count {
    margin-left: -12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: -1px -1px black;
    z-index: 99;
}

.card-section {
    padding: 5px 5px 5px 5px;
    outline: 0.1em solid #a6d5ec;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.list-group-subitem {
    padding-left: 25px;
    font-size: small;
}



.color-wiki {
    color: var(--dws-wiki);
}

.btn-wiki {
    color: #fff;
    background-color: var(--dws-wiki);
    border-color:  var(--dws-wiki);
}
.btn-wiki:hover {
    color: #fff;
    background-color: var(--dws-wiki-focus);
    border-color: var(--dws-wiki-active);
}
.btn-check:focus + .btn-wiki, .btn-wiki:focus {
    color: #fff;
    background-color: var(--dws-wiki-focus);
    border-color: var(--dws-wiki-active);
    box-shadow: 0 0 0 0.25rem  rgba(var(--dws-wiki), 0.5);
}
.btn-check:checked + .btn-wiki, .btn-check:active + .btn-wiki, .btn-wiki:active, .btn-wiki.active, .show > .btn-wiki.dropdown-toggle {
    color: #fff;
    background-color: var(--dws-wiki-active);
    border-color: var(--dws-wiki-focus);
}
.btn-check:checked + .btn-wiki:focus, .btn-check:active + .btn-wiki:focus, .btn-wiki:active:focus, .btn-wiki.active:focus, .show > .btn-wiki.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-wiki), 0.5);
}
.btn-wiki:disabled, .btn-wiki.disabled {
    color: #fff;
    background-color: var(--dws-wiki-active);
    border-color: var(--dws-wiki-active);
}


.btn-outline-store {
    color: var(--dws-wiki-active);
    border-color: var(--dws-wiki-active);
}
.btn-outline-store:hover {
    color: #fff;
    background-color: var(--dws-wiki-active);
    border-color: var(--dws-wiki-active);
}
.btn-check:focus + .btn-outline-store, .btn-outline-store:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-wiki-active), 0.5);
}
.btn-check:checked + .btn-outline-store, .btn-check:active + .btn-outline-store, .btn-outline-store:active, .btn-outline-store.active, .btn-outline-store.dropdown-toggle.show {
    color: #fff;
    background-color: var(--dws-wiki-active);
    border-color: var(--dws-wiki-active);
}
.btn-check:checked + .btn-outline-store:focus, .btn-check:active + .btn-outline-store:focus, .btn-outline-store:active:focus, .btn-outline-store.active:focus, .btn-outline-store.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-wiki-active), 0.5);
}
.btn-outline-store:disabled, .btn-outline-store.disabled {
    color: var(--dws-wiki-active);
    background-color: transparent;
}

.tag_primary {
    border: 1px solid var(--dws-wiki);
    border-radius: 3px;
}

.tag_selected_primary {
    background-color: var(--dws-wiki-selected);
}


.color-support {
    color: var(--dws-support);
}

.btn-support {
    color: #fff;
    background-color: var(--dws-support);
    border-color: var(--dws-support);
}
.btn-support:hover {
    color: #fff;
    background-color: var(--dws-support-focus);
    border-color: var(--dws-support-active);
}
.btn-check:focus + .btn-support, .btn-support:focus {
    color: #fff;
    background-color: var(--dws-support-focus);
    border-color: var(--dws-support-active);
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-support), 0.5);
}
.btn-check:checked + .btn-support, .btn-check:active + .btn-support, .btn-support:active, .btn-support.active, .show > .btn-support.dropdown-toggle {
    color: #fff;
    background-color: var(--dws-support-active);
    border-color: var(--dws-support-focus);
}
.btn-check:checked + .btn-support:focus, .btn-check:active + .btn-support:focus, .btn-support:active:focus, .btn-support.active:focus, .show > .btn-support.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-support), 0.5);
}
.btn-support:disabled, .btn-support.disabled {
    color: #fff;
    background-color: var(--dws-support-disable);
    border-color: var(--dws-support-disable);
}


.btn-outline-support {
    color: var(--dws-support);
    border-color: var(--dws-support);
}
.btn-outline-support:hover {
    color: #fff;
    background-color: var(--dws-support);
    border-color: var(--dws-support);
}
.btn-check:focus + .btn-outline-support, .btn-outline-support:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-support), 0.5);
}
.btn-check:checked + .btn-outline-support, .btn-check:active + .btn-outline-support, .btn-outline-support:active, .btn-outline-support.active, .btn-outline-support.dropdown-toggle.show {
    color: #fff;
    background-color: var(--dws-support);
    border-color: var(--dws-support);
}
.btn-check:checked + .btn-outline-support:focus, .btn-check:active + .btn-outline-support:focus, .btn-outline-support:active:focus, .btn-outline-support.active:focus, .btn-outline-support.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-support), 0.5);
}
.btn-outline-support:disabled, .btn-outline-support.disabled {
    color: var(--dws-support);
    background-color: transparent;
}

.color-store {
    color: var(--dws-store);
}

.btn-store {
    color: #fff;
    background-color: var(--dws-store);
    border-color: var(--dws-store);
}
.btn-store:hover {
    color: #fff;
    background-color: var(--dws-store-focus);
    border-color: var(--dws-store-active);
}
.btn-check:focus + .btn-store, .btn-store:focus {
    color: #fff;
    background-color: var(--dws-store-focus);
    border-color: var(--dws-store-active);
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-store), 0.5);
}
.btn-check:checked + .btn-store, .btn-check:active + .btn-store, .btn-store:active, .btn-store.active, .show > .btn-store.dropdown-toggle {
    color: #fff;
    background-color: var(--dws-store-active);
    border-color: var(--dws-store-focus);
}
.btn-check:checked + .btn-store:focus, .btn-check:active + .btn-store:focus, .btn-store:active:focus, .btn-store.active:focus, .show > .btn-store.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-store), 0.5);
}
.btn-store:disabled, .btn-store.disabled {
    color: #fff;
    background-color: var(--dws-store-disable);
    border-color: var(--dws-store-disable);
}

.btn-outline-store {
    color: var(--dws-store);
    border-color: var(--dws-store);
}
.btn-outline-store:hover {
    color: #fff;
    background-color: var(--dws-store);
    border-color: var(--dws-store);
}
.btn-check:focus + .btn-outline-store, .btn-outline-store:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-store), 0.5);
}
.btn-check:checked + .btn-outline-store, .btn-check:active + .btn-outline-store, .btn-outline-store:active, .btn-outline-store.active, .btn-outline-store.dropdown-toggle.show {
    color: #fff;
    background-color: var(--dws-store);
    border-color: var(--dws-store);
}
.btn-check:checked + .btn-outline-store:focus, .btn-check:active + .btn-outline-store:focus, .btn-outline-store:active:focus, .btn-outline-store.active:focus, .btn-outline-store.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--dws-store) 0.5);
}
.btn-outline-store:disabled, .btn-outline-store.disabled {
    color: var(--dws-store);
    background-color: transparent;
}

.alert-support {
    color: #3b0896;
    background-color: #dcccfa;
    border-color: #ccb4f8;
}
.alert-support .alert-link {
    color: #06357a;
}
.alert-store {
    color: #932e08;
    background-color: #fad5c8;
    border-color: #f8c2ae;
}
.alert-store .alert-link {
    color: #FF7F50;
}

.upload-modal {
    border-radius: 5px;
}

.tag-dialog {
    border-radius: 5px;
    position: fixed;
    z-index: 98;
}

.grid_image_div {
    float: left;
    width: 100px;
    height: 125px;
    padding: 2px;
}
.grid_image_element {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    object-fit: contain;
}
.grid_image_selected {
    border: 2px solid var(--dws-store);
}
.grid_image_selected_primary {
    border: 2px solid var(--dws-wiki);
}

.store_line_image {
    max-height: 35px;
    padding: 2px;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}
.store_card_image {
    width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    float: left;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 5px;
}
.store_image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    float: left;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 5px;
}
/*.store_card_image {*/
/*    max-height: 250px;*/
/*    aspect-ratio: 1 / 1;*/
/*    position:relative;*/
/*    overflow:hidden;*/
/*}*/
/*.store_card_image img{*/
/*    position: absolute;*/
/*    object-fit: contain;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translateX(-50%) translateY(-50%);*/
/*}*/
.store_card_description {
    max-height: 250px;
    overflow: clip;
}

.store_grid_wrapper {
    display: grid;
    max-width: 1200px;
    gap: 0.5rem;
}
@media (min-width: 768px) {
    .store_grid_wrapper { grid-template-columns: repeat(2, 1fr); }
    .store_image { max-width: 250px; }
}
@media (min-width: 992px) {
    .store_grid_wrapper { grid-template-columns: repeat(3, 1fr); }
}

.folder-nav {
    width: 100%;
    height: 0%;
    overflow: clip;
    transition: width 1s;
}
.folder-nav-collapse {
    height: auto;
}

.orderHistory {
    height: 0px;
    display: none;
}
.orderHistoryExpand {
    height: auto;
    display: block;
}

/* Toggle Switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}