<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="/spa/css/app.css" rel="stylesheet">
    <link href="/spa/css/appDark.css" rel="stylesheet">
    <link rel="manifest" href="/spa/js/app.webmanifest" />
    <title>DWC</title>
  </head>
  <body class="dark">

    <nav id="appNav">
      <div class="nav__search nav__search-hide">
        <div class="nav__search-input">
          <input id="searchInput" type="text" class="form-control" autocomplete="false" placeholder="Search">
        </div>
        <div class="nav__search-button">
          <button id="searchButton" type="button" class="btn btn-sm btn-wiki">Search</button>
        </div>
      </div>
      <div class="nav__links">
<!--        <div style="flex-grow: 1; text-align: center">-->
<!--            <img src="/img/favicon.png" alt="Exchange Logo" width="32" data-nav-link="" />-->
<!--        </div>-->
        <div class="nav__button"  data-nav-link="">
            <i class="bi bi-house nav__icon color-icon" data-nav-link=""></i>
        </div>
        <div id="modRequest" class="nav__button module__hide" data-nav-link="requests">
          <i class="bi bi-cart4 nav__icon color-store" data-nav-link="requests"></i>
        </div>
        <div id="modTicket" class="nav__button module__hide" data-nav-link="tickets">
            <i class="bi bi-life-preserver nav__icon color-support" data-nav-link="tickets"></i>
        </div>
        <div class="nav__button" data-nav-link="settings">
            <i class="bi bi-gear nav__icon color-icon" data-nav-link="settings"></i>
        </div>
          <div class="nav__button" data-search="search">
              <i class="bi bi-search nav__icon color-icon" data-search="search"></i>
          </div>
          <div class="nav__button-menu" data-nav-menu="menu">
              <i class="bi bi-three-dots-vertical nav__menu color-icon" data-nav-menu="menu"></i>
          </div>
      </div>
    </nav>

    <div id="app"></div>

    <progress id="appProgress" max="100" style="display: none"></progress>

    <div id="appMenu" class="app__menu menu__hide">
        <ul>
            <li id="modUser" class="module__hide color-icon">Users</li>
            <li id="modResource" class="module__hide color-icon" data-nav-link="resources">Resources</li>
            <li id="modTicketNew" class="module__hide color-icon" data-nav-link="ticketNew">New Ticket</li>
        </ul>
    </div>

    <script type="module" src="/spa/js/app.js"></script>

  </body>
</html>