<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid" layout:fragment="content">

    <div class="row pt-4">
        <div class="col">
            <button type="button" class="btn btn-sm btn-outline-primary" style="float: right;" id="btnClear"
                                 th:onclick="clearCart([[${userId}]])" th:unless="${#lists.isEmpty(cart.cartItems)}">Clear Cart</button>
            <h1>Request Cart</h1>
            <p>Number of items in cart: <span id="subtitleCount" th:text="${cart.itemCount}"></span></p>
        </div>
    </div>

    <div class="col" th:if="${not #lists.isEmpty(cart.cartItems)}" th:each="item : ${cart.cartItems}">
      <div class="row">
        <div th:replace="~{components/cardCartItemLine :: cardFragment(${item})}">Your Cart is Empty</div>
      </div>
    </div>
    <div class="col" th:if="${#lists.isEmpty(cart.cartItems)}">
        <div class="row">
            <div>Your Cart is Empty</div>
        </div>
    </div>

    <div class="row pt-4" th:unless="${#lists.isEmpty(cart.cartItems)}">
        <div class="col-8 text-right">
            I agree to the terms and conditions of DWC.
            <input id="chkTerms" type="checkbox" onchange="changeTermsAgreement()">
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-sm btn-primary" style="float: right;" id="btnSend" disabled
                    th:onclick="placeOrder([[${userId}]])">Send Request</button>
        </div>
    </div>
    <div class="row pt-0 pb-5">
        <progress id="prgRequest" style="display: none;"></progress>
    </div>

    <div class="row py-5">
        <div class="col">
            <div style="float: right">
                <button class="btn btn-sm btn-outline-primary"
                        th:onclick="window.location.href='/profile/orders';">All Orders</button>
            </div>
            <h4>Recent Requests</h4>
        </div>
    </div>
    <div class="row" th:if="${not #lists.isEmpty(orderList)}" th:each="orderRequest : ${orderList}">
        <div class="row">
            <div th:replace="~{components/cardOrderLine :: cardFragment(${orderRequest})}">No Requests to Display</div>
        </div>
    </div>

    <script th:inline="javascript">
        const elCheckTerms = document.getElementById("chkTerms");
        const elButtonSend = document.getElementById("btnSend");
        const elButtonClear = document.getElementById("btnClear");
        const elProgressRequest = document.getElementById("prgRequest");

        function navToItem(id) {
            window.location.href="/store/item/"+id;
        }
        function navToRequest(id) {
            window.location.href="/profile/order/"+id;
        }

        async function updateCartItem(id, userid, target) {
            let counterID = id+"-counter";
            let counterEl = document.getElementById(counterID);
            let itemCount = counterEl.value
            let formData = new FormData();
                formData.set("id", id);
                formData.set("userId", userid);
                formData.set("count", itemCount);

            const response = await fetch('/api/v1/cart/'+target, {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                console.log(data);
                updateCartCounter(data);
                document.getElementById('subtitleCount').innerText = data;
                if (target === 'removeitem' || itemCount === '0') {
                    let itemID = id+"-item";
                    let itemEl = document.getElementById(itemID);
                    itemEl.remove();
                }
            });
        }

        async function clearCart(userid) {
            let formData = new FormData();
                formData.set("id", userid);

            const clearResponse = await fetch('/api/v1/cart/empty', {
                method: 'POST',
                body: formData
            }).then(response => {
                debugger
                window.location.reload();
            });
        }

        function changeTermsAgreement() {
            elButtonSend.setAttribute("disabled", "disabled");

            if (elCheckTerms.checked) {
                elButtonSend.removeAttribute("disabled");

            }
        }

        async function placeOrder(userid) {
            elButtonSend.setAttribute("disabled", "disabled");
            elButtonClear.setAttribute("disabled", "disabled");
            elProgressRequest.style.display = "block";

            let formData = new FormData();
                formData.set("id", userid);

            const response = await fetch('/api/v1/cart/placeOrder', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                console.log(data);
                window.location.href='/order/'+data.id;
            });
        }
    </script>

</div>


</html>