<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container m-0 p-0" layout:fragment="content">

  <div sec:authorize="isAuthenticated()">

    <div class="row">

      <div class="col">
        <div th:replace="~{components/home :: pageFragment}">Welcome</div>
      </div>

    </div>

  </div>

  <div sec:authorize="isAnonymous()">

    <div th:replace="~{components/cardLogin :: cardFragment}">Login</div>

  </div>

</div>

<!--
  <div class="card-section" sec:authorize="isAuthenticated()">
    <h2>Welcome</h2>
    <div th:if="${#lists.contains(userRoles,'ADMIN_WRITE') or #lists.contains(userRoles,'VOLUNTEER_READ')}">
      <div>This is only for ADMIN_WRITE or VOLUNTEER_READ</div>
    </div>
    <div sec:authorize="hasRole('USER')">Text visible to user.</div>
    <div sec:authorize="hasRole('ADMIN_WRITE')">Text visible to admin.</div>
    <div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div>
    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user's firstName:
    <div sec:authentication="principal.firstName"></div>
    Authenticated user's lastName:
    <div sec:authentication="principal.lastName"></div>
    Authenticated user's email:
    <div sec:authentication="principal.lastName"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>
  </div>
-->


</html>