<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid" layout:fragment="content">

  <div sec:authorize="isAuthenticated()">

    <div class="row">

      <div th:if="${wikiPost}" th:utext="${wikiPost.body}"></div>
      <div th:unless="${wikiPost}" class="col">
        <div th:replace="~{components/home :: pageFragment}">Welcome</div>
      </div>

    </div>

  </div>

  <div sec:authorize="isAnonymous()">

<!--    <iframe id="landingVideo" src="https://www.youtube-nocookie.com/embed/hoKc9k0sbG4?controls=0&autoplay=1&mute=1&webshare=0"></iframe>-->
    <video id="landingVideo" autoplay muted>
      <source src="/content/site/video/home_page.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
<!--        <iframe id="landingVideo"></iframe>-->

    <div id="loginCard" class="login">
      <div th:replace="~{components/cardLogin :: cardFragment}">Login</div>
    </div>

  </div>

    <script>
        const logiCd = document.getElementById('loginCard');
        function showLogin() {
            if (logiCd.classList.contains('showLogin')) {
                logiCd.classList.remove('showLogin');
            } else {
                logiCd.classList.add('showLogin');
            }
        }

        if (window.location.pathname === "/login") {
            logiCd.classList.add('showLogin');
        }
    </script>

</div>

</html>