<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container my-5" layout:fragment="content">
  <div class="row">
    <div class="col-md-6">


      <div class="card">
        <div class="card-header text-center">You have been logged out.</div>

        <div class="card-group">
          <a href="/login" class="btn btn-success">Login</a>
        </div>

      </div>
    </div>
  </div>
</div>
</html>