<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <div class="wrapper flex-grow-1">
    <div id="mainContent" class="wrapper d-flex">
    <div class="flex-fill p-1 pb-4 w-100 mx-2">

        <div class="p-2">
            <div class="h4 d-inline">Release Notes</div>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <div class="h5 d-inline">
                <i class="bi bi-journal-text" title="Release Notes"></i>
                <a href="/releasenotes/roadmap"><i class="bi bi-sign-merge-left" title="Road Map"></i></a>
            </div>
        </div>

        <div class="p-2">

            <div class="h5">0.2.7</div>
            <ul class="release-notes__list">
                <li>Tickets:</li>
                <ul>
                    <li>Added - Filter and Sort Tickets.</li>
                </ul>
                <li>Requests:</li>
                <ul>
                    <li>Updated - Checkbox for assigning all items to request supervisor is always available.</li>
                    <li>Added - Checkbox for changing status of all request items.</li>
                </ul>
                <li>PWA:</li>
                <ul>
                    <li>Added - Filter and Sort Tickets.</li>
                    <li>Added - Checkbox for assigning all items to request supervisor.</li>
                    <li>Added - Sort Requests.</li>
                    <li>Added - Checkbox for changing status of all request items.</li>
                </ul>
            </ul>

            <hr>

            <div class="h5">0.2.6</div>
            <ul class="release-notes__list">
                <li>Messaging:</li>
                <ul>
                    <li>Updated - Mobile notification subscription.</li>
                </ul>
                <li>Requests:</li>
                <ul>
                    <li>Added - Checkbox for assigning all items to request supervisor.</li>
                </ul>
            </ul>

            <div class="h5">0.2.5</div>
            <ul class="release-notes__list">
                <li>Messaging:</li>
                <ul>
                    <li>Fixed - Added top line to E=mails for Do Not Reply, updated Subject Line.</li>
                </ul>
            </ul>

            <div class="h5">0.2.4</div>
            <ul class="release-notes__list">
                <li>Requests:</li>
                <ul>
                    <li>Added - Options to split requests into separate orders base on store item department.</li>
                </ul>
                <li>Messaging:</li>
                <ul>
                    <li>Added - Tracking pixel to messages to mark read when opened in external mail app.</li>
                </ul>
                <li>PWA:</li>
                <ul>
                    <li>Added - New messaging module for send messages to groups of users.</li>
                    <li>Added - Read messages sent to you by users and the system.</li>
                </ul>
            </ul>

            <div class="h5">0.2.0</div>
            <ul class="release-notes__list">
                <li>Bump to 0.2.0: Out of Beta</li>
                <li>Messaging:</li>
                <ul>
                    <li>Added - New messaging module for send messages to groups of users.</li>
                    <li>Added - View and manage previously sent messages online.</li>
                </ul>
                <li>Requests:</li>
                <ul>
                    <li>Fixed - Hide editing options when viewing requests from user profile.</li>
                </ul>
                <li>System:</li>
                <ul>
                    <li>Fixed - System generated E-mails not sending on missing information.</li>
                    <li>Fixed - Made ID generators sequential.</li>
                </ul>
            </ul>


            <div class="h5">Beta 0.1.8</div>
            <ul class="release-notes__list">
                <li>PWA:</li>
                <ul>
                    <li>Fixed - reset scroll position on module load.</li>
                    <li>Fixed - app shortcut name is now 'Crew'.</li>
                </ul>
                <li>Resource:</li>
                <ul>
                    <li>Added - image manager to resource Settings.</li>
                </ul>
            </ul>

            <div class="h5">Beta 0.1.7</div>
            <ul class="release-notes__list">
                <li>Requests:</li>
                <ul>
                    <li>Fixed - request count showing incorrectly in settings</li>
                    <li>Fixed - closed requests showing in open request view</li>
                    <li>Fixed - closed requests were still able to be edited</li>
                </ul>
                <li>Settings:</li>
                <ul>
                    <li>Added - ability to delete position templates.</li>
                </ul>
                <li>PWA:</li>
                <ul>
                    <li>Fixed - input field types are no correct for mobile input.</li>
                </ul>
            </ul>

            <div class="h5">Beta 0.1.6</div>
            <ul class="release-notes__list">
                <li>Resources:</li>
                <ul>
                    <li>Fixed - info tab clicking scroll-to only scrolls page when expanding</li>
                </ul>
                <li>Store:</li>
                <ul>
                    <li>Fixed - sorting no longer changes when editing items.</li>
                    <li>Added - optional link field to resource articles that only shows in the store when a user has resource permissions.</li>
                </ul>
                <li>Settings:</li>
                <ul>
                    <li>Fixed - users with user write permission can now correctly view deleted users.</li>
                </ul>
                <li>PWA:</li>
                <ul>
                    <li>Fixed - articles are now correctly restricted by permission.</li>
                    <li>Fixed - viewable users are now correctly filter by permission.</li>
                    <li>Added - simplified user permission management.</li>
                    <li>Added - users can now be edited through the mobile app.</li>
                    <li>Added - new users can now be added through the mobile app.</li>
                </ul>
            </ul>

            <div class="h5">Beta 0.1.5</div>
            <ul class="release-notes__list">
                <li>Fixed - store search presenting blank page.</li>
                <li>Fixed - copy links for existing images while editing articles now copies the correct url.</li>
                <li>Added - link to all unavailable store items from store settings.</li>
            </ul>

            <div class="h5">Beta 0.1.4</div>
            <ul class="release-notes__list">
                <li>Store:</li>
                <ul>
                    <li>Fixed - store breaks when no items found.</li>
                    <li>Fixed - items can now be browsed by parent category.</li>
                    <li>Fixed - pagination information is now remembered for each session.</li>
                    <li>Added - store items that have no requests referenced can be deleted by admins.</li>
                </ul>
                <li>Store Image Manager:</li>
                <ul>
                    <li>Added - image names and descriptions can be edited.</li>
                    <li>Added - store items referencing each image are listed and can be navigable.</li>
                </ul>
                <li>Resources:</li>
                <ul>
                    <li>Fixed - Article title in help documentation.</li>
                    <li>Fixed - potential for article authors being unable to edit his or her own articles.</li>
                    <li>Added - resource home link to the breadcrumb menu at the top of each folder view.</li>
                    <li>Added - admin editable navigation menu to shortcuts on right side of the page.</li>
                    <li>Added - articles are now restricted based on user position.</li>
                </ul>
                <li>Settings:</li>
                <ul>
                    <li>Added - ability for ADMIN_WRITE role to edit user role descriptions.</li>
                </ul>
                <li>PWA for Mobile:</li>
                <ul>
                    <li>Removed - alert popup when coping URL link.</li>
                    <li>Fixed - Article link URL now shows article name instead of article ID.</li>
                    <li>Updated - Move resources link to main navigation and settings link to the hamburger menu.</li>
                </ul>
            </ul>

            <div class="h5">Beta 0.1.3</div>
            <ul class="release-notes__list">
                <li>Fixed - user director selection updates on campus change when editing users.</li>
                <li>Fixed - sending E-mails to supervisors.</li>
                <li>Fixed - unable to add new user.</li>
                <li>Fixed - sending E-mails to supervisors.</li>
                <li>PWA for Mobile - view for displaying lists of all ope tickets and all open requests.</li>

            </ul>

            <div class="h5">Beta 0.1.2</div>
            <ul class="release-notes__list">
                <li>Fixed - cart 'Reason and Notes' is now included only once, them removed when cart is empty.</li>
                <li>Fixed - CSS issue in Request and Support Modules where content was overflowing page.</li>
                <li>Fixed - article title links to use underscores to be url safe.</li>
                <li>Fixed - security to allow viewing of resource articles designated as 'Documentation' by all users.</li>
                <li>Fixed - author and date information in resource article lists for display on smaller browser windows.</li>
                <li>Updated - delineation between reqeust status request item status in order requests.</li>
                <li>Added - release notes.</li>
                <li>Added - header notification when an item is added to request cart form the store.</li>
                <li>Added - category navigation to store item page.</li>
                <li>Added - 'All Tickets' view for users with SUPPORT_SUPERVISOR role.</li>
                <li>Added - 'All Requests' view for users with REQUEST_SUPERVISOR role.</li>
                <li>Added - store item stats in store settings.</li>
                <li>Added - resource article stats in resource settings.</li>
                <li>Added - request stats in request settings.</li>
                <li>Added - support ticket stats in support settings.</li>
                <li>PWA for Mobile - added resource links for articles when navigating by id.</li>
                <li>PWA for Mobile - added notification request to onLoad event.</li>
                <li>PWA for Mobile - article links now stay within the app.</li>
                <li>PWA for Mobile - added article links for copying to send to other users.</li>
            </ul>

            <div class="h5">Beta 0.1.1</div>
            <ul class="release-notes__list">
                <li>Fixed - website title in browser tab.</li>
                <li>Fixed - store pagination page numbers to start with 1.</li>
                <li>Fixed - store categories header pointer cursor.</li>
                <li>Fixed - changed 'All Orders' in cart and profile to now read 'All Requests'</li>
                <li>Fixed - save new resources that have no summary or body content.</li>
                <li>Fixed - clearing image information after uploading form dialog in the resource edit page.</li>
                <li>Fixed - copy image address in resource edit page missing beginning of address link.</li>
                <li>Fixed - USER_WRITE role can only edit user permission the currently logged-in user has permission for.</li>
                <li>Fixed - director access to campus and department sections of site settings.</li>
                <li>Updated - resource folder list now only show folders one level deep.</li>
                <li>Added - store pagination number of items to display selection.</li>
                <li>Added - resource folder titles are now breadcrumb links.</li>
                <li>Added - pin to top feature for articles to always show them a top of lists in folders.</li>
                <li>Added - SupportAgents option for new ticket submissions in support settings.</li>
            </ul>


        </div>
    </div>
    </div>
    </div>

</div>

</html>