<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">

<div class="container-fluid m-0 p-0" layout:fragment="content">

    <script src="https://cdn.tiny.cloud/1/d34njokcv44llbkidi9xzg4nygezokgli9hsheb7tk7zkqxk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <div th:replace="~{messaging/moduleHeader :: header}">Header</div>

    <div class="container my-3" th:object="${message}">

        <h1 class="color-msg">New Message</h1>

        <div class="m-3">
            <form id="frmSendMessage">
                <div class="row p-2">
                    <div class="col-xs-12 col-sm-3">
                        <label for="sendToLabel" class="form-label">
                            <button type="button" class="btn btn-sm btn-outline-generic" onclick="messageToGroup()">
                                To: <i class="bi bi-card-list h5"></i>
                            </button>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <input id="sendToLabel" class="form-control" name="sendToLabel" type="text" th:value="*{toUsersName}" disabled>
                        <input id="sendTo" class="form-control" type="hidden" th:value="*{toUsersId}">
                        <input id="sendId" class="form-control" type="hidden" th:value="*{id}">
                        <input id="sendUser" class="form-control" type="hidden" th:value="*{userId}">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-xs-12 col-sm-3">
                        <label for="sendSubject" class="form-label">Subject:</label>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control" id="sendSubject" name="sendSubject" th:value="*{subject}">
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-sm btn-primary" onclick="messageDraft()">
                            Save Draft
                            <i id="savingIcon" class="bi bi-file-earmark-arrow-up" style="visibility: hidden;"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-success" onclick="messageSend()">
                            Send
                            <i id="sendIcon" class="bi bi-send" style="visibility: hidden;"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-warning" th:onclick="window.location.href=[[${session.redirectPath}]];">Cancel</button>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-sm btn-danger" onclick="messageDelete()">Delete</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <textarea id="sendBody" th:text="*{messageBody}" style="width:100%; height: calc(100vh - 175px)"></textarea>
                        <script>
                            tinymce.init({
                                selector: '#sendBody',
                                plugins: 'link lists image media code',
                                toolbar: 'alignleft aligncenter alignright alignjustify | formatselect | bullist numlist | outdent indent | link code',
                                toolbar_mode: 'floating',
                                relative_urls: false,
                                remove_script_host: true,
                                document_base_url: 'https://www.destinyworshipcrew.com/'
                            });
                        </script>
                    </div>
                </div>
            </form>
        </div>

        <dialog id="selectGroupDialog" class="upload-modal">
            <script>
                async function updateGroup() {
                    let getCampus;
                    let getDepartment;
                    let selectedGroup = document.getElementById('groupSelect');
                    document.getElementById('campusChooser').style.display = "none";
                    document.getElementById('departmentChooser').style.display = "none";
                    document.getElementById('userChooser').style.display = "none";

                    if (selectedGroup.value === "Campus Users"
                        || selectedGroup.value === "Department Users"
                        || selectedGroup.value === "Campus Department Directors") {
                        getCampus = await loadCampuses();
                        getDepartment = await loadDepartments();
                    }

                    if (selectedGroup.value === "Campus Directors") {
                        getCampus =  await loadCampuses();
                    }

                    if (selectedGroup.value === "Regional Department Directors") {
                        getDepartment = await loadDepartments();
                    }
                    console.log(getCampus);
                    console.log(getDepartment);
                    await loadUsers();
                }

                async function loadCampuses() {
                    const selectCampus = document.getElementById('campusSelect');
                    for (let c=0; selectCampus.options.length > 0; c++) {
                        selectCampus.options.remove(0);
                    }

                    const campusResponse = await fetch('/api/v1/messaging/campuslist'
                    ).then(response => {
                        return response.json();
                    }).then(data => {
                        for (let i in data) {
                            let cmp = data[i];
                            let newOpt = document.createElement('option');
                                newOpt.value = cmp;
                                newOpt.text = cmp;
                            document.getElementById('campusSelect').appendChild(newOpt);
                        }
                        document.getElementById('campusSelect')[0].selected = true;
                        document.getElementById('campusChooser').style.display = "block";
                    });
                    return document.getElementById('campusSelect')[0].value;
                }

                async function loadDepartments() {

                    const selectDepartment = document.getElementById('departmentSelect');
                    for (let d=0; selectDepartment.options.length > 0; d++) {
                        selectDepartment.options.remove(0);
                    }

                    const departmentResponse = await fetch('/api/v1/messaging/departmentlist'
                    ).then(response => {
                        return response.json();
                    }).then(data => {
                        for (let i in data) {
                            let dpt = data[i];
                            let newOpt = document.createElement('option');
                                newOpt.value = dpt;
                                newOpt.text = dpt;
                            document.getElementById('departmentSelect').appendChild(newOpt);
                        }
                        document.getElementById('departmentSelect')[0].selected = true;
                        document.getElementById('departmentChooser').style.display = "block";
                    });
                    return document.getElementById('departmentSelect')[0].value;
                }

                async function loadUsers() {
                    const selectUser = document.getElementById('usersSelect');
                    for (let u=0; selectUser.options.length > 0; u++) {
                        selectUser.options.remove(0);
                    }

                    let formData = new FormData();
                    formData.set("campus", document.getElementById('campusSelect').value);
                    formData.set("department", document.getElementById('departmentSelect').value);
                    formData.set("listType", document.getElementById('groupSelect').value);

                    const response = await fetch('/api/v1/messaging/userlist/'+document.getElementById('sendId').value, {
                        method: 'POST',
                        body: formData
                    }).then(response => {
                        return response.json();
                    }).then(data => {
                        let noneSelected = true;
                        for (let i in data) {
                            let user = data[i];
                            let newOpt = document.createElement('option');
                                newOpt.value = user.id;
                                newOpt.text = user.fullName;
                                newOpt.selected = user.selected;
                            if (user.selected) { noneSelected = false; }
                            document.getElementById('usersSelect').appendChild(newOpt);
                        }
                        if (noneSelected) { document.getElementById('usersSelect')[0].selected = true; }
                        document.getElementById('userChooser').style.display = "block";
                    });
                    return true;
                }

                function dialogGroupOk() {
                    const selectUser = document.getElementById('usersSelect');
                    let selectedName = "";
                    let selectedValues = "";
                    let selectAll = false;
                    for (let i=0; i<selectUser.options.length; i++) {
                        if (i === 0) {
                            if (selectUser.options[i].selected) {
                                selectAll = true;
                            }
                        } else if (selectUser.options[i].selected || selectAll) {
                            // set value
                            if (selectedValues.length>0) {selectedValues+=", ";}
                            selectedValues+=selectUser.options[i].value;
                            // set name
                            if (selectedName.length>0) {selectedName+=", ";}
                            selectedName+=selectUser.options[i].text;
                        }
                    }
                    document.getElementById('sendToLabel').value = selectedName;
                    document.getElementById('sendTo').value = selectedValues;
                    document.getElementById("selectGroupDialog").close();
                }

                function dialogGroupClose() {
                    document.getElementById("selectGroupDialog").close();
                }

            </script>
            <form method="dialog">

                <div id="groupChooser">
                    Select Group:
                    <select id="groupSelect" class="form-control-sm w-100" onchange="updateGroup()">
                        <option th:each="group : ${groupList}" th:value="${group}" th:text="${group}"></option>
                    </select>
                </div>

                <div id="campusChooser">
                    Select Campus:
                    <select id="campusSelect" class="form-control-sm w-100" onchange="loadUsers()" multiple>
<!--                        <option th:each="u : ${userList}" th:value="${u.id}" th:text="${u.fullName}"></option>-->
                    </select>
                </div>
                <div id="departmentChooser">
                    Select Department:
                    <select id="departmentSelect" class="form-control-sm w-100" onchange="loadUsers()" multiple>
                        <option th:each="u : ${userList}" th:value="${u.id}" th:text="${u.fullName}"></option>
                    </select>
                </div>

                <div id="userChooser">
                    Select Users:
                    <select id="usersSelect" class="form-control-sm w-100" multiple>
                        <option th:each="u : ${userList}" th:value="${u.id}" th:text="${u.fullName}"></option>
                    </select>
                </div>

                <div class="d-flex">
                    <button type="button" class="btn btn-sm btn-msg m-2"
                            onclick="dialogGroupOk()">OK</button>
                    <button type="button" class="btn btn-sm btn-outline-danger m-2"
                            onclick="dialogGroupClose()">Cancel</button>
                </div>
            </form>
        </dialog>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const websiteDomain = /*[[${baseURL}]]*/ " ";
        /*]]>*/

        const dialogToGroup = document.getElementById('selectGroupDialog');
        const iconSaving = document.getElementById('savingIcon');
        const iconSending = document.getElementById('sendIcon');

        function messageToGroup() {
            updateGroup();
            dialogToGroup.showModal();
        }

        async function messageDraft() {
            iconSaving.style.visibility = 'visible';
            let myContent = tinyMCE.activeEditor.getContent();

            let formData = new FormData();
                formData.set("id", document.getElementById('sendId').value);
                formData.set("subject", document.getElementById('sendSubject').value);
                formData.set("draft", "true");
                formData.set("messageBody", myContent);
                formData.set("userId", document.getElementById('sendUser').value);
                formData.set("toUsersId", document.getElementById('sendTo').value);
                formData.set("toUsersName", document.getElementById('sendToLabel').value);

            const saveDraft = await fetch('/api/v1/messaging/save', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                document.getElementById('sendId').value = data.id;
                iconSaving.style.visibility = 'hidden';
            });
        }

        async function messageSend() {
            iconSending.style.visibility = 'visible';
            let myContent = tinyMCE.activeEditor.getContent();

            let formData = new FormData();
                formData.set("id", document.getElementById('sendId').value);
                formData.set("subject", document.getElementById('sendSubject').value);
                formData.set("draft", "true");
                formData.set("messageBody", myContent);
                formData.set("userId", document.getElementById('sendUser').value);
                formData.set("toUsersId", document.getElementById('sendTo').value);
                formData.set("toUsersName", document.getElementById('sendToLabel').value);

            const saveDraft = await fetch('/api/v1/messaging/send', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                iconSending.style.visibility = 'hidden';
                window.location.href='/messaging';
            });
        }

        async function messageDelete() {
            let formData = new FormData();
                formData.set("id", document.getElementById('sendId').value);

            const saveDraft = await fetch('/api/v1/messaging/delete', {
                method: 'POST',
                body: formData
            }).then(response => {
                return response.json();
            }).then(data => {
                window.location.href='/messaging';
            });
        }

    </script>

</div>

</html>